 .part1_center img {
 	width: 100%;
 	margin: 0.1rem 0;
 }
 
 .part1_center {
 	text-align: center;
 }
 
.part1_center p{
 	
 	color: #241714;
 }
  .part1_center p span{
  	display: block;
	/*	font-size: .2rem;*/
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
 	width: 120%;
 	margin-left: -10%;
  }
 
 .picScroll-left {
 	width: 7rem;
 	display: block;
 	margin: 0 auto;
 	position: relative;
 }
 
 .picScroll-left .bd {
 	width: 7rem;
 	margin: 0 auto;
 	overflow: hidden;
 	box-sizing: border-box;
 }
 
 .picScroll-left .bd li {
 	float: left;
 	position: relative;
 	text-align: center;
 	width: 7rem;
 	cursor: pointer;
 	z-index: 2;
 	margin: 0 2px;
 	/*box-sizing: border-box;*/
 	height: 4.71rem;
 }
 
 .picScroll-left .bd li img {
 	display: block;
 	width: 6.57rem;
 	height: 4.71rem;
 	box-sizing: border-box;
 	position: relative;
 	z-index: 2;
 	border: 1px solid #a5a6a6;
 }
 
 .picScroll-left .arrow {
 	float: left;
 	width: .4rem;
 	height: .4rem;
 	border-radius: 50%;
 	background-color: #fff;
 	cursor: pointer;
 	z-index: 99;
 }
 
 .picScroll-left .arrow img {
 	width: 100%;
 	height: 100%;
 	display: inline-block;
 }
 
 .picScroll-left .hd {
 	position: absolute;
 	bottom: -.6rem;
 	width: auto;
 	left: 2.5rem;
 }
 
 .picScroll-left .hd ul li {
 	font-size: 0;
 	width: .25rem;
 	height: .25rem;
 	background: #888889;
 	border-radius: 50%;
 	float: left;
 	margin-right: .08rem;
 }
 
 .picScroll-left .hd ul {
 	float: left;
 	margin-top: .08rem;
 	padding: 0 .1rem;
 }
 
 .picScroll-left .hd ul li.on {
 	color: #e00011;
 	background: #e00011;
 }
 
 .part1_bottom {
 	margin-top: .1rem;
 }
 
 .part2 {
 	margin-top: .9rem !important;
 }
 
 .part2 .btn-box {
 	margin-top: 1rem;
 }
 
 @media (max-width: 330px) {
 	.part1_center p {
 		font-size: .24rem;
 		transform: scale(.67);
 		-webkit-transform: scale(.67);
 		-o-transform: scale(.67);
 		-moz-transform: scale(.67);
 		-ms-transform: scale(.67);
 		width: 150%;
 		margin-left: -25%;
 		display: block;
 	}
 }