.lx .part1 {
  width: 100%;
  font-size: 0;
}
.lx .part1 img {
  width: 100%;
}
.lx .part2 {
  margin-top: 0.2rem;
  position:relative;
  z-index: 6;
}
.lx .part2 h2 {
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.58rem;
  margin-bottom: 0.2rem;
}
.lx .part2 h2 span {
  color: #c79f62;
}
.lx .part2 .box {
  margin: 0 auto;
  width: 6.9rem;
  margin: 0 auto;
  border: 2px solid #c79f62;
  padding-top: 0.27rem;
  padding-bottom: 0.2rem;
}
.lx .part2 .box form {
  width: 6.34rem;
  font-size: 0;
  margin: 0 auto;
  text-align: center;
}
.lx .part2 .box form input {
  font-size: 0.16rem;
  line-height: 0.47rem;
  background-color: #dcdddd;
}
.lx .part2 .box form input:nth-child(-n+3) {
  width: 2.05rem;
  height: 0.47rem;
  margin-right: 0.09rem;
  padding-left: 0.1rem;
  box-sizing: border-box;
}
.lx .part2 .box form input:nth-child(3) {
  margin-right: 0;
}
.lx .part2 .box form textarea {
  width: 100%;
  height: 2.09rem;
  resize: none;
  background-color: #dcdddd;
  padding: 0.12rem;
  box-sizing: border-box;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
.lx .part2 .box form .sub {
  width: 1.04rem;
  height: 0.27rem;
  line-height: 0.27rem;
  font-size: 0.16rem;
  color: #fff;
  background-color: #c79f62;
  border-radius: 0.03rem;
}
.lx .part3 {
  width: 100%;
  font-size: 0;
}
.lx .part3 img {
  width: 100%;
}
.lx .part4 {
  width: 6.86rem;
  height: 3.36rem;
  border: 2px solid #c79f62;
  margin: 0 auto;
  position:relative;
  z-index: 6;
}
.lx .part4 .map {
  width: 100%;
  height: 100%;
}
