.gy1 .part1 {
  padding-bottom: 0.8rem;
}

.gy1 .str {
  font-size: 0.18rem;
  line-height: 0.4rem;
  text-align: justify;
  color: #333333;
  margin-top: 0.3rem;
}

.gy1 img {
  display: block;
  width: 100%;
  margin-top: 0.4rem;
}

.gy2 .sub-title .p2 span {
  margin-left: 0.5rem;
}

.gy2 ul {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.gy2 ul li {
  width: 2.35rem;
}

.gy2 ul li:nth-child(2) {
  margin-top: -0.6rem;
}

.gy2 ul li:nth-last-child(2) {
  width: 2.95rem;
}

.gy2 ul li:last-child {
  width: 1.59rem;
}

.gy2 ul .pic {
  background: #f7f7f7;
  width: 100%;
  height: 1.74rem;
  overflow: hidden;
  margin-bottom: 0.08rem;
}

.gy2 ul img {
  display: block;
  width: 100%;
  margin-bottom: 0.08rem;
}

.gy2 ul .pic p {
  padding-left: 0.2rem;
  font-size: 0.16rem;
  color: #666666;
  display: flex;
  align-items: flex-end;
}

.gy2 ul .pic .p1 {
  padding-top: 0.3rem;
}

.gy2 ul .pic .p1 span:first-child {
  font-weight: bold;
  font-size: 0.24rem;
  color: #231815;
  margin-right: 0.2rem;
}

.gy2 ul .pic .p2 {
  font-size: 0.18rem;
  line-height: 0.28rem;
  margin-top: 0.24rem;
}

.gy2 ul li:nth-child(2) .pic {
  background: transparent;
  height: 0.9rem;
}

.gy2 ul li:nth-child(2) .pic p {
  padding-top: 0.4rem;
  padding-left: 0.1rem;
  text-transform: uppercase;
  color: #e5e5e5;
}

.gy3 ul {
  width: 6rem;
  padding-left: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  background: url(../img/gy/c_bg.jpg) left bottom no-repeat;
  background-size: 5.44rem 7.1rem;
}


.gy3 ul li {
  margin-top: 0.4rem;
  width: 2.6rem;
}

.gy3 ul .pic {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  z-index: 0;
}

.gy3 .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #efefef;
  position: absolute;
  top: -0.12rem;
  left: -0.12rem;
  z-index: -1;
}

.gy3 ul .pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gy3 ul .p1 {
  width: 2.1rem;
  height: 0.28rem;
  line-height: 0.28rem;
  border-radius: 0.2rem;
  margin: auto;
  text-align: center;
  background: #e62719;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.2rem;
  margin-top: -0.18rem;
  position: relative;
}

.gy3 ul .p2 {
  text-align: center;
  font-size: 0.18rem;
  color: #231815;
  margin-top: 0.06rem;
}

.gy4 .sub-title .p2 {
  flex-wrap: wrap;
}

.gy4 .sub-title .p2 span {
  width: 100%;
}

.gy4 .sub-title .p3 {
  font-size: 0.34rem;
}

.gy4 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.3rem;
  padding-bottom: 0.86rem;
}

.gy4 ul li {
  width: 2.9rem;
  padding-bottom: 0.3rem;
  background: #f7f7f7;
  margin-top: 0.26rem;
}

.gy4 ul img {
  display: block;
  width: 2.9rem;
  height: 2.16rem;
}

.gy4 ul p {
  text-align: justify;
  font-size: 0.16rem;
  line-height: 0.24rem;
  color: #000000;
}

.gy4 ul p:last-child {
  width: 2.5rem;
  margin: auto;
}

.gy4 ul p:first-child {
  display: flex;
  align-items: flex-end;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  white-space: nowrap;
}


.gy4 ul p:first-child span:first-child {
  color: #e61f19;
  font-size: 0.2rem;
  font-weight: bold;
  margin-right: 0.1rem;
}

.gy4 ul p:first-child span:last-child {
  color: #999999;
  transform: scale(0.76);
  -webkit-transform: scale(0.76);
  -o-transform: scale(0.76);
  -moz-transform: scale(0.76);
  -ms-transform: scale(0.76);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  -o-webkit-transform-origin: left bottom;
  -moz-webkit-transform-origin: left bottom;
  -ms-webkit-transform-origin: left bottom;
}