.content {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 88px 0 56px;
}

.main {
    width: 1440px;
    margin: 0 auto;
    min-height: 500px;
    height: auto;
}

.main .part1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 83px;
    padding-top: 22px;
}

.main .part1 .part1_l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
}

.main .part1 .part1_l .p1 {
    font-size: 82px;
    color: #c78440;
    font-family: myfont2;
    padding-bottom: 30px;
}

.main .part1 .part1_l .img {
    width: 344px;
    vertical-align: top;
}

.main .part1 .part1_l .p2 {
    font-size: 41px;
    color: #c78440;
    /* font-family: mufont; */
    font-weight: lighter;
    /* font-family: myfont2; */
    /* padding-bottom: 30px; */
}

.main .part1 .part1_l .title {
    display: inline-block;
    margin: 50px 0 42px;
    border-width: 2px 0 2px 0;
    border-color: #3f3b3a;
    border-style: solid;
    text-align: center;
    position: relative;
    font-family: myfont2;
}

.main .part1 .part1_l .title span {
    display: inline-block;
    line-height: 110px;
    font-size: 55px;
    color: #3e3a39;
    font-weight: bold;
}

.main .part1 .part1_l .title::before,
.main .part1 .part1_l .title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #3f3b3a;
    position: absolute;
    left: 0;
    bottom: 8px;
}

.main .part1 .part1_l .title::before {
    top: 8px;
}

.main .part1 .part1_r {
    /* width: 725px; */
    flex: 1;
    margin-right: 87px;
    position: relative;
}

.main .part1 .part1_r .swiper-container1 {
    width: 515px;
    overflow: hidden;
    margin: 0 auto;
}

.main .part1 .part1_r .swiper-slide {
    width: 515px;
    height: auto;
    background-color: transparent;
}

.main .part1 .part1_r .swiper-button-prev {
    left: 0px;
}

.main .part1 .part1_r .swiper-button-next {
    right: 0;
    left: none;
}

.main .hr {
    width: 100%;
    height: 0;
    border-top: 1px dashed #c78440;
}

.main .part2 {
    text-align: center;
}

.main .part2 .title {
    display: inline-block;
    margin: 60px 0 80px;
    border-width: 4px 0 4px 0;
    border-color: #3f3b3a;
    border-style: solid;
    text-align: center;
    position: relative;
    font-family: myfont2;
}

.main .part2 .title p {
    display: inline-block;
    line-height: 150px;
    font-size: 82px;
    color: #3e3a39;
    font-weight: bold;
}

.main .part2 .title p span {
    color: #c78440;
}

.main .part2 .title::before,
.main .part2 .title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3f3b3a;
    position: absolute;
    left: 0;
    bottom: 8px;
}

.main .part2 .title::before {
    top: 8px;
}

.main .part2 .banner {
    width: 100%;
    position: relative;
}

.swiper-container {
    width: 810px;
}

.swiper-slide {
    width: 232px;
    height: 416px;
    background-color: #f5f5f5;
}

.swiper-button-prev,
.swiper-button-next {
    background-image: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    outline: none;
}

.swiper-button-prev {
    left: 115px;
}

.swiper-button-next {
    right: 115px;
    left: none;
}

@media (max-width: 1440px) {
    .main {
        width: 98%;
    }
    .main .part1 .part1_r {
        margin-right: 60px;
    }
}

@media (max-width: 1366px) {
    .main {
        width: 98%;
    }
    .main .part1 .part1_r {
        margin-right: 20px;
    }
}

@media (max-width: 1280px) {
    .main {
        width: 1200px;
    }
    .main .part1 .part1_r {
        margin-right: 0px;
    }
}