

.index-title{
	text-align: center;
}
.index-title .en{
	font-size:0.24rem;
	line-height: 1;
	text-transform: uppercase;
	height:0.2rem;
	overflow: hidden;
	color:#b2b2b3;
}
.index-title .cn{
	font-size:0.45rem;
	color:#323232;
	line-height: 1;
	font-weight: bold;
	margin-top:0.1rem;
}
.index-title .add{
	font-size: 0.24rem;
	color:#3e3a39;
	margin-top: 0.1rem;
}


.part1{
	width: 100%;
	height: 5.44rem;
	background: url(../img/index/a_bg.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.45rem;
	box-sizing:border-box;
}
.part1-main{
	margin-left: 4.5rem;
	margin-top: 0.4rem;
}
.part1-main p{
	font-size: 0.24rem;
	color:#383838;
	line-height: 0.44rem;
}
.part1-main p span{
	font-weight: bold;
}
.part1-main a{
	font-size: 0.24rem;
	color:#0a66c7;
	margin-top: 0.3rem;
}


.part2{
	width: 100%;
	height:8.69rem;
	background: url(../img/index/b_bg.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.3rem;
	box-sizing:border-box;
}
.part2 .part2-title .p1{
	display:block;
	width: 2.04rem;
	margin:0 auto; 
}
.part2 .part2-title .p2{
	font-size: 0.44rem;
	color:#d4b96c;
	font-weight: bold;
	position:relative;
	text-align: center;
	line-height: 1;
	margin-top: 0.1rem;
}
.part2 .part2-title .p2::before{
	content:"";
	display: inline-block;
	width: 5.04rem;
	height: 0.7rem;
	background: url(../img/index/b2.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left: 1.23rem;
	top: 0.22rem;
}
.part2 .part2-title .p3{
	font-size: 0.25rem;
	line-height: 1;
	color:#fff;
	text-align: center;
	margin-top: 0.3rem;
}
.part2 .part2-main {
	text-align: center;
}
.part2 .part2-main p{
	font-size: 0.24rem;
	color:#fff;
	line-height: 0.42rem;
	margin-top: 0.2rem;
}
.part2 .part2-main img{
	display: block;
	width: 6.8rem;
	margin:0 auto;
	margin-top: 0.25rem;
}



.part3 .box{
	width: 6.84rem;
	margin:0 auto;
	margin-top: 0.2rem;
	border:1px solid #d4b96c;
	box-sizing: border-box;
}
.part3 .box:first-child{
	margin-top: 0.6rem;
}
.part3 .box .box-img{
	width: 3.4rem;
	height: 3.33rem;
}
.part3 .box .box-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part3 .box .box-fonts{
	width: 3.4rem;
	height: 3.33rem;
	position:relative;
	padding-top: 0.15rem;
	box-sizing: border-box;
	text-align: center;
}
.part3 .box .box-fonts .p1{
	width: 2.3rem;
	height: 0.36rem;
	line-height: 0.36rem;
	background-color: #d4b96c;
	margin:0 auto;
	font-size: 0.28rem;
	color:#fff;
}
.part3 .box .box-fonts .p2{
	font-size: 0.24rem;
	font-weight: bold;
	color:#3e3a39;
	line-height: 0.3rem;
	margin-top: 0.1rem;
}
.part3 .box .box-fonts .line{
	width: 1.4rem;
	height: 1px;
	background-color: #dddddd;
	margin:0 auto;
	position:relative;
	margin-top: 0.1rem;
}
.part3 .box .box-fonts .line::before{
	content:"";
	display: inline-block;
	width: 0.54rem;
	height: 0.04rem;
	background-color: #d4b96c;
	position:absolute;
	left: 50%;
	margin-left: -0.27rem;
	top:50%;
	margin-top: -0.02rem;
}
.part3 .box .box-fonts .p3{
	font-size: 0.24rem;
	color:#3e3a39;
	line-height: 0.38rem;
	margin-top: 0.25rem;
}
.part3 .box .box-fonts .more{
	width: 100%;
	text-align: center;
	position:absolute;
	bottom: 0.25rem;
}
.part3 .box .box-fonts .more a{
	color:#d4b96c;
}
.part3 .box:nth-child(2) .box-fonts .p3{
	margin-top: 0.15rem;
}



.part4{
	margin-top: 0.4rem;
}
.part4 .part4-main ul{
	width: 6.8rem;
	height: 6.72rem;
	background: url(../img/index/d-icon.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
	margin-top: 0.45rem;
}
.part4 .part4-main ul li{
	float:left;
	width: 3.1rem;
	height: 3.15rem;
	margin-right: 0.6rem;
	margin-bottom: 0.2rem;
}
.part4 .part4-main ul li:nth-child(2n){
	margin-right: 0;
}
.part4 .part4-main ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.part4 .part4-main .more{
	text-align: center;
	font-size: 0.24rem;
}
.part4 .part4-main .more a{
	color:#0a66c7;
}



.part5{
	width: 100%;
	height: 3.32rem;
	background: url(../img/index/e_bg.jpg) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.55rem;
}
.part5 .part5-main{
	width: 3.8rem;
	padding-top: 0.45rem;
	box-sizing: border-box;
}
.part5 .part5-main .index-title .en{
	color:#d4b96c;
}
.part5 .part5-main .index-title .add{
	font-size: 0.24rem;
	color:#d4b96c;
	font-weight: bold;
	margin-top: 0;
}
.part5 .part5-main .index-title .cn{
	font-size: 0.45rem;
	line-height: 0.64rem;
	color:#fff;
}
.part5 .part5-main .more{
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.2rem;
}
.part5 .part5-main .more a{
	color:#d4b96c;
}


.part6{
	width: 6.8rem;
	margin:0 auto;
	margin-top: 0.55rem;
}
.part6 .index-title .en{
	font-size: 0.3rem;
}
.part6 .index-title .cn{
	font-size: 0.3rem;
}
.part6 .news-top{
	display: block;
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.part6 .news-box .news{
	height: 0.5rem;
	line-height: 0.5rem;
	color:#3e3a39;
	position:relative;
	display: block;
	border-bottom: 1px dotted #e5e5e5;
}
.part6 .news-box .news .news-fonts{
	font-size: 0.24rem;
	float:left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 4.8rem;
    padding-left: 0.2rem;
}
.part6 .news-box .news::before{
	content:"";
	display: inline-block;
	width: 0.05rem;
	height: 0.05rem;
	background-color: #838383;
	position:absolute;
	left:0;
	top: 50%;
	margin-top: -0.02rem;
}
.part6 .news-box .news .news-time{
	font-size: 0.24rem;
	float:right;
}
.part6 .news-box .more{
	text-align: right;
	margin-top: 0.1rem;
}
.part6 .news-box .more a{
	color:#0a66c7;
}



.part6 .vedio-box {
	margin:0 auto;
	width:6.8rem;
	height:4.28rem;
	position: relative;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

.part6 .vedio-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.part6 .vedio-box video,
.part6 .vedio-box embed {
	width: 100%!important;
	height: 100%!important;
}

.part6 .play {
	position: absolute;
	left: 50%;
	top: 50%;
	width:0.72rem;
	height:0.72rem;
	display: block;
	margin-top:-0.36rem;
	margin-left:-0.36rem;
	cursor: pointer;
	z-index: 12;
}



