.content-main {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 107px;
}

.content-main .title {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p.sub-title {
    font-size: 28px;
    color: #552512;
}

.title p.main-title {
    font-size: 51px;
    color: #552512;
    margin-top: 42px;
}

.title span {
    display: block;
    width: 352px;
    height: 68px;
    background-color: #7fc9c4;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    line-height: 68px;
    font-weight: bold;
    /* position: relative; */
    margin-top: 20px;
}

.title span::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 25px solid;
    border-color: #7fc9c4 transparent transparent;
    margin: 0 auto;
}

.content-main .list {}

.list .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 28px;
}

.list .item img {
    width: 417px;
}

.list .item .info {
    margin-left: 50px;
}

.list .item .info .info-title {
    width: 260px;
    height: 36px;
    line-height: 36px;
    background-color: #e0b99e;
    position: relative;
}

.list .item .info .info-title span.ch {
    display: block;
    width: 130px;
    height: 36px;
    text-align: center;
    font-size: 22px;
    color: #552512;
}

.list .item .info .info-title span.en {
    display: block;
    width: 0;
    height: 0;
    padding-right: 130px;
    border-width: 0 0 36px 14px;
    border-style: none solid solid;
    border-color: transparent transparent #7fc9c4;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

.list .item .info .info-desc {
    font-size: 16px;
    line-height: 39px;
    margin-top: 30px;
}