.newsdetail{
	box-sizing: border-box;
	padding:0 0.3rem;
	padding-top: 1.5rem;
	padding-bottom:2rem;
}
.newsdetail-title{
	font-size: 0.4rem;
	font-weight: bold;
	color:#333;
	text-align: center;
}
.newsdetail-time{
	font-size: 0.28rem;
	color:#333;
	text-align: center;
}
.newsdetail-time span{
	display: inline-block;
	margin:0.2rem;
}
.newsdetail img{
	display: block;
	width: 100%;
}
.newsdetail p{
	font-size: 0.24rem;
	line-height: 0.28rem;
	text-align: justify;
	margin-top: 0.15rem;
	color:#333;
}
