.title{
	position: relative;
	z-index: 2;
	padding-bottom: .08rem;
	margin-top: .64rem;
}
.title img{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: .4rem;
}
.title p{
    font-size: .3rem;
    font-weight: bold;
    margin-left: 7%;
    width: 38%;
    text-align: center;
    letter-spacing: .08rem;
    padding-left: .08rem;
    box-sizing: border-box;
    color: #B43363;
}

.box{
	margin-top: .32rem;
	margin-bottom: .4rem;
}
.box .p1{
	font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 109%;
	margin-left: -4.5%;
	margin-bottom: .08rem;
}
.box .p2{
	font-size: .34rem;
	font-weight: bold;
	margin-top: .2rem;
	margin-bottom: .16rem;
}
.box .p3{
	font-size: .32rem;
	color: #B43363;
}

.part1 .title{
	margin-top: .12rem;
}
.part1 .box2{
	border: 1px solid #B43363;
	border-top: 0;
	position: relative;
	margin-top: .56rem;
	padding: .44rem .3rem .36rem;
}
.part1 .box-a{
	position: absolute;
	left: 0;
	top: -.17rem;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: .34rem;
}
.part1 .box-a .line{
	flex: 1;
	height: 1px;
	background: #B43363;
}
.part1 .box-a p{
	margin: 0 .16rem;
	font-weight: bold;
	font-size: .28rem;
	color: #B43363;
}
.part1 .box-b .p2{
	text-indent: .44rem;
	line-height: .4rem;
	color:#295426;
}
.part1 .box-b .p2 span{
	display: block;
	/*font-size: 0.22rem;*/
		font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 109%;
	margin-left: -4.5%;
}
.part2 .box .p3{
	margin-bottom: .28rem;
}
.part2 .box .p4{
	font-size: .24rem;
	text-indent: .48rem;
	line-height: .4rem;
	color:#295426;
}
.part2 .box img{
	margin-top: .32rem;
}


.part3 .box .p4{
	text-align: center;
	font-size: .24rem;
	color: #B43363;
	margin-top: .28rem;
}
.part3 ul li{
	width: 48.5%;
	border: 1px solid #B43363;
	padding: 0 .16rem;
	box-sizing: border-box;
	float: left;
    position: relative;
    margin-bottom: .4rem;
    /*height: 5.8rem;*/
}
.part3 ul li:nth-child(even){
	float: right;
}
.part3 ul li .p1{
	position: absolute;
	top: -.2rem;
	left: 50%;
	margin-left: -.6rem;
	width: 1.2rem;
	text-align: center;
	background: #fff;
	line-height: .4rem;
	font-weight: bold;
	font-size: .26rem;
	color: #B43363;
}
.part3 ul li:nth-child(4) .p1{
	width: 1.6rem;
	margin-left: -.8rem;
} 
.part3 ul li .p2{
	width: 2rem;
	background: #295426;
	color: #fff;
	font-size: .26rem;
	padding: .12rem 0;
	text-align: center;
	margin: .3rem auto 0;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
.part3 ul li .p2 span{
	font-weight: normal;
	display: block;
	font-size: .24rem;
	margin-top: 3px;
}
.part3 ul li img{
	margin-top: -.3rem;
	width: 100%;
	display: block;
	height: 1.76rem;
}
.part3 ul li .p3{
	font-size: .24rem;
	line-height: .4rem;
	margin-top: .12rem;
	font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 109%;
	margin-left: -4.5%;
	margin-bottom: .12rem;
}

.part4 .step{
	padding-left: .3rem;
}
.part4 img.img-block{
	padding-right: .3rem;
	box-sizing: border-box;
	margin-top: .4rem;
}
.part4 .one{
	border-bottom: 0.04rem solid #B43363;
	padding-bottom: .08rem;
	margin-top: .4rem;
	font-weight: bold;
}
.part4 .one p{
	font-size: .28rem;
	color: #B43363;
}
.part4 .one a{
	font-size: .24rem;
	padding-right: .3rem;
}
.part4 ul{
	padding-right: .3rem;
	margin-top: .12rem;
}
.part4 ul li{
	height: .52rem;
	line-height: .52rem;
	font-size: .24rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.part4 ul li a{
	display: block;
	height: 100%;
}



/*newsDetail*/
.part{
	padding:0 0.3rem;
	box-sizing: border-box;
}
.part .part-img{
	width: 100%;
	display: block;
	margin-bottom: 0.2rem;
}
.part .p1{
	text-align: center;
	font-size: 0.24rem;
	color:#191919;
	text-indent: 0.48rem;
}
