.content_right{
	overflow: hidden;    
}
.icon1{
	display: block;
	width: 0.5rem;
	margin:0.2rem auto;
}
.part1 .part1-main{
	width: 5.5rem;
	margin:0 auto;
}
.part1 .part1-main img{
	display: block;
	width: 100%;
}
.part1 .part1-main ul li{
	margin-top: 0.2rem;
}
.part1 .part1-main ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color:#050b26;
}
.part1 .part1-main ul li .p1{
	font-size: 0.24rem;
}
.part1 .part1-main ul li .p2{
	border-bottom: 1px solid #050b26;
	margin-top: 0.1rem;
	padding-bottom: 0.1rem;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.part1 .part1-main ul li .p2 span{
	display: block;
/*	font-size: .22rem;*/
	font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 110%;
	margin-left: -5%;
}


.btn{
	/*width: 3rem;*/
	margin-top: 0.2rem;
	float: right;
}
.btn a{
	display: inline-block;
	background-color: #050b26;
	color:#fff;
	padding:0 0.1rem;
	border-radius: 0.05rem;
}
.btn a span{
	display: block;
	/*	font-size: .22rem;*/
	font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 110%;
	margin-left: -5%;
}

.part1 .part1-main1{
	margin-bottom: 0.8rem;
}
.part2{
	margin-bottom: 0.6rem;
}



/*newsdetail*/
.newsdetail .part-main{
	width: 5.5rem;
	margin:0 auto;
}
.newsdetail .part-main .p1{
	font-size: 0.4rem;
	text-align: center;
}
.newsdetail .part-main .p2{
	font-size: 0.24rem;
	text-align: center;
	margin:0.1rem 0;
}
.newsdetail .part-main .p2 span{
	margin:0.1rem;
}
.newsdetail .part-main img{
	display: block;
	width: 100%;
	margin-bottom: 0.1rem;
}
.newsdetail .part-main p{
	font-size: 0.24rem;
}
