.cl {
	clear: both;
	height: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.comWidth {
	padding: 0 .3rem;
}

.img-block {
	width: 100%;
	display: block;
}

.none {
	display: none!important;
}

.all {
	width: 100%;
}

.all2 {
	width: 100%;
}

.new_top {
	background: url(../img/xw/a2.png) no-repeat center top;
	background-size: 95% 1.1rem;
	height: 1.1rem;
	margin-top: .35rem;
}

.new_top h3 {
	display: inline-block;
	float: left;
	font-size: 0.34rem;
	font-weight: 400;
	margin-left: 12%;
	line-height: 1.1rem;
	color: #8a816a;
}

.new_top span {
	font-size: 0.2rem;
	line-height: 1.1rem;
	display: inline-block;
	float: left;
	color: #8a816a;
	height: 1.1rem;
	overflow: hidden;
}

.new_top .new_img1 {
	display: inline-block;
	float: right;
	width: 18%;
	margin: 3% 4% 0 0;
	height: .65rem;
}

.banner1 {
	width: 100%;
	height: 100%;
	margin-top: .9rem;
}

.banner1 img {
	width: 100%;
	height: 100%;
}

.new_top1 {
	background: url(../img/zs/a29.png) no-repeat center top;
	background-size: 95% 1.1rem;
	height: 1.1rem;
	margin-top: .35rem;
}

.new_top1 h3 {
	display: inline-block;
	float: left;
	font-size: 0.34rem;
	font-weight: 400;
	margin-left: 12%;
	line-height: 1.1rem;
	color: #8a816a;
}

.new_top1 span {
	font-size: 0.2rem;
	line-height: 1.1rem;
	display: inline-block;
	float: left;
	color: #8a816a;
	height: 1.1rem;
	overflow: hidden;
}

.new_top1 .new_img1 {
	display: inline-block;
	float: right;
	width: 18%;
	margin: 3% 4% 0 0;
	height: .65rem;
}

@media (max-width: 420px) {
	.new_top .new_img1 {
		display: inline-block;
		float: right;
		width: 20%;
		margin: 2% 4% 0 0;
		height: .8rem;
	}
	.new_top1 .new_img1 {
		display: inline-block;
		float: right;
		width: 20%;
		margin: 2% 4% 0 0;
		height: .8rem;
	}
}

@media (max-width: 380px) {
	.new_top .new_img1 {
		display: inline-block;
		float: right;
		width: 22%;
		margin: 2% 4% 0 0;
		height: .8rem;
	}
	.new_top1 .new_img1 {
		display: inline-block;
		float: right;
		width: 22%;
		margin: 2% 4% 0 0;
		height: .8rem;
	}
	.yj2 h3 {
		font-size: .32rem;
	}
}

@media (max-width: 330px) {
	.new_top .new_img1 {
		width: 18%;
	}
	.yj2 h3 {
		font-size: .31rem !important;
	}
}