.con{
	padding:0 0.4rem;
	box-sizing: border-box;
}
.part{
	margin-bottom: 0.4rem;
}
.part .title{
	position:relative;
	margin-bottom: 0.4rem;
}
.part .title-fonts{
	width: 2.7rem;
	height: 0.4rem;
	text-align: center;
	border:1px solid #AE3363;
	margin:0 auto;
}
.part .title .p1{
	background-color: #ae3363;
	color:#fff;
	width: 70%;
}
.part .title .p1 span{
	display: block;
	/*font-size: 0.16rem;*/
	font-size: .24rem;
	transform: scale(.67);
	-webkit-transform: scale(.67);
	-o-transform: scale(.67);
	-moz-transform: scale(.67);
	-ms-transform: scale(.67);
	/*width: 150%;
	margin-left: -25%;*/
	height: 0.4rem;
	line-height: 0.4rem;
	white-space: nowrap;
}
.part .title .p2{
	font-size: 0.28rem;
	background-color: #fff;
	color:#ae3363;
	box-sizing: border-box;
	font-weight: bold;
	letter-spacing: 0.1rem;
	width: 30%;
}
.part .title .line{
	width: 100%;
	height: 1px;
	background-color: #ae3363;
	position:absolute;
	top: 0.2rem;
	z-index: -1;
}
.part .title .p3{
	font-size: 0.26rem;
	color:#AE3363;
	font-weight: bold;
	text-align: center;
	margin-top: 0.1rem;
}
.part .part-main .main-left,
.part .part-main .main-right{
	width: 46%;
}
.part .part-main img{
	width: 100%;
}
.part .part-main .p1{
	width: 100%;
	line-height: 0.4rem;
	color:#AE3363;
	text-align: center;
	border:1px solid #AE3363;
	margin-top: 0.1rem;
	margin-bottom: 0.4rem;
}


.part .title2 .p1{
	width: 55%;
}
.part .title2 .p2{
	width: 45%;
}
.price .part-main{
	margin-top: 0.2rem;
}
