/*public-title*/
.public-title{
	text-align: center;
}
.public-title div{
	display: inline-block;
	text-align: center;
	color:#267767;
	line-height: 32px;
	border:1px solid #267767;
	padding:0 35px;
	position:relative;
}
.public-title .span1{
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}
.public-title img{
	width: 11px;
	height: 10px;
	margin:0 10px;
	display: inline-block;
	vertical-align: middle;
} 
.public-title .span2{
	font-size: 22px;
}
.public-title div::before,
.public-title div::after{
	content:"";
	display: inline-block;
	width: 370px;
	height: 1px;
	background-color: #267767;
	position:absolute;
	top:17px;
}
.public-title div::before{
	left: -380px;
}
.public-title div::after{
	right: -380px;
}


/*.part1*/
.part1{
	height: 774px;
	position:relative;
	text-align: center;
}
.part1 .part1-bg{
	position:absolute;
	width: 1920px;
	height: 774px;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}
.part1 .public-title{
	padding-top: 50px;
}
.part1 .part1-main .p1{
	font-size: 40px;
	color:#595757;
	margin-top: 85px;
}
.part1 .part1-main .p1 span{
	font-weight: bold;
}
.part1 .part1-main .p2{
	font-size: 20px;
	color:#717071;
	margin-top: 40px;
	line-height: 28px;
}



/*.part2*/
.part2{
	margin-top: 80px;
	position:relative;
}

.part2 .part2-main{
	margin-top: 55px;
}
.part2 .vedio-box {
	display: inline-block;
	width: 630px;
	height: 380px;
	position: relative;
	border:10px solid #d8d8d8;
}
.part2 .vedio-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.part2 .vedio-box video,
.part2 .vedio-box embed {
	width: 100%!important;
	height: 100%!important;
}
.part2 .play {
	position: absolute;
	left: 50%;
	top: 50%;
	width:120px;
	height:120px;
	display: block;
	margin-top:-60px;
	margin-left:-60px;
	cursor: pointer;
	z-index: 12;
}
.part2 .main-r{
	width: 440px;
	margin-right: 40px;
}
.part2 .main-r .p1{
	font-size: 40px;
	color:#595757;
	margin-top: 90px;
}
.part2 .main-r .p1 span{
	display: block;
	font-weight: bold;
}
.part2 .main-r .p2{
	font-size: 16px;
	color:#595757;
	margin-top: 10px;
	margin-bottom: 40px;
}
.part2 .main-r .p3{
	font-size: 20px;
	color:#717071;
	line-height: 32px;
}


/*.part3*/
.part3{
	position:relative;
	margin-top: 95px;
}
.part3 .part3-bg{
	position:absolute;
	right: 0;
	top:-300px;
	width: 1163px;
	z-index: -1;
}
.part3 .public-title{
	text-align: left;
}
.part3 .public-title div::before,
.part3 .public-title div::after{
	display: none;
}
.part3 .part3-main{
	margin-top: 90px;
}
.part3 .part3-main .main-l{
	width: 520px;
}
.part3 .part3-main .main-l .news-title{
	font-size: 44px;
	line-height: 44px;
	color:#267767;
	text-align: center;
	position:relative;
	margin-bottom: 20px;
}
.part3 .part3-main .main-l .news-title::before,
.part3 .part3-main .main-l .news-title::after{
	content:"";
	display: inline-block;
	width: 160px;
	height: 1px;
	background-color: #267767;
	position:absolute;
	top: 22px;
}
.part3 .part3-main .main-l .news-title::before{
	left: 0;
}
.part3 .part3-main .main-l .news-title::after{
	right: 0;
}
.part3 .part3-main .main-l .new-l{
	width: 260px;
	border-right:1px solid #267767;
}
.part3 .part3-main .main-l .p1{
	font-size: 26px;
	color:#fff;
	width: 195px;
	height: 36px;
	border-radius: 18px;
	background-color: #267767;
	text-align: center;
}
.part3 .part3-main .main-l .span1{
	font-size: 20px;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}
.part3 .part3-main .main-l .span2{
	display: block;
	width: 220px;
	font-size: 20px;
}
.part3 .part3-main .main-l a{
	display: block;
	margin:20px 0;
}
.part3 .part3-main .main-l a .span1{
	color:#267767;
}
.part3 .part3-main .main-l a .span2{
	color:#717071;
}
.part3 .part3-main .main-l a:hover .span1,
.part3 .part3-main .main-l a:hover .span2{
	color:red;
}

.part3 .part3-main .main-r{
	width: 566px;
	height: 351px;
}
.part3 .part3-main .main-r img{
	display: block;
	width: 100%;
	height: 100%;
}


.part4{
	margin-top: 80px;
	position:relative;
}
.part4 .part4-icon1{
	width: 309px;
	position:absolute;
	left: 70px;
	top: 150px;
	z-index: 2;
}
.part4 .part4-icon2{
	width:514px;
	position:absolute;
	right:0;
	top:340px;
	z-index: 2;
}
.part4 .part4-title{
	position:relative;
	width: 100%;
	height: 106px;
}
.part4 .part4-title img{
	width: 1920px;
	height: 106px;
	position:absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}
.part4 .part4-title p{
	font-size: 26px;
	color:#fff;
	text-align: center;
	font-weight: bold;
	position: relative;
    top: 28px;
}
.part4 ul{
	font-size: 0;
}
.part4 ul li{
	display: inline-block;
	vertical-align: bottom;
	width: 400px;
	text-align: center;
	margin-top: 60px;
}
.part4 ul li .li-img{
	margin:0 auto;
}
.part4 ul .li1 .li-img{
	width: 338px;
}
.part4 ul li .li-img img{
	display: block;
	width: 100%;
}
.part4 ul li .p1{
	font-size: 27px;
	color:#267767;
	font-weight: bold;
	margin-top: 30px;
}
.part4 ul li .p2{
	font-size: 19px;
	color:#717071;
	margin-top: 15px;
}
.part4 ul .li2 .li-img{
	width: 335px;
}
.part4 ul .li3 .li-img{
	width: 347px;
}
.part4 ul .li4 .li-img{
	width: 336px;
}
.part4 ul .li5 .li-img{
	width: 335px;
}
.part4 ul .li6 .li-img{
	width: 336px;
}

.part4 .more{
	width: 231px;
	margin:0 auto;
	margin-top: 60px;
}
.part4 .more img{
	display: block;
	width: 100%;
}


.part5{
	
}
.part5 .part5-main1{
	position:relative;
	height: 1021px;
	margin-top: 20px;
	text-align: center;
}
.part5 .part5-main1 .part5_main1_bg{
	width: 1920px;
	height: 1021px;
	position:absolute;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}
.part5 .part5-main1 .part5-title{
	font-size: 26px;
	color:#fff;
	font-weight: bold;
	text-align: center;
	padding-top: 28px;
}
.part5 .part5-main1 ul li{
	display: inline-block;
	width: 352px;
	position:relative;
	margin:0 22px;
}
.part5 .part5-main1 ul li .li-img{
	width: 352px;
	height: 351px;
}
.part5 .part5-main1 ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part5 .part5-main1 ul li .li-font{
	width: 71px;
	height: 227px;
	background: url(../img/index/e7.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top: 50%;
	margin-top:-113px;
	right: -32px;	
	z-index: 2;
	
}
.part5 .part5-main1 ul li .li-font span{
	font-size: 40px;
	color:#fff;
	font-weight: bold;
	line-height: 44px;
	position:absolute;
	left:-5px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.part5 .part5-main1 ul li.li2{
	margin-top: -20px;
}
.part5 .part5-main1 ul li .li-img img{
	border-radius: 50%;
}
.part5 .part5-main1 ul{
	margin-top: 70px;
}
.part5 .part5-main1 .ul-fonts{
	font-size: 20px;
	color:#717071;
	line-height: 32px;
	margin-top: -10px;
}


.part5 .part5-main2{
	text-align: center;
	position:relative;
}
.part5 .part5-main2 .line1{
	width: 1px;
	height: 100px;
	background-color: #6db9a7;
	margin:0 auto;
	margin-top: -40px;
	position:relative;
}
.part5 .part5-main2 .line1::after{
	content:"";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #6db9a7;
	position:absolute;
	bottom: -15px;
	left: -9.5px;
}
.part5 .part5-main2 .p1{
	font-size: 40px;
	color:#595757;
	margin-top: 60px;
	font-weight: bold;
}
.part5 .part5-main2 .p2{
	font-size: 20px;
	color:#717071;
	letter-spacing: 2px;
	margin-top: 10px;
}
.part5 .part5-main2 ul{
	width: 1058px;
	margin:0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	border-bottom: 1px solid #6db9a7;
	position:relative;
}
.part5 .part5-main2 span{
	width: 1px;
	height: 60px;
	background-color: #6db9a7;
	position:absolute;
	left: 50%;
	bottom: -60px;
}
.part5 .part5-main2 ul li{
	float:left;
	width: 200px;
	margin-right: 86px;
}
.part5 .part5-main2 ul li:last-child{
	margin-right: 0;
}
.part5 .part5-main2 ul li .li-img{
	width: 158px;
	margin:0 auto;
}
.part5 .part5-main2 ul li .li-img img{
	display: block;
	width: 100%;
}
.part5 .part5-main2 ul li .li-p{
	font-size: 22px;
	color:#717071;
	margin-top: 30px;
}


.part6{
    margin-top: 70px;
	
}
.part6 .p1{
	font-size: 22px;
    color: #717071;
    text-align: center;
    line-height: 44px;
}
.part6 .part6-main{
	text-align: center;
	margin-top: 50px;
}
.part6 .part6-main .main-l,
.part6 .part6-main .main-r{
	display: inline-block;
	vertical-align: top;
	margin:0 10px;
}
.part6 .part6-main .main-l img{
	display: block;
	width: 506px;
}
.part6 .part6-main .main-r .f2-img{
	display: block;
	width: 453px;
}
.part6 .part6-main .main-r .box{
	width: 445px;
	height: 415px;
	background-color: #489480;
	margin-top: 40px;
}
.part6 .part6-main .main-r .box img{
	display: block;
	width: 445px;
	position:relative;
}
.part6 .part6-main .main-r .box img.img1{
	top: -30px;
	left: 10px;
}
.part6 .part6-main .main-r .box img.img2{
	top: -15px;
	left: 10px;
}


.footer{
	margin-top: -385px;
}



@media (min-width:1921px){
	.part1 .part1-bg{
		width: 100%;
		height:auto;
		left: 0;
		margin-left: 0;
	}
}
@media (max-width:1680px){
	.part3 .part3-bg{
		width: 820px;
		top: -220px;
	}
	.part4 .part4-icon1{
		width: 270px;
	    left: 40px;
	    top: 240px;
	}
	.part4 .part4-icon2 {
	    width: 421px;
	    top: 460px;
    }
    
}
@media (max-width:1444px){
	.part3 .part3-bg {
	    width: 662px;
	    top: -170px;
	}
	.part4 .part4-icon1 {
	    width: 195px;
	    left: 0;
	    top: 250px;
	}
	.part4 .part4-icon2 {
	    width: 353px;
	    top: 460px;
	    right: -130px;
	}
	.footer .foot-icon {
	    width: 280px;
	    top: 0px;
	    left: -15px;
	}
	.part5 .part5-main1 .part5_main1_bg{
		width: 1814px;
		height: 965px;
		margin-left:-907px;
	}
	
	.part5 .part5-main1{
		height: 980px;
	}
}
@media  (max-width:1280px) {
	.part3 .part3-bg{
		right: -70px;
	}
	.part4 ul li{
		margin-top: 10px;
	}
	.part5 .part5-main1 .part5_main1_bg{
		width: 1700px;
		height: 904px;
		margin-left: -850px;
	}
	.part5 .part5-main1 ul li .li-img{
		width: 322px;
		height: 321px;
	}
	.part5 .part5-main1 ul li .li-font{
		right: -10px;
	}
	.part5 .part5-main1 .ul-fonts{
		margin-top: -20px;
	}
	.part5 .part5-main1{
		height: 920px;
	}
	.footer .foot-icon {
	    width: 243px;
	    top: 70px;
	    left: -30px;
	}
}