.zx .part1 .part1_main .part1_title {
	text-align: center;
}

.zx .part1 .part1_main .part1_title h3 {
	display: inline-block;
	background: url(../img/zx/a1.png) no-repeat left top;
	background-size: 45px 45px;
	height: 70px;
	font-size: 36px;
	color: #595757;
	padding-left: 32px;
	margin-top: 80px;
	padding-top: 20px;
}

.zx .part1 .part1_main .part11_title h3 {
	background: url(../img/zx/a2.png) no-repeat left top;
}

.zx .part1 .part1_main .part1_title p {
	display: inline-block;
	font-size: 14px;
	color: #45a38d;
	border-bottom: 1px solid #459e89;
	padding-bottom: 2px;
	;
	transform: skew(-20deg);
	/* -webkit-transform: skew(-24deg); */
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	font-weight: bold;
	padding-right: 20px;
}

.zx .part1 .part1_main .div1 .div1_left {
	width: 565px;
	height: 280px;
}

.zx .part1 .part1_main .div1 .div1_left img {
	width: 100%;
	height: 100%;
}

.zx .part1 .part1_main .div1 .div1_right {
	width: 532px;
}

.zx .part1 .part1_main .div1 .div1_right .div1_top ul li {
	margin-bottom: 34px;
	width: 100%;
	overflow: hidden;
}

.zx .part1 .part11_main .div1 .div1_right .div1_top ul li {
	margin-bottom: 26px;
}

.zx .part1 .part1_main .div1 .div1_right .div1_top ul li span {
	font-size: 20px;
	color: #595757;
	margin-right: 8px;
	width: 100px;
	text-align: left;
	float: left;
	height: 28px;
	line-height: 28px
}

.zx .part1 .part1_main .div1 .div1_right .div1_top ul li p {
	display: inline-block;
	font-size: 20px;
	width: 424px;
	height: 28px;
	line-height: 28px;
	display: -webkit-box;
	float: left;
	display: -moz-box;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.zx .part1 .part11_main .div1 .div1_right .div1_top ul li p {
	display: block;
	clear: both;
	width: 100%;
}

.zx .part1 .part1_main .div1 .div1_right .div1_bottom {
	text-align: center;
	margin-top: 40px;
}

.zx .part1 .part1_main .div1 .div1_right .div1_bottom a {
	font-size: 20px;
	color: #ffffff;
	padding: 2px 8px;
	background: #717071;
	margin: 0 6px;
}

.zx .part1 .part1_main .div1 {
	margin-top: 60px;
}

.zx .part1 .part1_main .div1 .div1_right .div1_top ul li:hover p {
	color: #46907c;
}

.zx .part1 .part1_main .div1 .div1_right .div1_bottom .active {
	color: #c09a59;
}

.all2 {
	width: 1010px;
	display: block;
	margin: 0 auto;
}

.txt .txt1 .txt1_title {
	text-align: center;
	margin-top: 54px
}

.txt .txt1 .txt1_title .img1 {
	width: 497px;
	height: 68px;
	position: absolute;
	right: 408px;
	top: -20px;
}

.txt .txt1 .txt1_title h3 {
	font-size: 36px;
	color: #45a38d;
	position: relative;
	display: inline-block;
}

.txt .txt1 .txt1_title .div1 {
	font-size: 20px;
	background: url(../img/zx/b1.jpg) no-repeat left center;
	background-size: 19px 20px;
	text-align: left;
	margin-top: 36px;
	margin-left: 174px;
}

.txt .txt1 .txt1_title .div1 span {
	padding-left: 28px;
}

.txt .txt1 .txt1_p p {
	font-size: 20px;
	color: #595757;
	line-height: 34px;
	margin-top: 24px;
}

.txt .txt1 .txt1_p img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	margin-top: 43px;
}
.footer{
	margin-top: -200px;
}




.txt .txt1 .txt1_p{min-height: {600px};}
@media (max-width: 1663px) {
	.all {
		width: 1150px !important;
	}
}
@media (max-width: 1444px) {
	.all {
		width: 1150px !important;
	}
}

@media (max-width: 1280px) {
	.all {
		width: 1150px;
	}
}