.footer {
  width: 100%;
	height: 1.93rem;
	background: url(../img/footer_bg.png) no-repeat;
	background-size: 100% 100%;
	bottom: 0;
}
.footer-main {
  	width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -600px;
}
.section {
  background: url(../img/sw/bg.jpg) center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.section .container {
  width: 12rem;
  margin: 0 auto;
  position: relative;
	height: 100%;
	box-sizing: border-box; 
}
.section .solid1 {
    position: absolute;
    top:0rem;
    width:3.6rem;
    left: -3.6rem;
    height: 1px;
}
.section .img1 {
  width: 2.1rem;
  height:0.47rem;
  display: block;
  margin: auto;
  margin-top: 2.5rem;
}
.section .p1 {
  color: #ffffff;
  font-size:0.36rem;
  text-align: center;
  padding-top:0.05rem;
  padding-bottom:0.1rem;
}
.section .imgBox {
  width:9.4rem;
  margin: 0 auto;
}
.section .imgBox .float {
  text-align: center;
  float: left;
}
.section .imgBox .float:last-child {
  float: right;
}
.section .imgBox .border {
  width:4.35rem;
  height:2.54rem;
  border: 1px solid #d0b48f;
}
.section .imgBox img {
  width:4.2rem;
  height:2.4rem;
  display: block;
  margin:0.07rem auto;
}
.section .imgBox p {
  font-size: 0.2rem;
  color: #ffffff;
  padding:0.1rem 0;
}
.section .imgBox a {
  display: inline-block;
  width:1.22rem;
  height:0.26rem;
  background: url(../img/zb/zb_05.jpg) center no-repeat;
  background-size:100% 100%;
  border-radius:0.3rem;
}
.section .solid2 {
  width: 3.6rem;
  height: 1px;
  position: absolute;
  top:3.9rem;
  right: -3.6rem;
}


/*20200729*/
.section .imgBox p,
.section .p1{
	letter-spacing: 0.02rem;
}
