.hz1 .part1 .list{
  width: 6.3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.hz1 .part1 .list1{
  margin-top: 0.4rem;
}
.hz1 .part1 .list1 li{
  display: inline-block;
  width: 2.03rem;
}
.hz1 .part1 .list1 img{
  display: block;
  width: 2.03rem;
  height: 3rem;
}
.hz1 .part1 .list1 p {
  line-height: 1;
  font-weight: bold;
  color: #3e3a39;
  text-align: center;
	font-family: "myfont_Magpie";
}
.hz1 .part1 .list1 p img{
  width: 0.07rem;
  height: 0.07rem;
  display: inline-block;
  vertical-align: middle;
}
.hz1 .part1 .list1 p span{
  display: inline-block;
  vertical-align: middle;
}
.hz1 .part1 .list2{
  flex-wrap: wrap;
  padding-top: 0.2rem;
}
.hz1 .part1 .list2 li{
  width: 3.06rem;
  height: 0.4rem;
  border: 1px solid #af2024;
  color: #af2024;
  font-size: 0.32rem;
  line-height: 0.4rem;
  text-align: center;
  font-family: "myfont_Magpie";
  font-weight: bold;
  margin-top: 0.2rem;
}
.hz1 .part2{
  position: relative;
  z-index: 0;
  padding-top: 1.3rem;
}
.hz1 .part2::after{
  content: "";
  width: 100%;
  height: 1.76rem;
  background: url(../img/hz/bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.hz1 .part2 .str{
  text-align: center;
  font-family: "myfont_Magpie";
  font-size: 0.54rem;
}
.hz1 .part2 .str .p1{
  color: #af2024;
}
.hz1 .part2 img{
  display: block;
  width: 100%;
  margin-top: 0.4rem;
  border-bottom: 0.05rem solid #af2024;
}

.hz1 .part3{
  position: relative;
  z-index: 0;
}
.hz1 .part3::after{
  content: "";
  width: 100%;
  height: 1.92rem;
  background: url(../img/bg_icon.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0.6rem;
  left: 0;
  z-index: -1;
}
.hz1 .part3 ul{
  width: 4.9rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: -0.76rem;
}
.hz1 .part3 ul li{
  width: 1.54rem;
  height: 1.64rem;
  background: url(../img/hz/a_icon2.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.hz1 .part3 ul li p{
  font-size: 0.43rem;
  line-height: 0.41rem;
  color: #ffffff;
  width: 0.9rem;
  margin: auto;
	font-family: "myfont_Magpie";
  padding-top: 0.35rem;
}
.hz1 .part3 img{
  display: block;
  width: 6.3rem;
  margin: auto;
  margin-top: 0.4rem;
}
.hz2{
  padding-bottom: 0;
}
.hz2 .first_img{
  display: block;
  width: 6.96rem;
  margin: auto;
  margin-top: 0.4rem;
}
.hz2 .first_img2{
  display: block;
  width: 6.72rem;
  margin: auto;
  margin-top: 0.4rem;
}
.hz2 .part1{
  position: relative;
  z-index: 1;
}
.hz2 .part1::after{
  content: "";
  width: 100%;
  height: 1.76rem;
  background: url(../img/hz/bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -1.8rem;
  left: 0;
  z-index: -1;
}

.hz2 .part1 ul{
	width: 6rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.hz2 .part1 ul li{
	width: 2.78rem;
	margin-top: 0.25rem;
	position: relative;
}
.hz2 .part1 ul li:nth-child(2n)::after{
	content: "+";
	font-weight: bold;
	color: #a62024;
	font-size: 0.33rem;
	position: absolute;
	left: -0.3rem;
	top: -0.3rem;
}
.hz2 .part1 ul li:nth-child(2)::after{
	display: none;
}
.hz2 .part1 ul li p{
	width: 2.78rem;
	height: 0.9rem;
	background: url(../img/index/e_icon1.png) no-repeat;
	background-size: 100% 100%;
	line-height: 0.35rem;
	color: #ffffff;
	font-family: "myfont_Magpie";
	font-size: 0.32rem;
}
.hz2 .part1 ul li p span{
	display: inline-block;
	vertical-align: middle;
}
.hz2 .part1 ul li p img{
	display: inline-block;
	vertical-align: middle;
	height: 0.28rem;
}
.hz2 .part1 ul li>img{
	display: block;
	margin: auto;
	width: 2.5rem;
	height: 1.12rem;
	border: 0.05rem solid #a62024;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}
.hz2 .part2{
  margin-top: 0.74rem;
  padding-bottom: 1.7rem;
  width: 100%;
  position: relative;
  z-index: 0;
}
.hz2 .part2::before{
  content: "";
  width: 100%;
  height: 19.51rem;
  background: url(../img/hz/b_bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hz2 .part2::after{
  content: "";
  width: 7.15rem;
  height: 5.86rem;
  background: url(../img/hz/b_bg2.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 1.7rem;
  right: 0;
  z-index: -1;
}

.hz2 .part2_firstP{
  text-align: center;
  line-height: 0.58rem;
  color: #af2024;
	font-family: "myfont_Magpie";
  font-size: 0.54rem;
}
.hz2 .part2_firstP.now{
  padding-top: 0.6rem;
  color: #ffffff;
}
.hz2 .part2 ul{
  width: 5.7rem;
  margin: auto;
  display: flex;
  padding-top: 0.1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hz2 .part2 ul li{
  display: inline-block;
  width: 2.6rem;
  margin-top: 0.15rem;
  background: url(../img/hz/b_icon2.png) center top no-repeat;
  background-size: 2.56rem 2.56rem;
  text-align: center;
}
.hz2 .part2 ul img{
  display: block;
  width: 1.72rem;
  height: 1.72rem;
  margin: 0.42rem auto;
}
.hz2 .part2 ul .p1{
  margin-top: 0.1rem;
  padding-top: 0.26rem;
  background: url(../img/hz/b_icon7.png) center top no-repeat;
  background-size: 1.76rem 0.57rem;
	font-family: "myfont_Magpie";
  color: #ffffff;
  font-size: 0.44rem;
}
.hz2 .part2 ul .p2{
  width: 2.6rem;
  margin: auto;
  text-align: justify;
  color: #ffffff;
  font-size: 0.26rem;
  line-height: 0.44rem;
  margin-top: 0.24rem;
}
.hz2 .part2 .partLast_box{
  width: 100%;
  position: relative;
}
.hz2 .part2 .part_lastP{
  margin-left: 0.95rem;
  font-size: 0.64rem;
  color: #ffffff;
  text-transform: uppercase;
	font-family: "myfont_Magpie";
  line-height: 0.74rem;
  margin-top: 0.7rem;
  margin-bottom: 2.2rem;
  opacity: 0.5;
}



.hz3 .main_title .p2 span{
  color: #ffffff;
}
.hz3 {
  background-color: #000;
  background-image: none;
}

.hz3 .main .main_title .p3{
  color: #fff;
  font-size: 0.54rem;
}

.hz3 .main .main_title .p4{
  font-size: 0.54rem;
}

.hz3 .main .main_title .p5{
  font-family: "myfont_Magpie";
  color: #fff;
  font-size: 0.54rem;
}

.hz3 .part1{
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.62rem;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.hz3 .part1 .item{
  display: flex;
  flex-direction: column;
  position: relative;
}
.hz3 .part1 .item img{
  width: 3.01rem;
  height: 1.43rem;
}
.hz3 .part1 .item .p-text{
  display: flex;
  position: relative;
}
.hz3 .part1 .item .p-text p{
  color: #fff;
  margin-top: 0.15rem;
  margin-left: 0.20rem;
  margin-bottom: 0.28rem;
}

.hz3 .part1 .item .p-text p:nth-of-type(1){
  font-family: 'myfont_Magpie';
  font-size: 0.28rem;
  width: 0.60rem;
  margin-right: 0.12rem;
  z-index: 10;
}

.hz3 .part1 .item .p-text p:nth-of-type(2){
  width: 2.05rem;
  margin-left: 0.12rem;
  font-size: 0.24rem;
}

.hz3 .part1 .item .p-text .bg_img {
  /* background-color: #fff; */
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 0;
}
.hz3 .part1 .item .p-text .bg_img img{
  width: 100%;
  height: 100%;
}
.hz3 .part1 .item .p-text p:last-child{
  position: relative;
}
.hz3 .part1 .item .p-text p:last-child::after{
  content: "";
  width: 1px;
  height: 0.5rem;
  background-color: #fff;
  position: absolute;
  top: 0.1rem;
  left: -0.15rem;
}


.hz4 .main .main_title .p3 {
  font-size: 0.35rem;
}

.hz4 .main .main_title .p4 {
  font-size: 0.54rem;
}

.hz4 .main .main_title .p5 {
  color: #3e3a39;
  font-family: "myfont_Magpie";
  font-size: 0.56rem;
}

.hz4 .part1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.75rem;
  margin-top: 0.5rem;
}
.hz4 .part1 .item{
  display: flex;
  flex-direction: column;
  position: relative;
}
.hz4 .part1 .item:nth-of-type(odd) {
  margin-right: 0.21rem;
}

.hz4 .part1 .item img {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 50%;
}

.hz4 .part1 .item span{
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  background-color: #3e3a39;
  border-radius: 50%;
  margin-top: 0.35rem;
  margin-left: 1.4rem;
}
.hz4 .part1 .item p{
  text-align: center;
  font-family: "myfont_Magpie";

}
.hz4 .part1 .item p:nth-of-type(1){
  font-size: 0.52rem;
  color: #b22124;
  margin-bottom: 0.15rem;
}

.hz4 .part1 .item p:nth-of-type(2){
  font-size: 0.31rem;
  margin-bottom: 0.43rem;
}

.hz5 .part1 {
  margin-top: 0.5rem;
}

.hz5 .part1 .item {
  width: 2.25rem;
  height: 0.86rem;
  background-color: #a92324;
  border-radius: 0.2rem;
  margin-left: 1.05rem;
  margin-bottom: 0.6rem;
  float: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.hz5 .part1 .item img {
  position: absolute;
  right: -0.66rem;
  top: 0;
  width: 1.46rem;
  height: 0.96rem;
}

.hz5 .part1 .item .arrow {
  width: 0.31rem;
  height: 0.39rem;
  background: url('../img/hz/part1_arrow.png') no-repeat;
  background-size: 100%;
  position: absolute;
}

.hz5 .part1 .item .arr1,
.hz5 .part1 .item .arr5 {
  left: 2.64rem;
  top: 0.30rem;
}

.hz5 .part1 .item .arr2,
.hz5 .part1 .item .arr3,
.hz5 .part1 .item .arr6,
.hz5 .part1 .item .arr7 {
  transform: rotate(90deg);
  left: 0.96rem;
  top: 0.98rem;
}

.hz5 .part1 .item .arr4,
.hz5 .part1 .item .arr8 {
  transform: rotate(180deg);
  top: 0.30rem;
  left: -0.67rem;
}

.hz5 .part1 .item:nth-of-type(odd) {
  margin-left: 1rem;
}

.hz5 .part1 .item span {
  font-family: "myfont_Magpie";
}

.hz5 .part1 .item .text-spacing {
  letter-spacing: -0.09rem;
}

.hz5 .part1 .item span:nth-child(1) {
  position: absolute;
  top: -0.42rem;
  left: 0.25rem;
  color: #403c3b;
  font-size: 0.62rem;
}

.hz5 .part1 .item span:nth-child(2) {
  position: absolute;
  top: 0.22rem;
  left: 0.2rem;
  font-size: 0.45rem;
  color: #fff;
}

.hz5 .part2 div img:nth-of-type(1) {
  width: 2.92rem;
  height: 1.20rem;
  position: absolute;
  left: 3.91rem;
  top: 10.34rem;
}

.hz5 .part2 div img:nth-of-type(2) {
  width: 6.26rem;
  height: 4.14rem;
  margin-left: 0.6rem;
}