.ly1 {
  position: relative;
}

.ly1::after {
  content: "";
  width: 1.79rem;
  height: 4.76rem;
  background: url(../img/icon_bgL.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0.1rem;
}

.ly1 .part1 {
  width: 14rem;
  margin: auto;
  margin-top: 0.65rem;
}

.ly1 .part1 .str {
  width: 5.77rem;
  float: left;
}

.ly1 .part1 .p1 {
  color: #d2147d;
  font-size: 0.4rem;
  font-family: "myfont_Magpie";
}

.ly1 .part1 .p2 {
  font-size: 0.37rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
  padding-bottom: 0.3rem;
}

.ly1 .part1 .p3 {
  width: 5.5rem;
  text-align: justify;
  margin-top: 0.1rem;
  font-size: 0.14rem;
  color: #595757;
  line-height: 0.24rem;
}

.ly1 .part1 .pic {
  float: right;
  width: 8.23rem;
  position: relative;
  z-index: 0;
}

.ly1 .part1 .pic img {
  display: block;
  width: 100%;
}

.ly1 .part1 .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #a72024;
  position: absolute;
  right: -0.2rem;
  bottom: -0.2rem;
  z-index: -1;
}

.ly2 .part1 {
  position: relative;
  z-index: 0;
  margin-top: 0.28rem;
  height: 9.6rem;
}

.ly2 .part1::after {
  content: "";
  width: 19.2rem;
  height: 9.6rem;
  background: url(../img/ly/b_bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9.6rem;
  z-index: -1;
}

.ly2 .part1 .part_main {
  width: 14rem;
  margin: auto;
  padding-top: 0.4rem;
}

.ly2 .part1 .p1 {
  font-size: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
}

.ly2 .part1 .p2 {
  font-size: 0.38rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
}

.ly2 .part1 .p3 {
  font-size: 0.14rem;
  line-height: 0.24rem;
  color: #595757;
  text-align: justify;
  margin-top: 0.3rem;
}

.ly2 .part1 .p3:nth-last-child(3) {
  width: 6.9rem;
}

.ly2 .part1 .p3:nth-last-child(2) {
  width: 6.3rem;
}

.ly2 .part1 .p3:last-child {
  width: 3.9rem;
}

.ly2 .part2 {
  height: 7.4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.ly2 .part2::after {
  content: "";
  height: 7.42rem;
  width: 2.79rem;
  background: url(../img/ly/b3.png) no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  top: 0.68rem;
}

.ly2 .part2 .img1 {
  display: inline-block;
  width: 8.61rem;
  height: 6.63rem;
}

.ly2 .part2 .img2 {
  width: 2.74rem;
  height: 6.34rem;
  margin-left: 0.4rem;
}

.ly2 .part2 ul {
  text-align: center;
  width: 4rem;
}

.ly2 .part2 ul li {
  margin-bottom: 0.3rem;
  padding-bottom: 0.25rem;
  position: relative;
}

.ly2 .part2 ul li:last-child {
  margin: 0;
  padding-bottom: 0.5rem;
}

.ly2 .part2 ul li::after {
  content: "";
  width: 0.5rem;
  height: 0.05rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #d2147d;
  margin-left: -0.25rem;
}

.ly2 .part2 ul p {
  font-size: 0.2rem;
  line-height: 0.28rem;
}

.ly2 .part2 ul p.on {
  font-weight: bold;
}

.ly3 .part1 {
  position: relative;
  padding-bottom: 1.1rem;
}

.ly3 .part1::after {
  content: "";
  width: 7.95rem;
  height: 4.02rem;
  background: url(../img/ly/c2.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 2.8rem;
}

.ly3 .part1 .str {
  width: 14rem;
  margin: auto;
}

.ly3 .part1 .str .p1 {
  font-size: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  margin-top: 0.4rem;
}

.ly3 .part1 .str .p2 {
  font-size: 0.37rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
}

.ly3 .part1 .str .p3 {
  font-size: 0.14rem;
  line-height: 0.24rem;
  color: #595757;
  margin-top: 0.2rem;
}

.ly3 .part1 .pic {
  width: 14rem;
  margin: auto;
  padding-top: 0.3rem;
}

.ly3 .part1 .pic ul {
  width: 5.1rem;
  float: left;
}

.ly3 .part1 .pic ul li {
  width: 2.46rem;
  height: 0.4rem;
  background-color: #b22124;
  text-align: center;
  float: left;
  margin-top: 0.15rem;
  font-size: 0.31rem;
  color: #ffffff;
  font-family: "myfont_Magpie";
}

.ly3 .part1 .pic ul li:nth-child(2n) {
  float: right;
}

.ly3 .part1 .pic div {
  float: right;
  width: 6.5rem;
  height: 3.7rem;
  margin-top: 0.45rem;
  position: relative;
}

.ly3 .part1 .pic div img {
  display: block;
  width: 100%;
  height: 100%;
}

.ly3 .part1 .pic div::after {
  content: "";
  width: 5.35rem;
  height: 0.24rem;
  background: #d2147d;
  position: absolute;
  right: 0;
  bottom: -0.24rem;
}

.ly3 .part1 .pic div::before {
  content: "";
  width: 3.28rem;
  height: 3.74rem;
  background: url(../img/ly/c1.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 2.6rem;
  right: 0.74rem;
}

.ly3 .part1 .list {
  display: flex;
  width: 14rem;
  margin: auto;
  justify-content: space-between;
}

.ly3 .listPic {
  width: 14rem;
  margin: auto;
  margin-top: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.ly3 .listPic li {
  display: inline-block;
  width: 3.32rem;
  text-align: center;
}

.ly3 .listPic li img {
  display: block;
  width: 3.32rem;
  height: 4.6rem;
}

.ly3 .listPic li .p1 {
  font-size: 0.34rem;
  line-height: 1;
  padding-top: 0.56rem;
  padding-bottom: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  background: url(../img/ly/c_icon1.png) center bottom no-repeat;
  background-size: 3.04rem 1rem;
  margin-bottom: 0.1rem;
}

.ly3 .listPic li .p2 {
  font-size: 0.14rem;
  line-height: 0.2rem;
  color: #595757;
}

.ly3 .listPic li .p2.on {
  font-weight: bold;
}

.ly3 .part2 {
  width: 100%;
  height: 9.6rem;
  background: url(../img/ly/c8.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.ly3 .part2 .p1 {
  font-size: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  margin-left: 2.6rem;
  margin-top: 0.78rem;
}

.ly3 .part2 .p2 {
  font-size: 0.37rem;
  color: #ffffff;
  font-family: "myfont_Magpie";
  margin-left: 2.6rem;
}

.ly3 .part2 ul {
  width: 6.4rem;
  margin-left: 2.6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.28rem;
}

.ly3 .part2 ul li {
  display: inline-block;
  width: 1.52rem;
  text-align: center;
}

.ly3 .part2 ul img {
  display: block;
  width: 1.52rem;
  height: 1.52rem;
}

.ly3 .part2 ul p {
  background: url(../img/ly/c_icon2.png) center top no-repeat;
  background-size: 1.1rem 0.46rem;
  color: #ffffff;
  font-size: 0.27rem;
  line-height: 0.3rem;
  font-family: "myfont_Magpie";
  margin-top: 0.18rem;
  padding-top: 0.1rem;
}

.ly3 .part3 {
  position: relative;
  z-index: 0;
  padding-top: 0.65rem;
}

.ly3 .part3::after {
  content: "";
  width: 18.7rem;
  height: 2.52rem;
  background: url(../img/ly/c3_bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.ly3 .part3 .str {
  text-align: center;
}

.ly3 .part3 .str .p1 {
  font-size: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  text-transform: uppercase;
}

.ly3 .part3 .str .p2 {
  color: #3e3a39;
  font-size: 0.37rem;
  font-family: "myfont_Magpie";
}

.ly3 .part3 .pic {
  height: 3rem;
  padding-top: 0.5rem;
  width: 100%;
  position: relative;
}

.ly3 .part3 .pic::before {
  content: "";
  width: 19.2rem;
  height: 2.97rem;
  background: url(../img/ly/c3_bg2.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -9.6rem;
  top: 0;
}

.ly3 .part3 .pic img {
  display: block;
  margin: auto;
  width: 3.25rem;
  height: 2.87rem;
}

.ly3 .part3 .str .p3 {
  font-size: 0.14rem;
  color: #595757;
  margin-top: 0.1rem;
}

.ly3 .part3 .list {
  width: 10rem;
  margin: 0.3rem auto 0;
  display: flex;
  justify-content: space-between;
}

.ly3 .part3 .list li {
  width: 1.8rem;
}

.ly3 .part3 .list div {
  width: 1.8rem;
  height: 1.8rem;
  overflow: hidden;
  background-color: #cbcbcb;
  border-radius: 50%;
}

.ly3 .part3 .list div img {
  display: block;
  margin: 0.03rem auto;
  height: 1.74rem;
  width: 1.74rem;
  border-radius: 50%;
}

.ly3 .part3 .list .p1 {
  width: 0.1rem;
  height: 0.1rem;
  margin: auto;
  margin-top: 0.15rem;
  border-radius: 50%;
  background-color: #d5147d;
}

.ly3 .part3 .list .p2 {
  width: 0.5rem;
  height: 0.5rem;
  margin: auto;
  background-color: #d5147d;
  margin-top: 0.1rem;
  text-align: center;
  line-height: 0.4rem;
  border-radius: 50%;
  font-size: 0.43rem;
  color: #ffffff;
  font-family: "myfont_Magpie";
  border: 2px solid #e0dfdf;
}

.ly3 .part3 .list .p3 {
  margin-top: 0.24rem;
  padding-top: 0.26rem;
  border-top: 0.02rem solid #e0dfdf;
  text-align: justify;
  line-height: 0.26rem;
  font-size: 0.14rem;
  color: #595757;
}

.ly3 .part3 .pic_box .img1 {
  float: left;
  width: 4.23rem;
  height: 5.84rem;
  margin-left: 0.95rem;
  margin-bottom: 0.4rem;
}

.ly3 .part3 .text {
  float: left;
  margin-top: 1.1rem;
  margin-left: 0.6rem;
}

.ly3 .part3 .text .p1 {
  font-size: 0.4rem;
  line-height: 0.38rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  padding-bottom: 0.32rem;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0.12rem;
}

.ly3 .part3 .text .p1::after {
  content: "";
  width: 0.84rem;
  height: 0.05rem;
  background: #d2147d;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ly3 .part3 .text .p2 {
  font-size: 0.37rem;
  line-height: 0.4rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
}

.ly3 .part3 .text ul {
  width: 3.99rem;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.ly3 .part3 .text ul li {
  display: inline-block;
  width: 1.33rem;
  text-align: center;
}

.ly3 .part3 .text ul img {
  display: block;
  margin: auto;
  width: 0.8rem;
  height: 0.8rem;
}

.ly3 .part3 .text ul p {
  margin-top: 0.08rem;
  background: url(../img/ly/c3_icon4.png) center top no-repeat;
  background-size: 1.18rem 0.52rem;
  padding-top: 0.15rem;
}

.ly3 .part3 .text ul p span {
  display: block;
  margin: auto;
  font-size: 0.29rem;
  line-height: 0.3rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
  width: 0.7rem;
}

.ly3 .part3 .text .p3 {
  margin-top: 0.3rem;
  font-size: 0.14rem;
  line-height: 0.22rem;
  color: #595757;
  margin-left: 0.2rem;
}

.ly3 .part3 .pic-box {
  float: right;
  width: 7.38rem;
  height: 4.25rem;
  margin-right: 0.84rem;
  margin-top: 1.2rem;
  position: relative;
  z-index: 0;
}

.ly3 .part3 .pic-box img {
  display: block;
  width: 100%;
  height: 100%;
}

.ly3 .part3 .pic-box::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #d2147d;
  position: absolute;
  bottom: -0.2rem;
  right: -0.84rem;
  z-index: -1;
}

.ly4 .part1 {
  width: 100%;
  height: 9.6rem;
  background: url(../img/ly/d_bg1.jpg) no-repeat;
  background-size: 100% 9.6rem;
  margin-top: 0.2rem;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}

.ly4 .part1::after {
  content: "";
  width: 6.84rem;
  height: 7.33rem;
  background: url(../img/ly/d1.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 2.2rem;
}

.ly4 .part1 .fl-lt {
  margin-left: 3.5rem;
  margin-top: 1rem;
}

.ly4 .part1 .fl-lt .p1 {
  font-size: 0.65rem;
  line-height: 0.67rem;
  font-family: "myfont_Magpie";
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 0.55rem;
}

.ly4 .part1 .fl-lt .p1::after {
  content: "";
  width: 3.5rem;
  height: 0.05rem;
  background-color: #d5147d;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ly4 .part1 .fl-lt .p2 {
  font-size: 0.18rem;
  line-height: 0.24rem;
  font-family: "myfont_Magpie";
  margin-top: 0.2rem;
}

.ly4 .part1 .fl-rt p {
  margin-right: 4.3rem;
  margin-top: 0.7rem;
  font-size: 0.51rem;
  line-height: 0.52rem;
  font-family: "myfont_Magpie";
}

.ly4 .part2 {
  width: 100%;
  height: 6.36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ly4 .part2 .str .p1 {
  font-size: 0.4rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  text-transform: uppercase;
}

.ly4 .part2 .str .p2 {
  font-size: 0.37rem;
  color: #3e3a39;
  font-family: "myfont_Magpie";
}

.ly4 .part2 ul {
  width: 7.6rem;
  padding-top: 0.2rem;
}

.ly4 .part2 ul li {
  width: 3.5rem;
  float: left;
  display: flex;
  align-items: center;
  margin-top: 0.28rem;
}

.ly4 .part2 ul li:nth-child(2n) {
  width: 4.1rem;
}

.ly4 .part2 ul span {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 0.55rem;
  height: 0.6rem;
  line-height: 0.3rem;
  font-size: 0.6rem;
  color: #d2147d;
  font-family: "myfont_Magpie";
  background: url(../img/ly/d_icon1.png) center bottom no-repeat;
  background-size: 0.43rem 0.43rem;
}

.ly4 .part2 ul p {
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.24rem;
  margin-left: 0.1rem;
}

/* 2020/10/26 */
.ly3 .part1 .str .p3 {
  font-size: 0.24rem;
}
.ly3 .part1 .str .p3 span{
  display: block;
  line-height: .4rem;
  transform: scale(0.58);
  -webkit-transform: scale(0.58);
  -o-transform: scale(0.58);
  -moz-transform: scale(0.58);
  -ms-transform: scale(0.58);
  width: 172%;
  margin-left: -36%;
}