@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft Yahei", arial;
    font-size: 12px;
    color: #000;
    width: 100%;
    overflow-x: hidden;
}

.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

i {
    font-style: normal;
}

input,
button,
textarea {
    border: 0;
    outline: none;
}

b {
    font-weight: normal;
}

em {
    font-style: normal;
}
.y-row{
	width: 1200px;
	margin:0 auto;
}
.en {
    text-transform: uppercase;
}
/*返回顶部*/
.backTop {
    position: fixed;
    bottom: 250px;
    right: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b88e64;
    cursor: pointer;
    display: none;
    z-index: 99;
}

.backTop span {
    display: block;
    font-size: 40px;
    color: #fff;
    margin-top: -7px;
    margin-left: 7px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.backTop:hover {
    opacity:0.5;
}





/*header-box*/
.header-box{
	width: 100%;
	height: 120px;
	background:url(../img/top.jpg) no-repeat;
	background-size: 100% 100%;
	position:relative;
}
.header-box .logo{
	position:absolute;
	width: 178px;
	height: 75px;
	top:22px;
	left: 240px;
}
.header-box .logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-box .header-nav ul{
	text-align: center;
	font-size: 0;
}
.header-box .header-nav ul li{
	display: inline-block;
	width: 120px;
	height: 120px;
	padding-top:35px;
	box-sizing: border-box;
	margin:0 2px;
	position:relative;
	z-index: 99;
}
.header-box .header-nav ul li a{
	color:#fff;
}
.header-box .header-nav ul li .p1{
	font-size: 18px;
}
.header-box .header-nav ul li .p2{
	font-size: 14px;
	margin-top:6px;
}
.header-box .header-nav ul li.active,
.header-box .header-nav ul li:hover{
	background: url(../img/nav_on.png) no-repeat;
	background-size: 100% 100%;
}
.header-box .header-nav ul li.active a.title,
.header-box .header-nav ul li:hover a.title{
	color:#231815;
}

.header-box .header-nav ul li .item{
	width: 100%;
	position:absolute;
	top: 100%;
	background-color: #261c19;
	font-size: 18px;
	padding:15px 0;
	border:1px solid #c0844f;
	border-top:none;
	box-sizing: border-box;
	display: none;
}
.header-box .header-nav ul li .item a{
	display: block;
	line-height: 30px;
	color: #c39b62;
}
.header-box .header-nav ul li .item a:hover{
	color:#fff;
}
.header-box .header-nav ul li:hover .item{
	display: block;
}

.header-box .tel{
	width: 234px;
	height: 48px;
	position:absolute;
	top:35px;
	right:235px;
}
.header-box .tel img{
	display: block;
	width: 100%;
	height: 100%;
}




.content{
	margin-top: -10px;
	min-height:500px;	
}








/*.footer*/
.footer{
	position:relative;
}
.footer .line{
	position:relative;
	height: 29px;
}
.footer .line img{
	display: block;
	width: 1920px;
	height: 29px;
	position:absolute;
	left: 50%;
	margin-left: -960px;
}
.footer .footer-nav{
	width: 100%;
	height: 120px;
	background:url(../img/top.jpg) no-repeat;
	background-size: 100% 100%;
	position:relative;
}
.footer .footer-nav ul{
	text-align: center;
	font-size: 0;
}
.footer .footer-nav ul li{
	display: inline-block;
	width: 120px;
	height: 120px;
	padding-top:35px;
	box-sizing: border-box;
	margin:0 2px;
	position:relative;
}
.footer .footer-nav ul li a{
	color:#fff;
}
.footer .footer-nav ul li .p1{
	font-size: 18px;
}
.footer .footer-nav ul li .p2{
	font-size: 14px;
	margin-top:6px;
}
.footer .footer-nav ul li::after{
	content:"";
	display: inline-block;
	width: 1px;
	height: 66px;
	background-color: #deb68d;
	position:absolute;
	right: 0;
	top: 50%;
	margin-top: -33px;
}
.footer .footer-nav ul li:last-child::after{
	display: none;
}
.footer .copy{
	background-color: #332c2a;
	text-align: center;
	padding:20px 0;
}
.footer .copy .logo{
	display: inline-block;
	vertical-align: middle;
}
.footer .company{
	display: inline-block;
	vertical-align: middle;
	color:#c39b62;
	text-align: left;
	margin:0 60px;
} 
.footer .company .p1{
	font-size: 21px;
}
.footer .company .p2{
	font-size: 12px;
}
.footer .tel{
	display: inline-block;
	vertical-align: middle;
}
.footer .erweima{
	display: inline-block;
	vertical-align: middle;
	margin-left: 60px;
	
}


/*banner图*/
.banner{
	position:relative;
	height:auto;
	overflow: hidden;
}
.banner .banner-list{
	overflow: hidden;
}
.banner .banner-list li{
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	
}
.banner .banner-list li:first-child{
	display: block;
}
.banner .banner-list li img{
	display: block;
	width: 100%;
}

.banner-btn-list {
    position: absolute;
    bottom:25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.banner-btn-list li {
    width: 20px;
    height: 20px;
    margin:0 10px;
    border-radius: 50%;
    background-color:#fff;
    cursor: pointer;
    display: inline-block;
}

.banner-btn-list li.light {
    background-color:#e9cba7;
}



.nav{
	width: 100%;
    height: 0.65rem;
    background-color: #141418;
    position: relative;
    z-index:19;
}
.nav.nav-fixed{
	position:fixed;
	top:0;
}
.nav .nav-main{
	width: 14.45rem;
	height: 100%;
	margin:0 auto;
	line-height: 0.65rem;
	padding-left: 215px;
	box-sizing:border-box;
}
.nav .nav-main .p1{
	font-size: 0.17rem;
	color:#c09862;
	text-transform: uppercase;
	display: inline-block;
	vertical-align:middle;
}
.nav .nav-main .p1 span{
	font-weight: bold;
}
.nav .nav-main .p2{
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.15rem;
}
.nav .nav-main .p2 span{
	color:#c09862;
	font-size: 0.22rem;
	position:relative;
	display: inline-block;
	margin-right: 0.5rem;
}
.nav .nav-main .p2 span::after{
	content:"";
	display: inline-block;
	width: 0.14rem;
	height: 0.22rem;
	background: url(../img/nav_line.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top: 50%;
	margin-top: -0.10rem;
	right: -0.34rem;
}
.nav .nav-main .p2 .a-box{
	display: inline-block;
	
}
.nav .nav-main .p2 a{
	color:#c09862;
	font-size: 0.18rem;
	margin-right: 0.1rem;
}
.nav .nav-main .p2 a.on,
.nav .nav-main .p2 a:hover{
	color:#e8e8e8;
}

/*.main-box*/
.main-box{
	width: 14.45rem;
	margin:0 auto;
}
.main-box .er-nav{
	width: 1.81rem;
	/*margin-top:65px;*/
	font-size: 0;
	position: relative;
	top: 65px;
}
.er-nav .er_nav-top{
	position:relative;
	height: 0.9rem;
	
}
.er-nav .er_nav-top img{
	display: block;
	width: 100%;
	position:absolute;
	
}
.er-nav .er_nav-top .er_nav-title{
	position:absolute;
	bottom: 0;
	width:1.74rem;
	height: 0.49rem;
	left: 0.04rem;
	text-align: center;
	background: url(../img/er_nav-title.png) no-repeat;
	background-size: 100% 100%;
	color:#c09862;
}
.er-nav .er_nav-top .er_nav-title .p1{
	font-size: 0.22rem;
}
.er-nav .er_nav-top .er_nav-title .p2{
	font-size: 0.12rem;
}
.er-nav .er_nav-center{
	width: 1.81rem;
	background: url(../img/er_nav-center.png) no-repeat;
	background-size: 100% 100%;
	font-size: 0.18rem;
	text-align: center;
	padding:0.1rem 0;
}
.er-nav .er_nav-center a{
	display: block;
	color:#c39b62;
	width: 1.37rem;
	height: 0.26rem;
	margin:0 auto;
	background: url(../img/er_nav.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.1rem;
}
.er-nav .er_nav-center a.on,
.er-nav .er_nav-center a:hover{
	background: url(../img/er_nav-on.png) no-repeat;
	background-size: 100% 100%;
	color:#141418;
}
.er-nav .er_nav-b{
	width: 1.81rem;
	height: 1.24rem;
	background: url(../img/er_nav-bottom.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color:#c39b62;
	padding-top: 0.3rem;
	box-sizing: border-box;
}
.er-nav .er_nav-b .p1{
	font-size: 0.12rem;
}
.er-nav .er_nav-b .p2{
	font-size: 0.2rem;
	font-weight: bold;
}
.main-box .er-nav-fixed{
	position:fixed;
	top:130px;
}

.main-box .main{
	width: 12.3rem;
	margin-top: 70px;
}






/*1680*/
@media (max-width:1900px){
	.header-box .logo{
		width: 138px;
		height: 58px;
		top:31px;
		left: 220px;
	}
	.header-box .tel{
		width: 205px;
		height: 42px;
		top:39px;
		right:170px;
	}
}


/*1444*/
@media (max-width:1620px) {
	.header-box .logo{
		width: 110px;
		height: 46px;
		top: 37px;
		left: 155px;
	}
	.header-box .header-nav ul li{
		width: 110px;
	}
	.header-nav{
		position:relative;
		left: -30px;
	}
	.header-box .tel{
		width: 187px;
		height: 38px;
		top:41px;
		right:150px;
	}
	.header-box .header-nav ul li .item{
		font-size: 16px;
	}
}


/*1366*/
@media (max-width:1400px) {
	.header-box .logo{
		width: 95px;
		height: 40px;
		top:40px;
		left: 130px;
	}
	.header-box .tel{
		width: 157px;
		height: 32px;
		top:44px;
		right: 130px;
	}
}


/*1280*/
@media (max-width:1300px) {
	.header-box .header-nav ul li{
		width: 100px;
	}
	.header-box .header-nav ul li .item{
		font-size: 15px;
	}
	.er_nav-b .p1 span{
		display: block;
		font-size: .24rem;
		transform: scale(.67);
		-webkit-transform: scale(.67);
		-o-transform: scale(.67);
		-moz-transform: scale(.67);
		-ms-transform: scale(.67);
		width: 150%;
		margin-left: -25%;
	}
	.er-nav .er_nav-b{
		padding-top: 0.1rem;
	}
}