		html,
		body {
			height: 100%;
			overflow: hidden;
		}
		.header_all {
			position:fixed;
			top: 0;
			left: 0;
			z-index: 999;
		}
		
		/*section1*/
	
	.section1 .banner-index{ position: absolute; width: 1920px; height: 100%; box-sizing: border-box; left: 50%; margin-left: -960px;top: 0px;}
	.section1 .banner-index .banner-list{ overflow: hidden; width: 100%; height: 100%; position: relative;}
	.section1 .banner-index .banner-list li{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: none;}
	.section1 .banner-index .banner-list li img{ position: absolute; left: 50%; top: 0%; height: 100%; display: block; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%);}
	.section1 .banner-index .banner-list li:first-child{ display: block;}
	.banner-index .banner-btn-list{ position: absolute; bottom: 26px; text-align: center; width: 100%;}
	.banner-index .banner-btn-list li{ display: inline-block; width: 80px; height: 4px; background: #899580; margin: 0 10px; cursor: pointer;}
	.banner-index .banner-btn-list li.light{ background: #ddb875;}
	/*section2*/
	
	.section2 .part1{ width: 1230px; margin: 0 auto; margin-top: 150px; position: relative; padding: 20px 0; box-sizing: border-box; color: #365434;}
	.section2 .part1 .part1-l{ width: 100%; text-align: center; margin-left: 50px;}
	.section2 .part1 .part1-l .p1{ font-size: 36px;}
	.section2 .part1 .part1-l .p2 span{ font-size: 72px; margin: 0 5px;}
	.section2 .part1 .part1-l .p3{ font-size: 36px;}
	.section2 .part1 .part1-l .p3 span{ color: #b9955b;}
	.section2 .part1 .part1-l .p4{ font-size: 18px;}
	.section2 .part1 .part1-l .p5{ width: 350px; margin: 0 auto; margin-top: 15px; padding-top: 15px; border-top: 1px solid #365434; font-size: 12px; text-align: left;}
	.section2 .part1 .part1-l ul{ width: 350px;}
	.section2 .part1 .part1-l ul li{ width: 80px; height: 80px; border-radius: 50%; float: left; margin-right: 10px; background-color: #365434; font-size: 18px; color: #fff; line-height: 18px; padding-top: 22px; box-sizing: border-box; margin-top: 15px;}
	.section2 .part1 .part1-l ul li:nth-child(2n){ background-color: #ddb875;}
	.section2 .part1 .part1-l ul li:last-child{ margin-right: 0;}
	.section2 .part1-r{ position: absolute; bottom: 0; right: -10px; width: 361px;z-index: -1;}
	.section2 .part1-r img{ display: block; width: 100%;}
	.section2 .part1-rr{ position: absolute; top: 232px; left: 80px; width: 166px;}
	.section2 .part1-rr img{ display: block; width: 100%;}
	.section2 .part2 .part2_bottom{width: 100%;margin-top: 10px;padding-bottom: 22px;background: url(../img/index/a6.png) no-repeat 100% bottom;background-size: 100% 3px;}
	.section2 .part2 .part2_bottom .part2_left{width: 666px;position: relative;}
	.section2 .part2 .part2_bottom .part2_right{width: 550px;}
	.section2 .part2 .part2_bottom .part2_right .div1{clear: both;margin-bottom: 54px;height: 58px;}
	.section2 .part2 .part2_bottom .part2_right .div1:first-child{margin-top: 50px;}
	.section2 .part2 .part2_bottom .part2_right .div1 .div_left{width: 58px;height: 58px;background: #af5634;}
	.section2 .part2 .part2_bottom .part2_right .div1 .div_left span{color: #070707;font-size: 72px;line-height: 58px;height: 58px;}
	.section2 .part2 .part2_bottom .part2_right .div1 .div_right{border: 1px solid #8e4829;font-size: 20px;color: #b9b9b9;height: 56px;width: 370px;text-align: left;padding-left: 4px;}
	.section2 .part2 .part2_bottom .part2_right .div1 .div_right p{height: 52px;line-height: 26px;display: -webkit-box; display: -moz-box; white-space: pre-wrap; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2;width: 326px;display: inline-block;float: left;}
	.section2 .part2 .part2_bottom .part2_right .div1 .div_right img{display: inline-block;float: left;width: 34px;height: 39px;vertical-align: bottom;margin-top: 9px;}
	.section2 .part2 .part2_bottom .part2_right .div1:hover .div_left{background: #ff7741;}
	.section2 .part2 .part2_bottom .div_more{display: none;padding-top: 20px;z-index: 999;position: relative;}
	.section2 .part2 .part2_bottom .div_more a{font-size: 14px;color: #f9f9f9;border: 1px solid #c05a31;padding: 0 12px;}
	.section2 .part2 .part2_bottom .part2_right .div1:hover .div_more{display: block;}
	/*img height 1080px*/
	
	.section .section-bg{ position: absolute; left: 0; top: 50%; z-index: -1; width: 100%; height: auto; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%);}
	/*video*/
	
	.section2 .video{ width: auto; height: 1145px; background-color: #ffffff; text-align: center;}
	.section2 .video>p, .video>ul{ width: 1200px; height: auto; margin: 0px auto; text-align: center; margin-bottom: 50px;}
	.section2 .video .title{ margin: 0px auto; margin-top: 40px;}
	.section2 .video .picScroll-left{ width: 742px; margin: 40px auto; position: relative; height: 553px; background: url(../img/index/ipad.png) no-repeat center;}
	.section2 .video .picScroll-left .bd{ width: 609px; height: 457px; margin: 0 auto; overflow: hidden; padding-top: 35px;}
	.section2 .video .picScroll-left .bd li{ float: left; background: #e3e3e3; position: relative; text-align: center; width: 609px; height: 457px; cursor: pointer;}
	.section2 .vedio-bg {}
	
	.section2 .vedio-box{ width: 627px; height: 398px; position: absolute; bottom: 11px; left: 20px; background: #d5d5d5;}
	.section2 .vedio-img{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;}
	.section2 .vedio-box video, .vedio-box embed{ width: 100%!important; height: 100%!important;}
	.section2 .vedio-box .play{ position: absolute; left: 50%; top: 50%; width: 70px; height: 70px; display: block; margin-top: -35px; margin-left: -35px; cursor: pointer; z-index: 12;}
	.section2 .video .picScroll-left .arrow{ position: absolute; top: 50%; width: 144px; height: 100px; cursor: pointer; margin-top: -35px;}
	.section2 .video .picScroll-left .arrow img{ width: 144px; height: 50px; display: block; margin: 25px auto;}
	.section2 .video .picScroll-left .arrow-left{ left: -230px;}
	.section2 .video .picScroll-left .arrow-right{ right: -230px;}
	.section2 .video .list1 li{ display: inline-block; width: 288px; height: auto; padding: 5px; border: 1px solid #fff; margin: 40px;}
	.section2 .video .list1 li:hover{ border: 1px solid #e1c563;}
	.section2 .video .list1 li .year{ height: 60px; margin: 0px; margin-top: -10px;}
	.section2 .video .list1 li .year .left{ font-family: 'Constantia'; font-size: 48px; color: #4a1670; float: left; margin-left: 10px;}
	.section2 .video .list1 li .year .right{ font-family: 'Constantia'; font-size: 48px; color: #4a1670; text-decoration: line-through; float: right; margin-right: 40px;}
	.section2 .video .list1 li .content{ font-family: '微软雅黑'; font-size: 16px; color: #888888; margin: 10px; text-align: left;}
	/*video*/
	/*img height 880px*/
	
	.section .section-bg2{ position: absolute; left: 50%; top: 0; height: 100%; z-index: -1; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%); box-sizing: border-box;}
	/*section3*/
	
	.section3 .part1{ width: 1200px; margin: 0 auto; margin-top: 104px; position: relative; padding: 70px 0; box-sizing: border-box; color: #365434;}
	.section3 .part1-l{ width: 380px;}
	.section3 .part1-l .p1{ font-size: 41px; width: 300px; margin: 0 auto;}
	.section3 .part1-l .p1 span{ color: #b9955b;}
	.section3 .part1-l .p2{ font-size: 24px; width: 300px; margin: 0 auto;}
	.section3 .part1-l .p3{ font-size: 54px; color: #ddb875; line-height: 54px; width: 300px; margin: 10px auto; text-align: left;}
	.section3 .part1-l .p4{ width: 300px; margin: 0 auto; border-top: 1px solid #365434; border-bottom: 1px solid #365434; padding: 10px 0;}
	.section3 .part1-l .p4 p{ font-size: 28px; display: inline-block; vertical-align: middle;}
	.section3 .part1-l .p4 img{ display: inline-block; vertical-align: middle;}
	.section3 .part1-l .p5{ width: 300px; margin: 0 auto; text-align: left; margin-top: 15px; font-size: 12px; line-height: 20px;}
	.section3 .part1-r{ position: absolute; top: 75px; left: 430px; width: 844px; color: #365434;background: url(../img/index/b3.png) no-repeat top;background-size: 844px 293px;}
	.section3 .part1-r .r-img{ display: block; width: 100%;}
	.section3 .part1-r .fonts{ position: absolute;}
	.section3 .part1-r .font1 .span1{ font-size: 60px; display: inline-block;}
	.section3 .part1-r .font1 .span2{ font-size: 21px; display: inline-block;}
	.section3 .part1-r .font1{ top: 55px; left: 10px;}
	.section3 .part1-r .font2{ font-size: 18px; top: 209px;}
	.section3 .part1-r .font2 span{ font-size: 24px; margin-left: 5px;}
	.section3 .part1-r .font3{ top: 302px;}
	.section3 .part1-r .font4{ top: 393px;}
	.section3 .part1-r .font5{ width: 190px; position: absolute; top: 20px; right: -150px;}
	.section3 .part1-r .font5 p{ font-size: 36px;}
	.section3 .part1-r .font5 p img{ position: relative; top: 15px; left: 8px;}
	.section3 .part1-r .font6{ font-size: 14px; width: 100px; bottom: 80px; right: -150px; line-height: 24px;}
	.section3 .part3_bottom{margin-top: 126px;margin-left: 40px;width: 800px;}
	.section3 .part3_bottom .div0{width: 198px;height: 238px;position: relative;}
	.section3 .part3_bottom .div0 img{width: 100%;height: 100%;}
	.section3 .part3_bottom .div2{text-align: center;background: url(../img/index/b5.png) no-repeat bottom left #ff7741;}
	.section3 .part3_bottom .div3{text-align: center;background: #ff7741;}
	.section3 .part3_bottom .div4{text-align: center;background: url(../img/index/b6.png) no-repeat bottom left #ff7741;}
	.section3 .part3_bottom .div5{text-align: center;background: url(../img/index/b7.png) no-repeat bottom left #ff7741;}
	.section3 .part3_bottom .div2 h3{font-family: myfont;font-size: 26px;color: #fff;padding-top: 36px;background: url(../img/index/b4.png) no-repeat bottom center;background-size: 42px 3px;line-height: 30px;padding-bottom: 10px;margin-bottom: 8px;}
	.section3 .part3_bottom .div2 p{font-size: 20px;color: #fff;height: 26px;line-height: 26px;overflow: hidden;width: 100%;}
	.section3 .part3_bottom .div2 span{display: block;font-size: 17px;color: #fff;}
	.section3 .part3_bottom .div2 font{border: 1px solid #fff;margin-top: 14px;display: inline-block;}
	.section3 .part3_bottom .div2 font a{font-size: 8px;color: #fff;padding: 4px 8px;}
	.section3 .part3_bottom .div2:hover font{background: #fff;}
	.section3 .part3_bottom .div2:hover font a{color: #fe7641;}
	.section3 .part3_bottom .hei{background: rgba(0, 0, 0, 0.4);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	/*video*/
	
	.section3 .my_vedio{position: relative;}
	.section3 .video{ width: auto; height: 1145px; background-color: #ffffff; text-align: center;}
	.section3 .video>p, .video>ul{ width: 1200px; height: auto; margin: 0px auto; text-align: center; margin-bottom: 50px;}
	.section3 .video .title{ margin: 0px auto; margin-top: 40px;}
	.section3 .video .picScroll-left{ width: 742px; margin: 40px auto; position: relative; height: 553px; background: url(../img/index/ipad.png) no-repeat center;}
	.section3 .video .picScroll-left .bd{ width: 609px; height: 457px; margin: 0 auto; overflow: hidden; padding-top: 35px;}
	.section2 .video .picScroll-left .bd li{ float: left; background: #e3e3e3; position: relative; text-align: center; width: 609px; height: 457px; cursor: pointer;}
	.section3 .vedio-bg {}
	
	.section3 .vedio-box{ width: 273px; height: 571px; position: absolute; top: 17px; left: 20px;}
	.section3 .vedio-img{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;}
	.section3 .vedio-box video, .vedio-box embed{ width: 100%!important; height: 100%!important;}
	.section3 .vedio-box .play{ position: absolute; left: 50%; top: 50%; width: 70px; height: 70px; display: block; margin-top: -35px; margin-left: -35px; cursor: pointer; z-index: 12;}
	.section3 .video .picScroll-left .arrow{ position: absolute; top: 50%; width: 144px; height: 100px; cursor: pointer; margin-top: -35px;}
	.section3 .video .picScroll-left .arrow img{ width: 144px; height: 50px; display: block; margin: 25px auto;}
	.section3 .video .picScroll-left .arrow-left{ left: -230px;}
	.section3 .video .picScroll-left .arrow-right{ right: -230px;}
	.section3 .video .list1 li{ display: inline-block; width: 288px; height: auto; padding: 5px; border: 1px solid #fff; margin: 40px;}
	.section3 .video .list1 li:hover{ border: 1px solid #e1c563;}
	.section3 .video .list1 li .year{ height: 60px; margin: 0px; margin-top: -10px;}
	.section3 .video .list1 li .year .left{ font-family: 'Constantia'; font-size: 48px; color: #4a1670; float: left; margin-left: 10px;}
	.section3 .video .list1 li .year .right{ font-family: 'Constantia'; font-size: 48px; color: #4a1670; text-decoration: line-through; float: right; margin-right: 40px;}
	.section3 .video .list1 li .content{ font-family: '微软雅黑'; font-size: 16px; color: #888888; margin: 10px; text-align: left;}
	/*video*/
	/*.section4*/
	
	.section4 .part1{ width: 860px; margin: 0 auto; margin-top: 130px; position: relative; padding: 20px 0; box-sizing: border-box; color: #365434;}
	.section4 .part1 .p1{ font-size: 48px; text-align: center;}
	.section4 .part1 .p1 span{ color: #ddb875;}
	.section4 .part1 .p2{ font-size: 14.5px; border: 1px solid #ddb875; width: 850px; height: 35px; text-align: center; margin: 0 auto; margin-top: 10px; line-height: 35px;}
	.section4 .part1 ul{ text-align: center;}
	.section4 .part1 ul li{ width: 342px; height: 410px; display: inline-block; background-color: #365434; text-align: left; margin: 0 8px; margin-top: 20px;}
	.section4 .part1 ul li .li-img{ width: 342px; height: 241px;}
	.section4 .part1 ul li .li-img img{ display: block; width: 100%; height: 100%;}
	.section4 .part1 ul li .li-fonts{ padding: 0 15px; box-sizing: border-box; position: relative;}
	.section4 .part1 ul li .li-fonts .li-p1{ font-size: 28px; color: #ddb875; line-height: 60px;}
	.section4 .part1 ul li .li-fonts .li-p1 img{ vertical-align: middle; margin-right: 5px;}
	.section4 .part1 ul li .li-fonts .li-p2{ font-size: 12px; color: #fff; line-height: 24px; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
	.section4 .part1 ul li .li-fonts .more{ width: 80px; height: 25px; border: 1px solid #ddb875; text-align: center; line-height: 25px; font-size: 14px; position: absolute; bottom: -40px; right: 20px;}
	.section4 .part1 ul li .li-fonts .more a{ display: block; width: 100%; height: 100%; color: #ddb875;}
	.section4 .part1 ul li .li-fonts .more:hover{ border: 1px solid red;}
	.section4 .part1 ul li .li-fonts .more:hover a{ color: red;}
	.section4 .part1-r{ position: absolute; bottom: 0; right: 0px; width: 456px;z-index: -1;}
	.section4 .part1-r img{ display: block; width: 100%;}
	.section4 .part1-rr{ position: absolute; top: 232px; left: 0px; width: 510px;}
	.section4 .part1-rr img{ display: block; width: 100%;}
	.section4 .part2 .part2_bottom{width: 100%;margin-top: 10px;padding-bottom: 22px;background: url(../img/index/a6.png) no-repeat 100% bottom;background-size: 100% 3px;}
	.section4 .part3_img1{display: block;margin: 0 auto;width: 610px;}
	.section4 .part3_list{margin-top: 50px;}
	.section4 .part3_list .div1{position: relative;width: 227px;height: 370px;margin-right: 88px;}
	.section4 .part3_list .div1:last-child{margin-right: 0;}
	.section4 .part3_list .div1 img{width: 227px;height: 370px;}
	.section4 .part3_list .div1 span{background: rgba(0, 0, 0, 0.6);border: 1px solid #fff;color: #fff;font-size: 16px;;position: absolute;top: 164px;right: -24px;}
	.section4 .part3_list .div1 span a{color: #fff;padding: 2px 8px;}
	.section4 .part3_list .div1:hover span a{color: #c35534;}
	/*.section5*/
	
	.section5 .part1{ width: 100%; margin: 0 auto;position: relative; box-sizing: border-box; color: #365434;height: 100%;}
	.section5 .part1 .part1-l{ overflow: hidden; width: 55%; margin-left: 0px; display: inline-block;height: 100%;float: left;}
	.section5 .part1 .part1-r{ display: inline-block; vertical-align: bottom;;display: inline-block;height: 100%; float: left;width: 45%;overflow: hidden;height: 100%;position: relative;}
	.section5 .part1 .part1-r img{height: 100%;;transform: translate(-50%, -50%); -webkit-transform: translate(-47%, -50%); -ms-transform: translate(-47%, -50%); -o-transform: translate(-47%, -50%); -moz-transform: translate(-47%, -50%);top: 50%;position: absolute;left: 50%;}
	.section5 .mj2 .picScroll-left{top: 80px; position: relative; width: 100%; height: 100%;}
	.section5 .mj2 .picScroll-left .bd{ width: 100%; margin: 0px auto; overflow: hidden; height: 100%;}
	.section5 .mj2 .picScroll-left .bd li{ float: left;overflow: hidden; position: relative; text-align: center; width: 100%; height: 100%; cursor: pointer;}
	.section5 .mj2 .picScroll-left .bd li .box{ position: relative; height: 100%; width: 100%;}
	.section5 .mj2 .picScroll-left .bd li img{ display: block; position: absolute;left: 50%; height: 100%;transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);top: 50%;}
	.section5 .mj2 .picScroll-left .hd{z-index: 99; position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%); bottom: 110px;}
	.section5 .mj2 .picScroll-left .hd ul li{ font-size: 0; width: 20px; height: 20px; border-radius: 50%; margin: 0 10px; background-color: #e5e5e5; display: inline-block;}
	.section5 .mj2 .picScroll-left .hd ul li.on{ background-color: #7c182b;}
	#order_list,.tempWrap{height: 100%;}
	.section5 .public-img{position: absolute;left: 50%;transform: translateX(5%); -webkit-transform: translateX(5%); -ms-transform: translateX(5%); -o-transform: translateX(5%); -moz-transform: translateX(5%);width: 187px;}
	/*.section6*/
	
	.section6 .part1{ margin: 0 auto; position: relative; padding: 80px 0 0 0; box-sizing: border-box; color: #365434;}
	.section6 .part1 .part1-l{ width: 100%;}
	.section6 .part1 .part1-l .p2{ display: block; margin: 0 auto; width: 688px; height: 110px;}
	.section6 .part1 .part1-l .p3 h3{ font-size: 46px;}
	.section6 .part1 .part1-l .p3 span{ font-size: 32px; border: 1px solid #50684c;}
	.section6 .part1 .part1-l .p3{ width: 308px; border-right: 1px solid #51684d;}
	.section6 .part1 .part1-l .p4{ width: 368px; padding-left: 10px;}
	.section6 .part1 .part1-l .p4 p{ font-size: 46px; display: block; height: 54px; line-height: 54px;}
	.section6 .part1 .part1-l .p5{ display: block; margin: 0 auto; font-size: 25px; color: #e1c188; width: 100%; text-align: center;}
	.section6 .picScroll-left{ height: 380px; width: 1068px; margin: 0 auto; margin-top: 20px; position: relative;}
	.section6 .picScroll-left .bd{ height: 380px; margin: 0 auto; overflow: hidden;}
	.section6 .picScroll-left .bd li{ float: left; position: relative; text-align: center; width: 257px; height: 380px; cursor: pointer; z-index: 2; margin: 0 5px;}
	.section6 .picScroll-left .bd li img{ display: block; width: 257px; height: 337px; box-sizing: border-box; position: relative; z-index: 2;}
	.section6 .picScroll-left .arrow{ position: absolute; top: 40%; width: 19px; height: 25px; cursor: pointer; z-index: 99;}
	.section6 .picScroll-left .arrow img{ width: 100%; height: 100%; display: block;}
	.section6 .picScroll-left .arrow-left{ left: -25px;}
	.section6 .picScroll-left .arrow-right{ right: -25px;}
	.section6 .picScroll-left .bd li .li-fonts{ display: inline-block; font-size: 14px; color: #365434; line-height: 30px; margin-top: 10px; padding: 0 20px; border: 1px solid #365434;}
	/*.section7*/
	
	.section7 .part1{ height: 570px; width: 1200px; margin: 0 auto; margin-top: 60px; position: relative; padding: 80px 0; box-sizing: border-box; color: #365434;}
	.section7 .part1 .part1-l{width: 100%;display: inline-block;}
	.section7 .part1 .part1-l img{display: block;margin: 0 auto;width: 991px;}
	.section7 .part1 .part1-r{width: 1200px;display: block;margin: 0 auto;text-align: center;}
	.section7 .section-bg2{top: 70px;}
	.section7 .part1 .part1-r .p1{margin-top: 370px;font-size: 20px;color: #fff;border: 1px solid #824123;display: inline-block;padding: 2px 5px;}
	.section7 .part1 .part1-r .p2{font-size: 20px;color: #fff;width: 466px;display: block;margin: 0 auto;text-align: left;margin-top: 10px;}
	.section7 .part1 .part1-r .p2 span{color: #ff7741;}
	.section7 .part1 .part1-r .p3{font-size: 17px;color: #ffffff;border: 1px solid #ffffff;padding: 1px 5px;display: inline-block;margin-top: 18px;}
	.section7 .part1 .part1-r .p3 a{color: #fff;display: block;}
	.section7 .part1 .part1-r .p3:hover{background: #ff7741;}
	.section7 .part1 .part1-r .p3:hover a{color: #fff;}
	/*.section8*/
	
	.section8 .part1{width: 1200px; margin: 0 auto;position: relative; padding: 80px 0 0 0; box-sizing: border-box; display: block;margin: 0 auto;}
	.section8 .part1 .part1-l{margin-top: 60px;clear: both;}
	.section8 .part1 .part1-l img{display: block;margin: 0 auto;width: 681px;}
	.section8 .part1 .part1-r{width: 950px;display: block;margin: 0 auto;margin-top: 50px;}
	.section8 .part1 .part1-r .part8_left{width: 402px;}
	.section8 .part1 .part1-r .part8_rightP{width: 422px;}
	/*----切换--------*/
	
	ul li{ list-style: none;}
	.section6 .part{width: 100%;height: 100%;overflow: hidden;}
	.bigSmall .large_box{float: right; width: 77%;clear: both;height: 100%; position: relative; box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);}
	.bigSmall .large_box ul{ position: relative;}
	.bigSmall .large_box ul li{width: 100%!important;float: left;position: relative;}
	.bigSmall .large_box ul{width: 100% !important;}
	.bigSmall .large_box ul li img{ width: 100%; display: block;position: absolute;height: 100%;left: 50%;transform: translateX(5%); -webkit-transform: translateX(5%); -ms-transform: translateX(5%); -o-transform: translateX(5%); -moz-transform: translateX(5%);;}
	.bigSmall .small_box{float: left; width: 23%; margin: 0 auto; position: relative;}
	.bigSmall .small_box .small_list{ width: 100%; margin: 0 auto; overflow: hidden;}
	.bigSmall .small_box .small_list ul{width: 100% !important;height: 100%!important;}
	.bigSmall .small_box .small_list ul{ position: relative; width: 100%;}
	.bigSmall .small_box .small_list ul li{margin-bottom: 2%; width: 386px!important; height: 32%;display: block; position: relative; cursor: pointer; overflow: hidden; border: 2px solid transparent; box-sizing: border-box; z-index: 3;}
	.bigSmall .small_box ul li img{ width: 100%; display: block;}
	.bigSmall .small_box ul li.on{ border: 2px solid #B40005;}
	.arrow{ position: absolute; top: 50%; margin-top: -25px; z-index: 2; height: 55px; width: 55px; cursor: pointer;}
	.arrow-left{ left: 115px;}
	.arrow-right{ right: 115px;}
	.arrow img{ border-radius: 50%; overflow: hidden; display: block; width: 55px; height: 55px; margin: 10px auto 0 auto;}
	/*---------------*/
	
	
	@media (max-width: 1680px){ .section2 .part1-r{right: -190px;}
		.section2 .part1-rr img{width: 57%;}
		.section4 .part1-rr{left: -150px;}
		.section4 .part1-r{right: -180px;}
		}
	@media (max-width: 1480px){ .header .nav ul li{ width: 80px;}
	.section2 .part1{margin-top: 150px;}
	.section2 .part1-r{right: -220px;}
			.section3 .part1-l{width: 330px;}
			.section3 .part1-r{left: 340px;}
			.section2 .part1-rr img{width: 57%;}
			.section4 .part1-rr{left: -100px;}
			.section2 .part1-rr{left:0px;}
			.header2{ margin-left: 5px;}
			.section4 .part1-r{right: -100px;}
			.header .nav ul li:nth-of-type(5){ margin-left: 120px;}
			.section4 .part1-rr img{width: 90%;}
			.section4 .part1-r img{width: 90%;}
			.section4 .part1-rr{left: -226px;}
			.section4 .part1-r{right: -300px;}
			.section5 .public-img{width: 130px;bottom: 140px;}
			.section7 .part1 .part1-r .p1{margin-top: 332px;}	
			
			}
		@media (max-width: 1290px){ .section2 .part1-r{right: -320px;}
			.section3 .part1-l{width: 330px;}
			.section3 .part1-r{left: 340px;}
			.section2 .part1-rr img{width: 40%;}
			.section4 .part1-rr{left: -100px;}
			.header2{ margin-left: 5px;}
			.section4 .part1-r{right: -100px;}
			.header .nav ul li:nth-of-type(5){ margin-left: 120px;}
			.section4 .part1-rr img{width: 90%;}
			.section4 .part1-r img{width: 90%;}
			.section4 .part1-rr{left: -226px;}
			.section4 .part1-r{right: -300px;}
			.section5 .public-img{width: 130px;bottom: 140px;}
			.section7 .part1 .part1-r .p1{margin-top: 332px;}
			
			}
