.anchor0{
	top: -2.1rem;
}
.content{
	background:#fefeff;
}

.part1 .main1{
	width: 100%;
	height: 4.19rem;
	background: url(../img/hz/a1.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.2rem;
}
.part1 .public_title{
	margin-top: 0;
}
.part1 .part1-top{
	padding-left: 0.3rem;
}
.part1 .part1-top .line{
	width: 0.6rem;
	height: 0.06rem;
	background-color: #d44f4c;
	margin: 0.2rem 0;
}
.part1 .part1-top .p1{
	font-size: 0.38rem;
	font-family: "方正粗圆简体";
	text-transform: uppercase;
	color:#d44f4c;
}
.part1 .part1-top .p2{
	font-size: 0.38rem;
	font-family: "方正粗圆简体";
	color:#727171;
}
.part1 .part1-top .p2 span{
	font-size: 0.5rem;
	color:#4cacc5;
}

.part1 .main2 ul{
	text-align: center;
}
.part1 .main2 ul li{
	display: inline-block;
	width: 3.04rem;
	margin:0 0.2rem;
	margin-top: 0.2rem;
}
.part1 .main2 ul li .li-img{
	width: 3.04rem;
	height: 2.24rem;
}
.part1 .main2 ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part1 .main2 ul li .li-font{
	font-size: 0.34rem;
	line-height: 0.34rem;
	color:#d44f4c;
	position:relative;
	margin-top: 0.1rem;
}
.part1 .main2 ul li .li-font:before,
.part1 .main2 ul li .li-font:after {
    content: "";
    display: inline-block;
    width: 0.7rem;
    border-top: 2px solid #d44f4c;
    position: absolute;
    top:50%;
    margin-top: -1px;
}
.part1 .main2 ul li .li-font:before{
	left: 0;
}
.part1 .main2 ul li .li-font:after{
	right: 0;
}
.part1 .main2 .a7-img{
	display: block;
	width: 7.23rem;
	margin:0 auto;
	margin-top: 0.5rem;
}
.part1 .main2 .a7img-font{
    width: 5.5rem;
    border: 1px solid #80b01f;
    margin-left: 1.6rem;
    margin-top: -0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    box-sizing: border-box;
}
.part1 .main2 .a7img-font span{
	display: block;
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 130%;
	margin-left: -15%;
	color:#000;
}

.part1 .main3{
	margin-top: 0.2rem;
}
.part1 .main3 ul{
	text-align: center;
}
.part1 .main3 ul li{
	display: inline-block;
	position:relative;
    margin: 0 0.1rem;
    margin-top: 0.2rem;
}
.part1 .main3 ul li .li-img{
	width: 3.03rem;
	height: 2.78rem;
}
.part1 .main3 ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part1 .main3 ul li .li-font{
	background-color: #80b01f;
	position:absolute;
	top:-0.1rem;
	width: 100%;
}
.part1 .main3 ul li .li-font span{
	display: block;
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	width: 120%;
	margin-left: -10%;
}


.part1 .main4 .a16-img{
	width: 7.14rem;
	display: block;
	margin:0 auto;
	margin-top: 0.5rem;
}
.part1 .main4 .box{
	width:7rem;
	height: 0.7rem;
	border-radius: 0.35rem;
	border:1px solid #e4ae3e;
	margin:0 auto;
	font-size: 0.24rem;
	color:#3e3a39;
	text-align: center;
	line-height: 0.7rem;
	position:relative;
	margin-top: 0.5rem;
}
.part1 .main4 .box .box-top{
	font-size: 0.28rem;
	background-color: #e4ae3e;
	width: 1.5rem;
	height: 0.36rem;
	border-radius: 0.2rem;
	color:#fff;
	line-height: 0.36rem;
	font-family: "方正粗圆简体";
	position:absolute;
	top:-0.18rem;
	left: 1.4rem;
}


.part2-top{
	padding:0 0.24rem;
	position:relative;
}
.part2-top .line{
	width: 0.6rem;
	height: 0.06rem;
	background-color: #d44f4c;
	margin: 0.2rem 0;
}
.part2-top .p1{
	font-size: 0.38rem;
	font-family: "方正粗圆简体";
	color:#d44f4c;
	text-transform: uppercase;
}
.part2-top .p1 span{
	color:#727171;
}
.part2-top .p2{
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 130%;
	margin-left: -15%;
	color:#595757;
}
.part2-top .b1-img{
	width: 3.19rem;
	position:absolute;
	top: 0;
	right: 0;
}
.part2-main{
	margin-top: 0.7rem;
}
.part2-main .box{
	width: 5.98rem;
	margin:0 auto;
	margin-bottom: 0.4rem;
}
.part2-main .box img{
	width: 5.98rem;
	height: 3.3rem;
}
.part2-main .box .box-font{
	width: 100%;
	height: 1.1rem;
	background-color: #d44f4c;
	text-align: center;
	margin-top: 0.05rem;
}
.part2-main .box .box-font .p1{
	font-size: 0.4rem;
}
.part2-main .box .box-font .p2{
	font-size: 0.3rem;
}
.part2-main .box .box-font .p2 span{
	font-weight: bold;
}


@media (max-width:320px) {
	.er-nav .er-nav-l{
		width: 1.8rem;
	}
	.part1 .main4 .box span{
		display: block;
		font-size: .24rem;
		transform: scale(.833);
		-webkit-transform: scale(.833);
		-o-transform: scale(.833);
		-moz-transform: scale(.833);
		-ms-transform: scale(.833);
		width: 120%;
		margin-left: -10%;
		line-height: 0.8rem;
	}
}