.part1 {
	width: 100%;
	height: 5rem;
	background-color: #d44f4c;
}

.part1 .part1-top {
	width: 1.25rem;
	height: 0.05rem;
	margin: 0 auto;
	padding-top: 0.35rem;
}

.part1 .part1-top .top-l {
	width: 50%;
	height: 100%;
	background-color: #42b9d2;
}

.part1 .part1-top .top-r {
	width: 50%;
	height: 100%;
	background-color: #fff;
}

.part1 .p1 {
	font-size: 0.44rem;
	font-family: "方正粗圆简体";
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
}

.part1 .part1-main {
	width: 6.7rem;
	height: 3rem;
	margin: 0 auto;
	border: 2px solid #fff;
	text-align: center;
	position: relative;
}

.part1 .part1-main .p2 {
	font-family: "方正粗圆简体";
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.36rem;
	background-color: #d44f4c;
	width: 2.2rem;
	margin: 0 auto;
	margin-top: -0.18rem;
}

.part1 .part1-main .p3 {
	font-family: "方正粗圆简体";
	color: #fff;
	font-size: 0.24rem;
	display: inline-block;
	line-height: 0.36rem;
	background-color: #fff;
	color: #d44f4c;
	padding: 0 0.1rem;
	border-radius: 0.18rem;
}

.part1 .part1-main img {
	width: 6.41rem;
	height: 2.33rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -3.2rem;
}

.part1 .part1-main .p4 {
	font-family: "方正粗圆简体";
	position: absolute;
	line-height: 0.36rem;
	bottom: -0.18rem;
	left: 50%;
	width: 1rem;
	margin-left: -0.5rem;
	background-color: #fff;
	border-radius: 0.18rem;
}

.part1 .part1-main .p4 a {
	display: block;
	width: 100%;
	height: 100%;
	color: #d44f4c;
}

.part1 .part1-main .p4 span {
	display: block;
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	width: 120%;
	margin-left: -10%;
}

.part1 .p5 {
	font-family: "方正粗圆简体";
	font-size: 0.47rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.1rem;
}

.part2 .part2-main {
	position: relative;
}

.part2 .part2-main .p1 {
	font-family: "方正粗圆简体";
	font-size: 0.5rem;
	color: #fff;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 1.3rem;
}

.part2 .part2-main .p2 {
	font-size: 0.24rem;
	font-family: "方正粗圆简体";
	width: 1.2rem;
	height: 0.36rem;
	line-height: 0.36rem;
	background: #fff;
	position: absolute;
	bottom: 0.3rem;
	left: 1.5rem;
	border-radius: 0.18rem;
	text-align: center;
}

.part2 .part2-main .p2 a {
	display: block;
	width: 100%;
	height: 100%;
	color: #db4f4c;
}



.part3 .slide-carousel {
	width: 100%;
	margin: 0 auto;
	height: 3.63rem;
	position: relative;
	margin-top: 0.4rem;
}

.part3 .slide-3d .item-list li{
	width: 4.41rem;
	height: 3.63rem;
	transition: all 0.5s ease-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2.2rem;
}

.part3 .slide-3d .item-list li.item0 {
	transform: translate3d(0, 0, 0) scale(0.6);
}

.part3 .slide-3d .item-list li.item1 {
	transform: translate3d(-1.5rem, 0, 0) scale(0.6);
	transform-origin: 0 50%;
	opacity: 1;
	z-index: 2;
}

.part3 .slide-3d .item-list li.item2 {
	transform: translate3d(0, 0, 0) scale(1);
	transform-origin: 0 50%;
	opacity: 1;
	z-index: 3;
}

.part3 .slide-3d .item-list li.item3 {
	transform: translate3d(1.5rem, 0, 0) scale(0.6);
	transform-origin: 100% 50%;
	opacity: 1;
	z-index: 2;
}

.part3 .slide-3d .item-list li .cover-img {
	display: block;
	width: 4.41rem;
	height: 3.63rem;
}

.part3 .slide-3d .item-list li.item3 .cover-img {
	margin-left: 0;
}

.part3 .arrow {
	position: absolute;
	width: 0.31rem;
	height: 0.46rem;
	z-index: 10;
	top: 50%;
	margin-top: -0.23rem;
}

.part3 .item-prev{
	left: 0.5rem;
}

.part3 .item-next{
	right: 0.5rem;
}

.part3 .arrow img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	margin-top: -0.23rem;
}
.part3 .slide-3d .item-list li .slide3d-bg{
    height: 4.63rem;
    width: 100%;
    position:absolute;
    top:-0.5rem;
    background-color:rgba(235,165,164,0.5);
}
.part3 .slide-3d .item-list li.item2 .slide3d-bg{
	display: none;
}

.part4 .part4-top {
	width: 1.25rem;
	height: 0.05rem;
	margin: 0 auto;
	padding-top: 0.35rem;
	margin-bottom: 0.1rem;
}

.part4 .part4-top .top-l {
	width: 50%;
	height: 100%;
	background-color: #42b9d2;
}

.part4 .part4-top .top-r {
	width: 50%;
	height: 100%;
	background-color: #db4f4c;
}
.part4 .p1{
	font-size: 0.45rem;
	font-family: "方正粗圆简体";
	color:#db4f4c;
	text-align: center;
	margin-bottom: 0.3rem;
}
.part4 .p1 span{
	display: inline-block;
	font-size: 0.32rem;
	background-color: #ebb53e;
	color:#fff;
	border-radius: 0.16rem;
	line-height: 0.46rem;
	padding:0 0.1rem;
}


.part5{
	background-color: #db4f4c;
	padding-bottom: 0.2rem;
}
.part5 .part5-top{
	font-family: "方正粗圆简体";
	font-size: 0.45rem;
	width: 90%;
	margin:0 auto;
	padding-top: 0.4rem;
	position:relative;
}
.part5 .part5-top span{
	font-size: 0.32rem;
	background-color: #ebb53e;
	line-height: 0.36rem;
	border-radius: 0.16rem;
	padding:0 0.1rem;
}
.part5 .part5-top img{
	width: 1.84rem;
	height: 1.73rem;
	position:absolute;
	right: 0.6rem;
	top: 0.1rem;
}
.part5 .part5-main{
	width: 85%;
	margin:0 auto;
}
.part5 .part5-main .item{
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	width: 100%;
}
.part5 .part5-main .item .item-l{
	display: inline-block;
	vertical-align: middle;
	width: 0.23rem;
}
.part5 .part5-main .item .item-l img{
	margin-top: 0.1rem;
	width: 0.23rem;
	height: 0.21rem;
}
.part5 .part5-main .item .item-c{
	display: inline-block;
	vertical-align: middle;
	width: 2.79rem;
	height: 1.44rem;
	padding:0.1rem;
	border:1px solid rgba(255,255,255,0.5);
	margin-left: 0.1rem;
}
.part5 .part5-main .item .item-c img{
	display: block;
	width: 100%;
	height: 100%;
}
.part5 .part5-main .item .item-r{
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2rem;
}
.part5 .part5-main .item .item-r .p1{
	font-family: "方正粗圆简体";
	width:2.3rem;
	line-height: 0.36rem;
	border-radius: 0.18rem;
	background-color: #fff;
	font-size: 0.25rem;
	color:#db4f4c;
	text-align: center;
	margin-bottom: 0.1rem;
}
.part5 .part5-main .item .item-r .p2{
	font-size: 0.24rem;
	color:#fff;
	line-height: 0.32rem;
}
.part5 .part5-main .item .item-r .p2 span{
	font-weight: bold;
}

.part5 .part5-main .item2 .item-r{
	margin-left: 0;
}
.part5 .part5-main .item2 .item-c{
	margin-left: 0.2rem;
}
.part5 .part5-main .item2 .item-l{
	margin-left: 0.2rem;
}
.part5 .part5-main .item3{
	border:none;
}



/*.part6 .part6-top {
	width: 1.25rem;
	height: 0.05rem;
	margin: 0 auto;
	padding-top: 0.35rem;
	margin-bottom: 0.1rem;
}

.part6 .part6-top .top-l {
	width: 50%;
	height: 100%;
	background-color: #42b9d2;
}

.part6 .part6-top .top-r {
	width: 50%;
	height: 100%;
	background-color: #db4f4c;
}
.part6 .part6-p1{
	font-size: 0.45rem;
	font-family:"方正粗圆简体";
	text-align: center;
	color:#db4f4c;
}
.part6 .part6-main{
	text-align: center;
	margin-top: 0.4rem;
}
.part6 .part6-main ul li{
	display: inline-block;
}
.part6 .part6-main ul li .li-img{
	width: 1.54rem;
	height: 1.1rem;
	position:relative;
}
.part6 .part6-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part6 .part6-main ul li .li-img .img-font{
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    top: -0.3rem;
    left: -0.1rem;
    background-color: #db4f4c;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.05rem;
    box-sizing: border-box;
}
.part6 .part6-main ul li .li-img .img-font .p1{
	font-size: 0.29rem;
	line-height: 0.4rem;	
}
.part6 .part6-main ul li .li-img .img-font .p2{
	line-height: 0.1rem;
}
.part6 .part6-main ul li .li-img .img-font .p2 span{
	display: block;
	font-size: .24rem;
	transform: scale(.5);
	-webkit-transform: scale(.5);
	-o-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	width: 200%;
	margin-left: -50%;
}*/
.part6{
	position:relative;
}
.part6 .part6-p1{
	font-size: 0.45rem;
	font-family:"方正粗圆简体";
	text-align: center;
	color:#db4f4c;
	width: 100%;
	position:absolute;
	top:0.5rem;
}

@media (max-width:320px) {
	.part5 .part5-main .item .item-c{
		padding:0.04rem;
	}
	.part5 .part5-main{
		width: 90%;
	}
	.part5 .part5-main .item .item-r .p1{
		width: 2.6rem;
	}
	.part1 .part1-main .p2{
		width: 2.4rem;
	}
}
