.content {
    padding-bottom: 1.8rem;
}
.er-nav{
	text-align: center;
}
.ys-title{
	text-align: center;
	margin-top: 0.5rem;
}
.ys-title .ys-p1,
.ys-title .ys-p2{
	font-size: 0.46rem;
	color:#d84f4c;
	font-family: "方正粗圆简体";
}
.ys-title .ys-p2{
	display: inline-block;
	position:relative;
}
.ys-title .ys-p2::before,
.ys-title .ys-p2::after{
	content: "";
	display: inline-block;
	width: 0.8rem;
	height: 0.5rem;
	border-top:3px solid #d84f4c;
	position:absolute;
	top: 0.2rem;
}
.ys-title .ys-p2::before{
	border-left:3px solid #d84f4c;
	left: -0.9rem;
}
.ys-title .ys-p2::after{
	border-right:4px solid #d84f4c;
	right: -0.9rem;
}
.ys-title .ys-p3{
	font-size: 0.24rem;
	color:#d84f4c;
	text-transform: uppercase;
	line-height: 0.38rem;
	position:relative;
	width: 4rem;
	margin:0 auto;
	text-align: center;
}
.ys-title .ys-p3::before,
.ys-title .ys-p3::after{
	content: "";
	display: inline-block;
	width: 1.2rem;
	height: 3px;
	background-color: #d84f4c;
	position:absolute;
	top: 0.18rem;
}
.ys-title .ys-p3::before{
	left: -0.7rem;
}
.ys-title .ys-p3::after{
	right: -0.7rem;
}



.part0{
	position:relative;
}
.part0 .part0-top{
	padding:0 0.24rem;
}
.part0 .p1 p{
	display: inline-block;
	vertical-align: middle;
}
.part0 .p1{
	margin-top: 0.3rem;
}
.part0 .p1 .p1-0{
	font-size: 0.38rem;
	color:#d84f4c;
	font-family: "方正粗圆简体";
	text-transform: uppercase;
}
.part0 .p1 .line{
	width: 2rem;
	height: 2px;
	background-color: #d84f4c;
}
.part0 .p2{
	font-size: 0.38rem;
	font-family: "方正粗圆简体";
	color:#d84f4c;
	margin-top: 0.1rem;
}
.part0 .p2 span{
	color:#727171;
}
.part0 .p3{
	color:#595757;
	margin-top: 0.1rem;
}
.part0 .p3 span{
	display: block;
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 130%;
	margin-left: -15%;
}
.part0 .part0-img{
    width: 1.84rem;
    height: 1.87rem;
    position: absolute;
    top: -1rem;
    right:0;
}
.part0 .part0-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part0 .part0-main{
	text-align: center;
}
.part0 .part0-main .main-top{
	font-size: 0.32rem;
	color:#d84f4c;
	font-family: "方正粗圆简体";
	margin-top: 0.2rem;
}
.part0 .part0-main ul{
	font-size: 0;
}
.part0 .part0-main ul li{
	display:inline-block;
	position:relative;	
	margin: 0 0.05rem;
	margin-top: 0.3rem;
}
.part0 .part0-main ul li .li-img{
	width: 3.61rem;
	height: 2.39rem;
}
.part0 .part0-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.15rem;
}
.part0 .part0-main ul li .li-fonts{
	line-height: 0.4rem;
	text-align: center;
	width: 100%;
	position:absolute;
	color:#fff;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0 0 0.15rem 0.15rem;
}
.part0 .part0-main ul li .li-fonts span{
	display: block;
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 130%;
	margin-left: -15%;
}



/*.part1*/
.part1 .part1-main ul{
	font-size: 0;
	text-align: center;
}
.part1 .part1-main ul li{
	display: inline-block;
	vertical-align: top;
	width: 3.37rem;
	text-align: center;
	margin:0 0.1rem;
	margin-top: 0.2rem;
}

.part1 .part1-main ul li .li-img{
	width: 3.37rem;
	height: 2.45rem;
}
.part1 .part1-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part1 .part1-main ul li .li-fonts .p1{
	font-size: 0.4rem;
	line-height: 0.4rem;
	font-family: "方正准圆简体";
	color:#d84f4c;
	margin-top: 0.2rem;
	display: inline-block;
	position:relative;
	width:3.37rem;
}
.part1 .part1-main ul li .li-fonts .p1::before,
.part1 .part1-main ul li .li-fonts .p1::after{
	content: "";
	display: inline-block;
	width: 0.7rem;
	border-top:2px solid #d84f4c;
	position:absolute;
	top: 0.15rem;
}
.part1 .part1-main ul li .li-fonts .p1::before{
	left: 0;
}
.part1 .part1-main ul li .li-fonts .p1::after{
	right: 0;
}
.part1 .part1-main ul li .li-fonts .p2{
	font-size: 0.28rem;
	line-height: 0.32rem;
	color:#3e3a39;
	width: 3.37rem;
	height: 1.2rem;
	border-left: 2px solid #d84f4c;
	border-right: 2px solid #d84f4c;
	border-bottom: 2px solid #d84f4c;
	box-sizing: border-box;
	padding-top: 0.35rem;
	margin-top: -0.25rem;
}



/*.part2*/
.part2 .part2-main{
	/*text-align: center;*/
	padding-left: 0.56rem;
	position:relative;
}
.part2 .part2-main ul li{
	display: inline-block;
	margin:0 0.1rem;
	width: 2.99rem;
	margin-top: 0.3rem;
	
}
.part2 .part2-main ul li .li-img{
	width: 2.99rem;
	height: 2.22rem;
}
.part2 .part2-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part2 .part2-main ul li .li-fonts .p1{
	font-size: 0.36rem;
	color:#d84f4c;
	width: 100%;
	position:relative;
	text-align: center;
}
.part2 .part2-main ul li .li-fonts .p1:before,
.part2 .part2-main ul li .li-fonts .p1:after{
	content:"";
	display: inline-block;
	position:absolute;
	top: 0.2rem;
	width: 0.4rem;
	border-top:2px solid #d84f4c;
}
.part2 .part2-main ul li .li-fonts .p1:before{
	left: 0;
}
.part2 .part2-main ul li .li-fonts .p1:after{
	right: 0;
}
.part2 .part2-main ul li .li-fonts .p2{
	font-size: 0.28rem;
	color:#3e3a39;
}
.part2 .part2-main .c4-img{
	width: 3.69rem;
	height: 4.52rem;
	position:absolute;
	right: 0;
	bottom: 0;
}



/*part3*/
.part3-main ul{
	text-align: center;
	font-size: 0;
}
.part3-main ul li{
	display: inline-block;
	text-align: center;
	position:relative;
	margin: 0 0.26rem;
	margin-top: 0.5rem;
}
.part3-main ul li .li-fonts{
	font-size: 0.24rem;
	font-family: "方正准圆简体";
	background-color: #d3312e;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	text-align: center;
	padding-top: 0.12rem;
	box-sizing: border-box;
	line-height: 0.28rem;
	color:#fff;
	display: inline-block;
	position:relative;
	z-index: 3;
}
.part3-main ul li .li-img{
	width: 1.92rem;
	height: 1.92rem;
	margin-top: -0.45rem;
	position:relative;
}
.part3-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.part3-main ul li .li-r{
	width: 0.32rem;
	height: 0.32rem;
	position:absolute;
	top: 50%;
	margin-top: -0.16rem;
	right: -0.4rem;
}
.part3-main ul li .li-b{
	width: 0.32rem;
	height: 0.32rem;
	position:absolute;
	left: 50%;
	margin-left: -0.16rem;
	margin-top: 0.1rem;
}


/*.part4*/
.part4 .part4-main ul{
	font-size: 0;
	text-align: center;
}
.part4 .part4-main ul li{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 3.33rem;
	margin: 0 0.15rem;
	margin-top: 0.4rem;
}
.part4 .part4-main ul li .li-img{
	width: 3.33rem;
	height: 2.38rem;
}
.part4 .part4-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.part4 .part4-main ul li .li-fonts .p1{
	font-size: 0.38rem;
	font-family: "方正准圆简体";
	color:#d84f4c;
	position:relative;
	width: 100%;
	margin-top: 0.2rem;
}
.part4 .part4-main ul li .li-fonts .p1:before,
.part4 .part4-main ul li .li-fonts .p1:after{
	content:"";
	display: inline-block;
	position:absolute;
	top: 0.2rem;
	width: 0.3rem;
	border-top: 2px solid #d84f4c;
}
.part4 .part4-main ul li .li-fonts .p1:before{
	left: 0;
}
.part4 .part4-main ul li .li-fonts .p1:after{
	right: 0;
}
.part4 .part4-main ul li .li-fonts .p2{
	font-size: 0.26rem;
	color:#3e3a39;
}
.part4{
	margin-bottom: 0.4rem;
}
@media (max-width:320px) {
	.ys-title .ys-p3::before, .ys-title .ys-p3::after{
		width: 1rem;
	}
	.ys-title .ys-p3::after {
	    right: -0.75rem;
	}
	.ys-title .ys-p3::before {
	    left: -0.75rem;
	}
}