.part1 .box{
	border:1px solid #eaeae9;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.part1 .box .box-top{
	height: 34px;
	line-height: 34px;
	background-color: #f5f4f4;
}
.part1 .box .box-top .span1{
	margin-left: 15px;
	font-size: 14px;
}
.part1 .box .box-top .span2{
	margin-right: 15px;
	font-size: 12px;
}
.part1 .box .box-top .span2 a{
	color:#333;
}
.part1 .box .box-top .span2 a:hover{
	color:red;
	text-decoration: underline;
}
.part1 .box ul{
	padding-bottom:20px;
}
.part1 .box ul li{
	float:left;
	width: 188px;
	color:#000;
	font-size: 12px;
	margin-top: 15px;
	margin-right: 8px;
}
.part1 .box ul li:nth-child(4n+1){
	margin-left: 3px;
}
.part1 .box ul li:nth-child(4n){
	margin-right: 0;
}
.part1 .box ul li .li-img{
	width: 188px;
	height: 192px;
	position:relative;
}
.part1 .box ul li .li-img .cp-img{
	display: block;
	display: block;
	width: 100%;
	height: 100%;
}
.part1 .box ul li .li-img .cp-logo{
	width: 38px;
	height: 50px;
	position:absolute;
	top: 0;
	left: 15px;
}
.part1 .box ul li .li-p1 span{
	display: inline-block;
	vertical-align: middle;
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 125px;
}
.part1 .box ul li .li-p1 img{
	height: 10px;
	display:inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.part1 .box ul li .li-p4 span{
	color:#cf121b;
}
.part1 .box ul li p{
	line-height: 20px;
	margin-left: 5px;
}
.part1 .box ul li a{
	width: 81px;
	height: 23px;
	margin-left: 5px;
	margin-top: 5px;
	display: block;
}
.part1 .box ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}



