
.part1{
	border: 1px solid #eaeae9;
	color:#000;
}
.part1-top{
	height: 34px;
	line-height: 34px;
	background-color: #f5f4f4;
	font-size: 14px;
	padding-left: 15px;
	font-weight: bold;
}
.part1-main{
	padding-left: 15px;
	box-sizing: border-box;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 25px;
}
.part1-main p .span1{
	display: inline-block;
	width: 60px;
	letter-spacing: 7px;
}
.part1-main p:first-child .span1,
.part1-main p:nth-child(2) .span1{
	letter-spacing: 0;
}
.part1-main p{
	line-height:32px;
}
.part1-main p.p2{
	font-size: 12px;
	color:#808080;
	margin-top: 10px;
}
.part1-main p.p3{
	font-size: 14px;
	display: flex;
	width: 270px;
	margin-top: 15px;
	line-height: 20px;
}
.part1-main p.p3 input{
	border:1px solid #e3e2e1;
	padding-left:5px;
	box-sizing: border-box;
	height: 20px;
	flex: 1;
	display: inline-block;
	vertical-align: middle;
}
.part1-main p.p3 span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.part1-main button{
	width: 81px;
	height: 23px;
	margin-top: 10px;
	cursor: pointer;
}
.part1-main button img{
	display: block;
	width: 100%;
	height: 100%;
}
