

.part1 .part-top{
	height: 34px;
    line-height: 34px;
	border:1px solid #eaeae9;
    /*background-color: #f5f4f4;*/
}
.part1 .part-top a{
	display: inline-block;
	color:#000;
	width: 95px;
	height: 18px;
	border:1px solid #eaeae9;
	line-height: 18px;
	text-align: center;
	margin-left: 15px;
}
.part1 .part-top a:first-child{
	margin-left: 60px;
}
.part1 .part-top a:hover{
	color:red;
	text-decoration: underline;
}
.part1 ul{
	padding-bottom:20px;
}
.part1 ul li{
	float:left;
	width: 188px;
	color:#000;
	font-size: 12px;
	margin-top: 15px;
	margin-right: 8px;
}
.part1 ul li:nth-child(4n+1){
	margin-left: 3px;
}
.part1 ul li:nth-child(4n){
	margin-right: 0;
}
.part1 ul li .li-img{
	width: 188px;
	height: 192px;
	position:relative;
}
.part1 ul li .li-img a{
	display: block;
	width: 100%;
	height: 100%;
}
.part1 ul li .li-img .cp-img{
	display: block;
	display: block;
	width: 100%;
	height: 100%;
}
.part1 ul li .li-img .cp-logo{
	width: 38px;
	height: 50px;
	position:absolute;
	top: 0;
	left: 15px;
}
.part1 ul li .li-p1 span{
	display: inline-block;
	vertical-align: middle;
}
.part1 ul li .li-p1 img{
	height: 10px;
	display:inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.part1 ul li .li-p4 span{
	color:#cf121b;
}
.part1 ul li p{
	line-height: 20px;
	margin-left: 5px;
}
.part1 ul li a{
	width: 81px;
	height: 23px;
	margin-left: 5px;
	margin-top: 5px;
	display: block;
}
.part1 ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.part1 .btn-box{
	text-align: center;
	margin-top: 40px;
}
.part1 .btn-box p{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background-color: #888;
	padding:0 5px;
}
.part1 .btn-box p.btn,
.part1 .btn-box p.inp{
	background-color:transparent;
	padding:0;
}
.part1 .btn-box p.btn button{
	display: block;
	width: 100%;
	height: 100%;
	padding:0 5px;
}
.part1 .btn-box p.inp input{
	border:1px solid #eaeae9;
	width: 28px;
	height: 20px;
	padding-left: 2px;
}
.part1 .btn-box p.on{
	background-color: #cf111b;
}

.part1 .btn-box p a{
	color:#fff;
}
