.main{
	padding-bottom:1.6rem;
}

.part1-title{
	font-size: 0.47rem;
	color:#d9d9d9;
	text-align: center;
	font-weight: lighter;
	text-transform: uppercase;
}
.part1-title span{
	font-weight: bold;
}
.part1-title img{
	display: block;
	width: 100%;
	margin-top: 0.1rem;
}
.part1-main ul{
	font-size: 0;
	text-align: center;
	margin-top: 0.4rem;
}
.part1-main ul li{
	display:inline-block;
	margin:0.1rem;
}


.vedio-box {
	display: inline-block;
	width: 3.34rem;
	height:2.2rem;
	position: relative;
}

.vedio-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.vedio-box video,
.vedio-box embed {
	width: 100%!important;
	height: 100%!important;
}

.play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0.6rem;
	height:0.6rem;
	display: block;
	margin-top:-0.3rem;
	margin-left:-0.3rem;
	cursor: pointer;
	z-index: 12;
}