

.er-content .main{
	padding-bottom: 100px;
}
/*about1*/
.about1 .about-title{
	width: 927px;
	margin:0 auto;
	margin-top: 100px;
}
.about1 .about-title img{
	display: block;
	width: 100%;
}
.about1 .part1{
	padding-left: 28px;
	box-sizing: border-box;
	width: 895px;
	margin:0 auto;
}
.about1 .line{
	width: 85px;
	height: 5px;
	background-color: #0f776d;
	margin:40px 0;
}
.about1 .part1 .p1{
	font-size: 24px;
	color:#000;
	line-height: 36px;
}
.about1 .part1 .p2{
	font-size: 36px;
	color:#10776d;
	margin-top: 30px;
}
.about1 .part1 .p3{
	font-size: 24px;
	color:#000;
	line-height: 36px;
	margin-top: 15px;
}
.about1 .part1 .img{
	width: 896px;
	height: 417px;
	position:relative;
	margin-top: 40px;
}
.about1 .part1 .img img{
	display: block;
	width: 100%;
}
.about1 .part1 .img p{
	font-size: 36px;
	position:absolute;
	left: 90px;
	top: 140px;
	color:#fff;
}
.about1 .part1 .img p::after{
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 24px;
    left: 220px;
}
.about1 .part1 .img p span{
	font-size: 48px;
	display: block;
}
.about1 .part1 ul li{
	display: inline-block;
	border:5px solid #0f776d;
	margin-top: 50px;
	width: 417px;
}
.about1 .part1 ul li:last-child{
	margin-left:8px;
}
.about1 .part1 ul li img{
	display:block;
	width:417px;
	height:305px;
}


/*.about2*/
.about2 .about2-title{
	width: 915px;
	margin:0 auto;
	margin-top: 100px;
}
.about2 .about2-title img{
	display: block;
	width: 100%;
}

.about2 .part ul{
	width: 900px;
	margin:0 auto;
}
.about2 .part ul li{
	width: 437px;
	float: left;
	margin-right: 26px;
	margin-top: 20px;
}
.about2 .part ul li:nth-child(2n){
	margin-right: 0;
}
.about2 .part ul li .li-img{
	width: 437px;
	height: 261px;
	overflow: hidden;
}
.about2 .part ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.about2 .part ul li .li-img img:hover{
	transform: scale(1.2);
	transition: all 1s;
}
.about2 .part ul li .li-font{
	background-color: #156b64;
	text-align: center;
	padding:15px 0;
	color:#fff;
}
.about2 .part ul li .li-font .p1{
	font-size: 36px;
	line-height: 36px;
	display: inline-block;
	vertical-align: middle;
	border-right:1px solid #fff;
	padding-right: 10px;
	margin-right: 10px;
}
.about2 .part ul li .li-font .p2{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
}


/*about3*/
.about3-title{
	width: 605px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 100px;
}
.about3 .item-box{
	display: inline-block;
	vertical-align: middle;
	margin-left: 100px;
}
.about3 .item{
	width: 195px;
	height: 90px;
	border:1px solid #0f776d;
	box-sizing: border-box;
	text-align: center;
	border-radius:22px;
	font-size: 24px;
	margin:100px 0;
}
.about3 .item .p1{
	background-color: #0f776d;
	line-height: 40px;
	height: 44px;
	border-radius:20px;
	color:#fff;
	letter-spacing: 10px;
}
.about3 .item .p2{
	color:#000;
	line-height: 44px;
}
.about3 .part{
	width: 900px;
	
}
.about3 .part .img1{
	display: block;
}
.about3 .part .img2{
	display: block;
	margin:0 auto;
	margin-top:-95px;
}
.about3 .part .line{
	width: 85px;
	height: 5px;
	background-color: #0f776d;
	margin:0 auto;
	margin-top: 30px;
}
.about3 .part .p1{
	font-size: 36px;
	color:#10776d;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.about3 .part .p2{
	font-size: 24px;
	margin-top: 20px;
	line-height: 36px;
}


/*.about4*/
.about4 .about4-title{
	width: 897px;
	margin:0 auto;
	margin-top: 100px;
}
.about4 .part{
	width: 897px;
	margin:0 auto;
}
.about4 .part .part-top{
	height: 60px;
	background-color: #0f776d;
	border-radius: 30px;
	text-align: center;
	line-height: 60px;
	margin-top: 30px;
}
.about4 .part .part-top .span{
	font-size: 36px;
	color:#fff;
	margin:0 10px;
}
.about4 .part .part-top span{
	display: inline-block;
}
.about4 .part .img1{
	display:block;
	margin:0 auto;
	margin-top: 70px;
	position:relative;
	z-index: -1;
}
.about4 .part .line{
	width: 80px;
	height: 5px;
	background-color: #0f776d;
	margin:0 auto;
	margin-top: 50px;
}
.about4 .part .p1{
	font-size: 36px;
	color:#10776d;
	text-align: center;
	margin-top: 30px;
}
.about4 .part .p2{
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}
.about4 .part .p3{
	text-align: left;
}
.about4 .part .line1{
	margin-top: -100px;
}


.about5 .part1{
	width: 895px;
	margin:0 auto;
	margin-top: 100px;
}
.about5 .about5-title{
	display: block;
	width: 100%;
}
.about5 .about5-title img{
	display: block;
	width: 100%;
}
.about5 .part1 ul{
	margin-top: 30px;
}
.about5 .part1 ul li{
	width: 436px;
	float:left;
	margin-right: 23px;
	margin-top: 23px;
}
.about5 .part1 ul li:nth-child(2n){
	margin-right: 0;
}
.about5 .part1 ul li .li-img{
	width: 436px;
	height: 360px;
	position:relative;
	overflow: hidden;
}
.about5 .part1 ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.about5 .part1 ul li .li-img:hover img{
	transform: scale(1.2);
	transition: all 1s;
}
.about5 .part1 ul li .li-img p{
	background: rgba(19,119,109,0.6);
	height: 50px;
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 36px;
	color:#fff;
	letter-spacing: 12px;
}
.about5 .part1 ul li .li-font{
	height: 190px;
	background: #0f776d;
	font-size: 24px;
	color:#fff;
	padding:0 25px;
	padding-top: 12px;
	box-sizing: border-box;
	text-align:justify;
}
.about5 .part1 ul li:last-child{
	width: 895px;
}
.about5 .part1 ul li:last-child .li-img{
	width: 895px;
	height: 424px;
}
.about5 .part1 ul li:last-child .li-img p{
	letter-spacing:30px;
}
.about5 .part1 ul li:last-child .li-font{
	height: 100px;
}
.about5 .part2{
	width: 895px;
	margin:0 auto;
	margin-top: 50px;
}
.about5 .part2 .line{
	width: 80px;
	height: 5px;
	background-color: #0f776d;
	margin:0 auto;
	margin-top: 50px;
}
.about5 .part2 .p1{
	font-size: 36px;
	color:#10776d;
	text-align: center;
	margin-top: 30px;
}
.about5 .part2 .p2{
	font-size: 22px;
	margin-top: 20px;
	line-height: 36px;
}
.about5 .part2 ul{
	text-align: center;
	font-size: 0;
	margin-top: 35px;
}
.about5 .part2 ul li{
	width: 426px;
	height: 291px;
	position:relative;
	display: inline-block;
	vertical-align: top;
	margin:0 10px;
	margin-top: 25px;
}
.about5 .part2 ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.about5 .part2 ul li p{
	height: 65px;
	position:absolute;
	width: 100%;
	line-height: 65px;
	bottom: 0;
	left: 0;
	background: rgba(19,119,109,0.6);
	font-size: 36px;
	color:#fff;
	letter-spacing: 20px;
}
