

.header{
	display: none;
}
.er-nav{
	position:fixed;
	top: 120px;
	left:130px;
	z-index: 99;
	cursor: pointer;
}
.er-nav .item{
	display: none;
}
.er-nav .item a:hover{
	color:#e34c0c;
}



.part1{
	margin-top: 30px;
}
.part1 .part1-main{
	float:right;
	width: 1830px;
	height: 604px;
	right: 0;
	/*background-color: #69C7C0;*/
}
.part1 .part1-main .box1{
	float:left;
	width: 401px;
	height: 604px;
}
.part1 .part1-main .box1 img{
	display: block;
	width: 100%;
}
.part1 .part1-main .box2{
	float:left;
	width: 465px;
	height: 604px;
	position:relative;
}
.part1 .part1-main .box2 .box2-bg{
	display: block;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
}
.part1 .part1-main .box2 .box2-main{
	position:relative;
	z-index: 3;
	padding-left: 40px;
	padding-top: 35px;
	box-sizing: border-box;
}
.part1 .part1-main .box2 .box2-main img{
	display: block;
	width: 280px;
}
.part1 .part1-main .box2 .box2-main .p1{
	font-size: 18px;
	color:#fff;
	margin-top: 30px;
}
.part1 .part1-main .box2 .box2-main .line{
	width: 35px;
	height: 4px;
	background-color: #fff;
	margin-top: 20px;
}
.part1 .part1-main .box2 .box2-main .p2{
	font-size: 18px;
	color:#3e3a39;
	font-weight:bold;
	line-height: 36px;
	margin-top: 15px;
}
.part1 .part1-main .box2 .box2-main .more{
	margin-top: 60px;
}
.part1 .part1-main .box2 .box2-main .more a{
	border:1px solid #fff;
	font-size: 24px;
	color:#fff;
	padding:0 10px;
}
.part1 .part1-main .box2 .box2-main .more a:hover{
	color:red;
	border:1px solid red;
}

.part1 .part1-main .box3{
	width:955px;
	height:604px;
	position: relative;
	float: left;
	/*background-color: #69c7c0;*/
}
.part1 .part1-main .box3 .xwdt{
	position:absolute;
	left: 60px;
	top: 200px;
	z-index: 9;
}
.part1 .part1-main .box3 .xwdt .p1{
	font-size: 24px;
	color:#fff;
}
.part1 .part1-main .box3 .xwdt .line{
	width: 45px;
	height: 2px;
	background-color: #fff;
	margin-top: 15px;
}
.part1 .part1-main .box3 .vedio-box {
	display: inline-block;
	width:100%;
	height:604px;
	position: relative;
	display: none;
}
.block{
	display:inline-block!important;
}
.part1 .part1-main .box3 .vedio-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.part1 .part1-main .box3 .vedio-box video,
.part1 .part1-main .box3 .vedio-box embed {
	width: 100%!important;
	height: 100%!important;
}
.part1 .part1-main .box3 .play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 140px;
	display: block;
	margin-top: -70px;
	margin-left: -70px;
	cursor: pointer;
	z-index: 12;
}
.part1 .part1-main .box3 .vedio-box div{
	height: 80px;
	line-height: 80px;
	width: 100%;
	background-color: #156b64;
	position:absolute;
	bottom: 0;
	left: 0;
	z-index:2;
	padding-left: 40px;
	box-sizing: border-box;
}
.part1 .part1-main .box3 .vedio-box div a{
	display: block;
	width: 100%;
	height: 100%;
	color:#fff;
}
.part1 .part1-main .box3 .vedio-box div a:hover{
	color:red;
}
.part1 .part1-main .box3 .vedio-box div p{
	display: inline-block;
	vertical-align: top;
}
.part1 .part1-main .box3 .vedio-box div .p1{
	font-size: 36px;
}
.part1 .part1-main .box3 .vedio-box div .p1 .span1{
	font-size: 56px;
	display: inline-block;
	margin-right: 10px;
}
.part1 .part1-main .box3 .vedio-box div .p1 .span2{
	display: inline-block;
	vertical-align: top;
    padding-top: 5px;
    box-sizing: border-box;
}
.part1 .part1-main .box3 .vedio-box div .p2{
	font-size: 30px;
}
.part1 .part1-main .box3 .vedio-box div .p3{
	font-size: 23px;
	width: 270px;
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.part1 .part1-main .box3 .indexes{
	position:absolute;
	right: 0;
	top: 50px;
}
.part1 .part1-main .box3 .indexes ul{
	width: 140px;
}
.part1 .part1-main .box3 .indexes ul li{
	width: 100px;
	height: 65px;
	background-color: rgba(105,199,192,0.7);
	font-size:26px;
	color:#fff;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
	float: right;
	
}
.part1 .part1-main .box3 .indexes ul li:nth-child(2){
	background-color: rgba(105,199,192,0.6);
}
.part1 .part1-main .box3 .indexes ul li:nth-child(3){
	background-color: rgba(105,199,192,0.5);
}
.part1 .part1-main .box3 .indexes ul li:nth-child(4){
	background-color: rgba(105,199,192,0.4);
}
.part1 .part1-main .box3 .indexes ul li:last-child{
	background-color: rgba(105,199,192,0.3);
}
.part1 .part1-main .box3 .indexes ul li .span2{
	display:none;
}
.part1 .part1-main .box3 .indexes ul li.on{
	width: 140px;
	height: 95px;
	line-height: 95px;
	background-color: rgba(105,199,192,1);
}
.part1 .part1-main .box3 .indexes ul li.on .span2{
	display:inline-block;
}
.part1 .part1-main .box3 .indexes ul li.on .span1{
	font-size:66px;
	font-weight: bold;
}

.part2{
	position:relative;
	height: 747px;
	margin-top: 60px;
}
.part2 .part2-bg{
	position:absolute;
	z-index: -1;
	display: block;
	width: 729px;
	height: 747px;
}
.part2 .part2-main{
	width: 1520px;
	margin:0 auto;
	position:relative;
}
.part2 .part2-main .part2-phone{
	width: 328px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	border-radius:45px;
	z-index: 3;
}
.part2 .part2-l{
	left: 0;
}
.part2 .part2-r{
	right: 0;
}
.part2 .part2-con{
	width: 606px;
}
.part2 .box{
	display: flex;
}
.part2 .box-main{
	flex: 1;
	background: #69c7c0;
	padding-top: 40px;
	box-sizing: border-box;
}
.part2 .box-main img{
	display: block;
	width: 187px;
	margin:0 auto;
}
.part2 .box-main .line{
	width: 50px;
	height: 5px;
	background-color: #fff;
	margin:0 auto;
	margin-top: 30px;
}
.part2 .box-main .p2{
	font-size: 23px;
    color: #333;
    text-align: center;
    line-height: 32px;
    margin-top: 10px;
}
.part2 .part2-con .box1-img{
	width: 361px;
	height: 306px;	
}
.part2 .part2-con .box2-img{
	width: 364px;
	height: 308px;	
}
.part2 .part2-con .box3-img{
	width: 361px;
	height: 306px;	
}
.part2 .part2-con .box4-img{
	width: 360px;
	height: 305px;	
}
.part2 .part2-con .box4 .p2{
	color:#fff;
}

.part3{
	margin-top: 20px;
}
.part3 .picScroll-left{
	width: 100%;
	position: relative;
}
.part3 .picScroll-left .bd{
	width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.part3 .picScroll-left .bd li{
	float: left;
	background: #eeeeee;
	position: relative;
	text-align: center;
	width: 1920px;
	height: 1083px;
	cursor: pointer;
}
.part3 .picScroll-left .bd li img{
	display: block;
	width: 100%;
	height: 100%;
}

.part3 .picScroll-left .arrow{
	position: absolute;
	top: 50%;
	width: 155px;
	height: 155px;
	cursor: pointer;
	margin-top: -77px;
	z-index: 99;
}
.part3 .picScroll-left .arrow img{
	width: 100%;
	height: 100%;
	display: block;
}
.part3 .picScroll-left .arrow-left{
	left:80px;
}
.part3 .picScroll-left .arrow-right{
	right:80px;
}

.part3 .part3_main2{
	background-color: #69c7c0;
	padding:15px 25px;
	position:relative;
	z-index: 9;
	width: 1550px;
	margin:0 auto;
	margin-top: -165px;
}
.part3 .part3_main2 ul{
	display: block;
	width: 1500px;
	margin:0 auto;
	border:2px solid #000;
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 20px;
}
.part3 .part3_main2 ul li{
	width: 19%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position:relative;
}
.part3 .part3_main2 ul li:after{
	content:"";
	display: inline-block;
	width: 1px;
	height:440px;
	background-color: #000;
	position:absolute;
	right: 0;
	top: 110px;
}
.part3 .part3_main2 ul li:last-child::after{
	display: none;
}
.part3 .part3_main2 ul li .li-top{
	width: 175px;
	height: 175px;
	border-radius: 50%;
	background-color: #69c7c0;
	box-shadow:0px 0px 15px #519e98;
	padding:7.5px;
	box-sizing: border-box;
	margin:0 auto;
	margin-top: -90px;
}
.part3 .part3_main2 ul li .li-top span{
	display: block;
	width: 160px;
	height: 160px;
	border:1px solid #fff;
	border-radius: 50%;
	position:relative;
}
.part3 .part3_main2 ul li .li-top span img{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.part3 .part3_main2 ul li .li-c{
	width: 81px;
	min-height: 410px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.part3 .part3_main2 ul li .li-c img{
	display: block;
	width: 100%;
}
.part3 .part3_main2 ul li .li-b{
	width: 182px;
	height: 182px;
	margin:0 auto;
}
.part3 .part3_main2 ul li .li-b img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.part3 .part3_main2 ul li.on .li-c{
	border:1px solid #fff;
	padding:10px;
	height: 480px;
}
.part3 .part3_main2 ul li.on .li-b{
	margin-top: -40px;
}
.part3 .part3-line{
	width: 200px;
	height: 12px;
	background: #69c7c0;
	margin:70px auto;
	/*margin-top: 70px;*/
}


.part4 .part4-main{
	position:relative;
	width: 1556px;
	height: 876px;
	margin:0 auto;
}
.part4 .img-box div{
	display: none;
	width: 1556px;
	height: 876px;
}
.part4 .img-box img{
	display: block;
	width: 100%;
	height: 100%;
}
.part4 .part4_indexes{
	position:absolute;
	right: 0;
	top: 50px;
}
.part4 .part4_indexes ul{
	width: 140px;
}
.part4 .part4_indexes ul li{
	width: 100px;
	height: 80px;
	background-color:#2f2f2f;
	font-size:40px;
	color:#fff;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	float: right;
}
.part4 .part4_indexes ul li:nth-child(2){
	background-color:#413d3c;
}
.part4 .part4_indexes ul li:nth-child(3){
	background-color:#585858;
}
.part4 .part4_indexes ul li:nth-child(4){
	background-color:#727171;
}
.part4 .part4_indexes ul li:last-child{
	background-color:#848484;
}
.part4 .part4_indexes ul li .span2{
	display:none;
}
.part4 .part4_indexes ul li.on{
	width: 160px;
	height: 120px;
	line-height: 120px;
	background-color:#69c7c0;
	position:relative;	
}
.part4 .part4_indexes ul li.on::after{
	content:"";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #fff;
	position:absolute;
	right: 15px;
	top: 30px;
}
.part4 .part4_indexes ul li.on .span2{
	display:inline-block;
	font-size: 32px;
}
.part4 .part4_indexes ul li.on .span1{
	font-size:80px;
	font-weight: bold;
}

.part4{
	width: 1556px;
	margin:0 auto;
}
.part4 .part4_main2{
	width: 1160px;
	height: 180px;
	background-color: #69c7c0;
	position:relative;
	padding-left:230px;
	box-sizing: border-box;
	padding-top: 35px;
}
.part4 .part4_main2 .d2-img{
	position:absolute;
	left: -80px;
	top: -20px;
}
.part4 .part4_main2 .d6-img{
	width: 133px;
	height: 298px;
	position:absolute;
	right: -100px;
	bottom: -20px;
}
.part4 .part4_main2 .d3-img{
	width: 42px;
	height: 117px;
	display: inline-block;
	vertical-align: middle;
}
.part4 .part4_main2 .d4-img{
	width:757px;
}
.part4 .part4_main2 p{
	display: inline-block;
	vertical-align: middle;
}
.part4 .part4_main2 p span{
	font-size: 32px;
	display: block;
}
.part4 .part4_main2 .d5-img{
	display: inline-block;
	vertical-align: middle;
	width: 76px;
	margin-left: 10px;
}


.part5{
	margin-top: 95px;
	position:relative;
}
.part5 .part5-icon{
	width: 540px;
	position:absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.part5 .part5-main .part5main-l{
	width: 500px;
}
.part5 .part5-main .box1{
	width: 500px;
	position:relative;
	overflow: hidden;
	font-size: 0;
}
.part5 .part5-main .box1 img{
	display: block;
	width: 100%;
}
.part5 .part5-main .box1 a{
	display: inline-block;
	font-size: 35px;
	padding:0 10px;
	border:1px solid #fff;
	color:#fff;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.part5 .part5-main .box1:hover img{
	transform:scale(1.2);
	transition: all 1s; 
}
.part5 .part5-main .box1 a:hover{
	color:red;
	border:1px solid red;
	transition: all 1s; 
}
.part5 .part5-main .box2{
	width: 500px;
	overflow: hidden;
}
.part5 .part5-main .box2 img{
	display: block;
	width: 100%;
}
.part5 .part5-main .box2:hover img{
	transform:scale(1.2);
	transition: all 1s; 
}
.part5 .part5-main .box3{
	width: 395px;
	height: 710px;
	overflow: hidden;
	position:relative;
}
.part5 .part5-main .box3 img{
	display: block;
	width: 100%;
}
.part5 .part5-main .box3 a{
	display: inline-block;
	font-size: 35px;
	padding:0 10px;
	border:1px solid #fff;
	color:#fff;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.part5 .part5-main .box3:hover img{
	transform:scale(1.2);
	transition: all 1s; 
}
.part5 .part5-main .box3 a:hover{
	color:red;
	border:1px solid red;
	transition: all 1s; 
}

.part5 .part5-main .part5main-r{
	width: 720px;
	height: 710px;
	background-color: #69c7c0;
	color:#3a3d3d;
	padding-left: 50px;
    padding-top: 60px;
	box-sizing: border-box;
	position:relative;
}
.part5-main .part5main-r .p1{
	font-size: 71px;
}
.part5-main .part5main-r .p2{
	font-size: 53px;
}
.part5-main .part5main-r .p3{
	font-size: 26px;
	margin: 20px 0;
}
.part5-main .part5main-r .p4{
	font-size: 35px;
	line-height: 54px;
}
.part5-main .part5main-r .more{
	display: inline-block;
	font-size: 26px;
	color:#fff;
	border:1px solid #fff;
	padding:0 10px;
	margin-top: 60px;
}
.part5-main .part5main-r .more:hover{
	color:red;
	border:1px solid red;
	transition: all 1s; 
}
.part5-main .part5main-r .e4-img{
	position:absolute;
	bottom: 0;
	left: 205px;
}


.part6{
	margin-top: 80px;
}
.part6 .part6-main{
	width: 1390px;
	margin:0 auto;
	position:relative;
	right: -170px;
}
.part6 .part6-top{
	display: inline-block;
	height: 180px;
	background-color: #69c7c0;
	padding:0 35px;
	padding-top: 30px;
	box-sizing: border-box;
	position:relative;
}
.part6 .part6-top .font-img{
	display: block;
	width: 847px;
	margin:0 auto;
}
.part6 .part6-top p{
	font-size: 32px;
	color:#3e3a39;
	margin-top: 10px;
}
.part6 .part6-top .top-icon{
	width: 183px;
	position:absolute;
	right: -100px;
	bottom: -25px;
}
.part6 .part6-main .box1{
	width: 400px;
	position:relative;
}
.part6 .part6-main .box1 .box1-p p{
	margin:20px 0;
}
.part6 .part6-main .box1 .box1-p p .span1{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #69c7c0;
	font-size: 24px;
	color:#fff;
	text-align: center;
	line-height: 30px;
}
.part6 .part6-main .box1 .box1-p p .span2{
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	color:#69c7c0;
	margin-left: 10px;
}
.part6 .part6-main .box1 .line1{
	width: 490px;
	height: 25px;
	border-top:2px solid #69c7c0;
	border-left: 2px solid #69c7c0;
	box-sizing: border-box;
	position:absolute;
	right: 0;
}

.part6 .part6-main .box1 .box1-img_btn{
	position:relative;
	padding-left: 50px;
	box-sizing: border-box;
	margin-top: 40px;
	width: 310px;
}
.part6 .part6-main .box1 .box1-img_btn p{
	display: inline-block;
	position:relative;
}
.part6 .part6-main .box1 .box1-img_btn p:first-child span{
    left: 33px;
    bottom: 25px;
    font-size: 42px;
}
.part6 .part6-main .box1 .box1-img_btn p{
	cursor: pointer;
}
.part6 .part6-main .box1 .box1-img_btn span{
	color:#fff;
	position:absolute;
}
.part6 .part6-main .box1 .box1-img_btn p:nth-child(2) span{
	font-size: 30px;
    left: 25px;
    bottom: 12px;
}
.part6 .part6-main .box1 .box1-img_btn p:last-child{
	margin-left: 50px;
}
.part6 .part6-main .box1 .box1-img_btn p:last-child span{
	font-size: 30px;
    left: 6px;
    bottom: 27px;
	
}
.part6 .part6-main .box1 .box1-img_btn::after{
	content:"";
	display: inline-block;
	width: 92px;
	height: 44px;
	background: url(../img/index/f7.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top: 65px;
	right: 0;
}
.part6 .part6-main .box1 .line2{
	width: 490px;
	height: 25px;
	border-bottom:2px solid #69c7c0;
	border-left: 2px solid #69c7c0;
	box-sizing: border-box;
	position:absolute;
	right: 0;
}
.part6 .part6-main .box1 .qiehuan{
	font-size: 26px;
	color:#d7d8d8;
	padding-left: 60px;
	margin-top: 50px;
}
.part6 .part6-main .box1 .box1-icon{
	width: 380px;
    position: absolute;
    bottom: 20px;
    left: -340px;
    z-index: 2;
}
.part6 .part6-main .box2{
	width: 987px;
	height: 555px;
}
.part6 .part6-main .box2 img{
	display: block;
	width: 100%;
	height: 100%;
	display: none;
}
.part6 .part6-main .box1 .box1-img_btn p.on span{
	color:red;
}








.part7 .slide-carousel{
	margin: 0 auto;
	height: 318px;
	position: relative;
	margin-top: 80px;
}

.part7 .slide-3d .item-list li {
	width: 555px;
	height: 309px;
	transition: all 0.5s ease-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -277px;
}

.part7 .slide-3d .item-list li.item0 {
	transform: translate3d(0, 0, 0) scale(0.8);
}

.part7 .slide-3d .item-list li.item1 {
	transform: translate3d(-455px, 0, 0) scale(0.8);
	transform-origin: 0 50%;
	opacity: 1;
	z-index: 2;
}

.part7 .slide-3d .item-list li.item2 {
	transform: translate3d(0, 0, 0) scale(1);
	transform-origin: 0 50%;
	opacity: 1;
	z-index: 3;
}

.part7 .slide-3d .item-list li.item3 {
	transform: translate3d(455px, 0, 0) scale(0.8);
	transform-origin: 100% 50%;
	opacity: 1;
	z-index: 2;
}

.part7 .slide-3d .item-list li .cover-img {
	display: block;
	width: 555px;
	height: 309px;
}
.part7 .slide-3d .item-list li .li-icon1{
	position:absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	width: 215px;
	height: 113px;
	text-align: center;
	display: none;
}
.part7 .slide-3d .item-list li .li-icon1 img{
	display: block;
	position:absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.part7 .slide-3d .item-list li .li-icon1 p{
    font-size: 34px;
    color: #fff;
    line-height: 38px;
    margin-top: 20px;
}
.part7 .slide-3d .item-list li .li-icon2{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform:  translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	width:165px;
	height:87px;
	text-align: center;
}
.part7 .slide-3d .item-list li .li-icon2 img{
	display: block;
	position:absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.part7 .slide-3d .item-list li .li-icon2 p{
	font-size: 26px;
	color: #fff;
	line-height: 32px;
    margin-top: 15px;
}
.part7 .slide-3d .item-list li.item2 .li-icon1{
	display: block;
}
.part7 .slide-3d .item-list li.item2 .li-icon2{
	display: none;
}




.part7 .part7-p{
	text-align: center;
	margin-bottom: 80px;
	margin-top: 10px;
}
.part7 .part7-p .span1{
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #69c7c0;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin:0 auto;
}
.part7 .part7-p .span2{
	font-size: 32px;
	color:#69c7c0;
}





@media (max-width:1680px){
	.part1 .part1-main{
		width: 1597px;
		height: 530px;
	}
	.part1 .part1-main .box1{
		width: 352px;
		height: 530px;
	}
	.part1 .part1-main .box2{
		width: 408px;
		height: 530px;
	}
	.part1 .part1-main .box3{
		width: 837px;
		height: 530px;
	}
	.part1 .part1-main .box3 .vedio-box{
		width: 837px;
		height: 530px;
	}
	
	.part1 .part1-main .box2 .box2-main{
		padding-left: 25px;
    	padding-top: 15px;
	}
	.part1 .part1-main .box2 .box2-main img{
		width: 260px;
	}
	.part1 .part1-main .box2 .box2-main .p1{
		margin-top: 20px;
	}
	.part1 .part1-main .box2 .box2-main .p2{
		font-size: 16px;
		line-height: 32px;
	}
	.part1 .part1-main .box2 .box2-main .more{
		margin-top: 55px;
	}
	.part2 .part2-con .box1-img,
	.part2 .part2-con .box2-img,
	.part2 .part2-con .box3-img,
	.part2 .part2-con .box4-img{
		width: 330px;
		height: 280px;
	}
	.part2 .part2-con{
		width: 575px;
	}
	.part2 .part2-main .part2-phone{
		width: 300px;
	}
	.part2 .part2-main{
		width: 1440px;
	}
	.part2 .box-main{
		padding-top: 30px;
	}
	.part2 .box-main img{
		width: 170px;
	}
	.part2 .part2-bg{
		width: 645px;
		height: 661px;
	}
	.part2{
		height: 661px;
	}
	.part3 .picScroll-left .bd{
		width: 1680px;
	}
	.part3 .picScroll-left .bd li{
		width: 1680px;
		height: 947px;
	}
	.part3 .part3_main2{
		width: 1440px;
	}
	.part3 .part3_main2 ul{
		width: 1440px;
	}
	
	.part4 .img-box div,
	.part4 .part4-main{
		width: 1440px;
		height: 811px;
	}
	.part4{
		width: 1440px;
	}
	.part5 .part5-main .part5main-l,
	.part5 .part5-main .box1,
	.part5 .part5-main .box2{
		width: 460px;
	}
	.part5 .part5-main .box3{
		width: 363px;
		height: 655px;
	}
	.part5 .part5-main .part5main-r{
		height: 655px;
	}
	.part5 .part5-icon{
		width: 437px;
		right: -60px;
	}
	.part5-main .part5main-r .e4-img{
		width: 210px;
	}
	
	.part6 .part6-main{
		right: -150px;
	}
	.part6 .part6-top .font-img{
		width: 800px;
	}
	.part6 .part6-top{
		height: 160px;
		padding: 0 30px;
    	padding-top: 20px;
	}
	.part6 .part6-main .box1 .box1-p p{
		margin: 10px 0;
	}
	.part6 .part6-main .box1 .box1-img_btn p{
		margin-top: -10px;
	}
	.part6 .part6-main .box1 .box1-icon{
		width: 300px;
		bottom: 60px;
    	left: -277px;
	}
	.part6 .part6-main .box2{
		width: 910px;
		height: 512px;
	}
}

@media (max-width:1444px){
	.part1 .part1-main{
		width: 1354px;
		height: 449px;
	}
	.part1 .part1-main .box1{
		width: 298px;
		height: 449px;
	}
	.part1 .part1-main .box2{
		width: 346px;
		height: 449px;
	}
	.part1 .part1-main .box3{
		width: 710px;
		height: 449px;
	}
	.part1 .part1-main .box3 .vedio-box{
		width: 710px;
		height: 449px;
	}
	.part1 .part1-main .box3 .indexes ul li.on{
		height: 74px;
		line-height: 74px;
	}
	.part1 .part1-main .box3 .indexes ul li{
		height: 55px;
		line-height: 55px;
	}
	.part1 .part1-main .box3 .indexes{
		top: 40px;
	}
	.part1 .part1-main .box2 .box2-main img{
		width: 220px;
	}
	.part1 .part1-main .box2 .box2-main .p1{
		margin-top: 10px;
	}
	.part1 .part1-main .box2 .box2-main .line{
		margin-top: 10px;
	}
	.part1 .part1-main .box2 .box2-main .p2 {
	    font-size: 14px;
	    line-height: 28px;
	}
	.part1 .part1-main .box2 .box2-main .more{
		margin-top: 47px;
	}
	.part1 .part1-main .box2 .box2-main .more a{
		font-size: 20px;
	}
	.part1 .part1-main .box3 .vedio-box div .p1{
		font-size: 28px;
	}
	.part1 .part1-main .box3 .vedio-box div .p1 .span1{
		font-size: 42px;
	}
	.part1 .part1-main .box3 .vedio-box div .p1 .span2{
		padding-top: 0;
	}
	.part1 .part1-main .box3 .vedio-box div .p2{
		font-size: 24px;
	}
	.part1 .part1-main .box3 .vedio-box div{
		padding-left: 20px;
	}
	.part1 .part1-main .box3 .vedio-box div .p3{
		font-size: 18px;
		width: 220px;
	}
	.part2 .part2-con .box1-img, .part2 .part2-con .box2-img, .part2 .part2-con .box3-img, .part2 .part2-con .box4-img{
		width: 276px;
    	height: 234px;
	}
	.part2 .box-main{
		padding-top: 18px;
	}
	.part2 .box-main img{
		width: 120px;
	}
	.part2 .box-main .line{
		margin-top: 15px;
	}
	.part2 .box-main .p2{
		font-size: 20px;
		line-height: 28px;
	}
	.part2 .part2-con{
		width: 510px;
	}
	.part2 .part2-main{
		width: 1220px;
	}
	.part2 .part2-main .part2-phone{
		width: 240px;
	}
	.part2 .part2-bg{
		width: 522px;
		height: 535px;
	}
	.part2{
		height: 535px;
	}
	
	.part3 .picScroll-left .bd li{
		width: 1440px;
		height: 812px;
	}
	.part3 .picScroll-left .bd{
		width: 1440px;
	}
	.part3 .part3_main2,
	.part3 .part3_main2 ul{
		width: 1200px;
	}
	
	.part4 .img-box div, .part4 .part4-main{
		width: 1200px;
		height: 676px;
	}
	.part4{
		width: 1200px;
	}
	.part4 .part4_main2 .d4-img{
		width: 660px;
	}
	.part4 .part4_main2 p span{
		font-size: 26px;
	}
	.part4 .part4_main2{
		width: 980px;
		height: 150px;
		padding-top: 15px;
		padding-left: 135px;
	}
	.part4 .part4_main2 .d2-img{
		top: -5px;
		width: 200px;
	}
	.part4 .part4_main2 .d6-img{
		width: 110px;
		height: 246px;
		right: -80px;
	}
	
	.part5 .part5-main .part5main-l, 
	.part5 .part5-main .box1, 
	.part5 .part5-main .box2{
		width: 385px;
	}
	.part5 .part5-main .box3{
		width: 303px;
		height: 547px;
	}
	.part5 .part5-main .part5main-r{
		height: 547px;
		width: 580px;
		padding-left: 30px;
	    padding-top: 20px;
	}
	.part5-main .part5main-r .p1{
		font-size: 60px;
	}
	.part5-main .part5main-r .p2{
		font-size: 44px;
	}
	.part5-main .part5main-r .p3 {
	    font-size: 24px;
	    margin: 10px 0;
	}
	.part5-main .part5main-r .p4 {
	    font-size: 32px;
	    line-height: 48px;
	}
	.part5-main .part5main-r .e4-img{
		width: 190px;
		left: 175px;
	}
	.part5 .part5-icon{
		width: 380px;
	}
	.part6 {
	    margin-top: 50px;
	}
	.part6 .part6-main{
		width: 1300px;
		right: -200px;
	}
	.part6 .part6-main .box2{
		width: 770px;
		height: 433px;
	}
	.part6 .part6-main .box1{
		width: 335px;
	}
	.part6 .part6-main .box1 .line1,
	.part6 .part6-main .box1 .line2{
		width: 380px;
	}
	
	.part7 .slide-3d .item-list li.item1 {
    	transform: translate3d(-355px, 0, 0) scale(0.8);
    }
    .part7 .slide-3d .item-list li.item3{
    	transform: translate3d(355px, 0, 0) scale(0.8);
    }
}

@media (max-width:1366px){
	.part1 .part1-main{
		width: 1200px;
		height: 398px;
	}
	.part1 .part1-main .box1{
		width: 264px;
		height: 398px;
	}
	.part1 .part1-main .box2{
		width: 307px;
		height: 398px;
	}
	.part1 .part1-main .box3 .vedio-box,
	.part1 .part1-main .box3{
		width: 629px;
		height: 398px;
	}
	.part1 .part1-main .box2 .box2-main img{
		width: 190px;
	}
	.part1 .part1-main .box2 .box2-main .p1{
		font-size: 16px;
	}
	.part1 .part1-main .box2 .box2-main .p2 {
	    font-size: 12px;
	    line-height: 24px;
	}
	.part1 .part1-main .box2 .box2-main .more{
		margin-top: 40px;
	}
	.part1 .part1-main .box2 .box2-main .more a{
		font-size: 18px;
	}
	.part1 .part1-main .box3 .vedio-box div .p1{
		font-size: 24px;
	}
	.part1 .part1-main .box3 .vedio-box div .p1 .span1{
		font-size: 36px;
	}
	.part1 .part1-main .box3 .vedio-box div .p2{
		font-size: 22px;
	}
	.part1 .part1-main .box3 .vedio-box div .p3{
		font-size: 16px;
		width: 190px;
	}
	.part1 .part1-main .box3 .play{
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-left: -50px;
	}
	.part1 .part1-main .box3 .indexes ul li{
		font-size: 22px;
		height: 46px;
		line-height: 46px;
	}
	.part1 .part1-main .box3 .indexes ul li.on .span1{
		font-size: 54px;
	}
	.part1 .part1-main .box3 .indexes ul li.on{
		height: 66px;
		line-height: 66px;
	}
	.part2 .part2-con .box1-img, 
	.part2 .part2-con .box2-img, 
	.part2 .part2-con .box3-img, 
	.part2 .part2-con .box4-img {
	    width: 240px;
	    height: 203px;
	}
	.part2 .part2-con{
		width: 445px;
	}
	.part2 .box-main img{
		width: 100px;
	}
	.part2 .box-main .p2 {
	    font-size: 18px;
	    line-height: 24px;
	}
	.part2 .part2-main .part2-phone {
	    width: 220px;
	    border-radius: 28px;
	}
	.part2 .part2-main{
		width: 1088px;
	}
	.part2 .part2-bg {
	    width: 452px;
	    height:463px; 
	}
	.part2{
		height: 463px;
	}
	.part3 .picScroll-left .bd{
		width: 1350px;
	}
	.part3 .picScroll-left .bd li{
		width: 1350px;
		height: 761px;
	}
	.part3 .picScroll-left .arrow{
		width: 100px;
		height: 100px;
		margin-top: -50px;
	}
	.part4 .part4_main2 .d2-img{
		left: -65px;
	}
	.part5 .part5-icon{
		width: 360px;
	}
	.part5-main .part5main-r .e4-img {
	    width: 180px;
	    left: 160px;
	}
}
@media (max-width:1280px){
	.part3 .picScroll-left .bd li{
		width: 1260px;
		height: 710px;
	}
	.part3 .picScroll-left .bd{
		width: 1260px;
	}
	.part3 .part3_main2, .part3 .part3_main2 ul{
		width: 1060px;
	}
	.part4 .img-box div, .part4 .part4-main{
		width: 1060px;
		height: 597px;
	}
	.part4{
		width: 1060px;
	}
	.part4 .part4_main2 .d4-img{
		width: 590px;
	}
	.part4 .part4_main2 p span{
		font-size: 24px;
	}
	.part4 .part4_main2{
		width: 900px;
	}
	.part4 .part4_main2 .d6-img{
		width: 90px;
		height: 202px;
		right: -60px;
	}
	.part5 .part5-main .part5main-l, .part5 .part5-main .box1, .part5 .part5-main .box2{
		width: 335px;
	}
	.part5 .part5-main .box3 {
	    width: 264px;
	    height: 477px;
    }
    .part5 .part5-main .part5main-r{
    	height: 477px;
    }
    .part5-main .part5main-r .p1{
    	font-size: 48px;
    }
    .part5-main .part5main-r .p2{
    	font-size: 36px;
    }
    .part5-main .part5main-r .p3{
    	font-size: 22px;
    }
	.part5-main .part5main-r .p4 {
	    font-size: 28px;
	    line-height: 36px;
	}
	.part5-main .part5main-r .more{
		margin-top: 50px;
	}
	.part5-main .part5main-r .e4-img {
	    width: 150px;
	    left: 150px;
	}
	.part5 .part5-icon {
	    width: 330px;
	}
	.part5 .part5-main .box1 a,
	.part5 .part5-main .box3 a{
		font-size: 28px;
	}
	.part6 .part6-top .font-img{
		width: 700px;
	}
	.part6 .part6-top {
	    height: 135px;
	    padding-top: 13px;
	}
	.part6 .part6-top .top-icon{
		width: 150px;
	}
	.part6 .part6-main .box1{
		width: 310px;
	}
	.part6 .part6-main .box2 {
	    width: 700px;
	    height:394px;
	}
	.part6 .part6-main .box1 .box1-p p{
		margin: 5px 0;
	}
	.part6 .part6-main .box1 .box1-p p .span2{
		font-size: 26px;
	}
	.part6 .part6-main .box1 .box1-img_btn {
	    padding-left: 29px;
	    width: 290px;
	}
	.part6 .part6-main .box1 .qiehuan{
		margin-top:15px;
	}
	.part6 .part6-main .box1 .box1-img_btn{
		margin-top: 30px;
	}
	.part6 .part6-main .box1 .line2{
		margin-top: -15px;
	}
	.part6 .part6-main .box1 .box1-icon {
	    width: 276px;
	    bottom: 42px;
	    left: -255px;
	}
	.part7 .slide-3d .item-list li.item1 {
	    transform: translate3d(-315px, 0, 0) scale(0.8);
	}
	.part7 .slide-3d .item-list li.item3{
	    transform: translate3d(315px, 0, 0) scale(0.8);
	}
}