.er-title .title-nav li{display: flex;}
.er-title .title-nav{width:980px;font-family: myfont;}
.part  .part1_top{text-align: center;}
.part  .part1_top h3{font-size: 48px;color: #050a27;font-weight: 400;font-family: myfont;padding-top: 48px;font-family: myfont;letter-spacing: 14px;}
.part  .part1_top p{font-size: 20px;color: #050a27;font-family: myfont;font-family: myfont;letter-spacing: 4px;}
.part  .part1_top h4{font-size: 36px;color: #050b26;font-family: myfont;padding-top: 8px;font-family: myfont;letter-spacing: 14px;}
.part  .part1_top .img1{display: block;margin: 0 auto;margin-top: 10px;}
.part  .part1_top span{font-size: 24px;color: #801c23;display: block;margin-top: 10px;font-weight: bold;}
.part1  .part1_bottom {margin-top: 72px;}
.part1  .part1_bottom .part1_left{width:523px;height: 557px ;}
.part1  .part1_bottom .part1_left img{width: 100%;height: 100%;}
.part1  .part1_bottom .part1_right{width: 530px;}
.part1  .part1_bottom .part1_right p{font-size: 15px;color: #050b26;margin-bottom: 12px;letter-spacing: 2px;text-align: justify;line-height: 26px;}
.part2 .part2_bottom .p1{font-size: 14px;color: #050a27;line-height: 30px;width: 944px;display: block;margin: 0 auto;margin-top: 28px;text-align: center;}
.part2 .part2_list{margin-top: 20px;}
.part2 .part2_list ul li{width: 342px;height: 188px;position: relative;text-align: center;margin-right: 32px;float: left;}
.part2 .part2_list ul li:nth-of-type(1){margin-bottom: 40px;}
.part2 .part2_list ul li:nth-of-type(2){margin-bottom: 40px;}
.part2 .part2_list ul li:nth-of-type(3){margin-bottom: 40px;}
.part2 .part2_list ul li:nth-child(3n){margin-right: 0;}
.part2 .part2_list .div1{width: 342px;height: 188px;overflow: hidden;}
.part2 .part2_list .div1 img{width: 100%;height: 100%;}
.part2 .part2_list .meng{width: 342px;height: 188px;background: url(../img/pp/a2.png) no-repeat;background-size: 342px 188px;position: absolute;top: 0;left: 0;}
.part2 .part2_list .meng p{font-size: 24px;color: #ffffff;line-height: 32px;}
.part2 .part2_list .meng .p2{padding-top: 94px;}
.all4{width: 1100px;display: block;margin: 0 auto;}
.part2 .part2_list ul li:hover .div1 img{transition: all 0.6s; transform: scale(1.1);}
.part3 .part3_bottom{margin-top: 34px;}
.part3 .part3_bottom .part3_left{width: 580px;}
.part3 .part3_bottom .part3_left div{width: 280px;height: 212px;float: left;overflow: hidden;}
.part3 .part3_bottom .part3_left div:first-child{margin-right: 20px;}
.part3 .part3_bottom .part3_left div:hover img{transition: all 0.6s; transform: scale(1.1);}
.part3 .part3_bottom .part3_right{width: 494px;}
.part3 .part3_bottom .part3_right h3{font-size: 24px;color: #000000;font-weight: 400;margin-bottom: 20px;}
.part3 .part3_bottom .part3_right p{font-size: 14px;color: #050a27;line-height: 32px;}
.part3 .part3_bottom .part3_right1 h3{text-align: right;}
.part4 .part4_bottom {margin-top: 44px;padding-bottom: 118px;}
.part4 .part4_bottom ul li{width:356px;float: left;text-align: center;margin-right: 16px;}
.part4 .part4_bottom ul li:last-child{margin-right: 0;}
.part4 .part4_bottom ul li div{width: 356px;height: 229px;overflow: hidden;}
.part4 .part4_bottom ul li h3{font-size: 24px;color: #000000;line-height: 50px;font-weight: 400;font-family: myfont;margin-top: 12px;}
.part4 .part4_bottom ul li p{font-size: 16px;color: #050b26;text-align: left;text-align: justify;padding: 0 28px;line-height: 26px;}
.part4 .part4_bottom ul li:hover img{transition: all 0.6s; transform: scale(1.1);}
.part4 .part4_txt .part4_top{text-align: center;}
.part4 .part4_txt .part4_top h3{font-size: 24px;color: #000000;font-weight: 400;margin: 100px 0 16px 0;}
.part4 .part4_txt .part4_top p{font-size: 14px;color: #050a27;line-height: 26px;}
.part4 .part4_txt .part4_bottom .part4_left{width:515px;height: 267px ;overflow: hidden;}
.part4 .part4_txt .part4_bottom .part4_left:hover img{transition: all 0.6s; transform: scale(1.1);}
.part4 .part4_txt .part4_bottom .part4_left img{width: 100%;height: 100%;}
.part4 .part4_txt .part4_bottom{margin-top: 23px;}
/*-----------20190520---------------*/
.pp .ul_list{width: 100%;overflow: hidden;clear: both;margin-top: 34px;}
.pp .ul_list .div1{width: 352px;margin-right: 10px;}
.pp .ul_list .div2{width: 326px;margin-right: 10px;}
/*.pp .ul_list .div2 .img1{margin-bottom: 10px;}*/
.pp .ul_list .div3{width: 326px;}
.pp .ul_list .div3 p{font-size: 16px;color: #050b26;text-align: justify;}
.pp .part5_bottom{margin-top: 16px;}
.pp .part5_bottom .div_left{width:352px ;}
.pp .part5_bottom .div_right{width: 690px;}
.pp .part5_bottom .div_right h3{font-size: 32px;color: #050b26;letter-spacing: 4px;margin-top: 58px;margin-bottom: 38px;}
.pp .part5_bottom .div_right p{font-size: 16px;color: #050b26;width: 516px;text-align: justify;letter-spacing: 2px;line-height: 26px;}
.pp .part5_bottom .div_right img{width: 100%;}
.pp1{padding-bottom:10px;}







/*20190605*/
.part1 .part1_bottom{
	width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
}
.pp2 .icon{
	display: block;
	width: 37px;
	margin:0 auto;
	margin-top: 25px;
}
.pp2 .part1-title{
	text-align: center;
	font-family: myfont;
	color:#050b26;
	margin-top: 50px;
}
.pp2 .part1-title .p1{
	font-size: 48px;
	letter-spacing: 10px;
}
.pp2 .part1-title .p2{
	font-size: 20px;
	letter-spacing: 2px;
}
.pp2 .part1-main{
	width: 1200px;
	margin:0 auto;
	margin-top: 70px;
}
.pp2 .part1-main .main-top{
	display: block;
	width: 1200px;
	margin:0 auto;
}
.pp2 .part1-main ul li{
	float: left;
	width: 265px;
	height: 300px;
	border:1px solid #231815;
	box-sizing:border-box;
	margin-right: 46px;
	text-align: center;
	margin-top: 100px;
}
.pp2 .part1-main ul li:last-child{
	margin-right: 0;
}
.pp2 .part1-main ul li img{
	display: block;
	width: 98px;
	height: 98px;
	margin:0 auto;
	margin-top: -49px;
	position:relative;
	background-color: #fff;
	border-radius: 50%;
}
.pp2 .part1-main ul li .li-p1{
	font-size: 36px;
	color:#b81c22;
	margin-top: 20px;
}
.pp2 .part1-main ul li .li-p2{
	font-size: 16px;
	color:#231815;
	width:220px;
	margin:0 auto;
	text-align:justify;
	margin-top: 30px;
}
.pp2 .part2 ul{
	text-align: center;
	
}
.pp2 .part2 ul li{
	display: inline-block;
	vertical-align: top;
	width: 280px;
	height: 280px;
	background-color: #050b26;
	margin:0 14px;
	margin-top: 40px;
}
.pp2 .part2 ul li .li-p1{
	font-size: 43px;
	color:#b81c22;
	border-bottom: 1px solid #b81c22;
	line-height: 80px;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	font-weight: bold;
}
.pp2 .part2 ul li .li-p2{
	font-size: 20px;
	width: 200px;
	color:#ffffff;
	margin:0 auto;
	text-align: justify;
	margin-top: 25px;
	line-height: 30px;
}
.pp2 .part2 ul li:nth-child(2){
	background-color: #b81c22;
}
.pp2 .part2 ul li:nth-child(2) .li-p1{
	color:#c79f62;
	border-bottom: 1px solid #c79f62;
}
.pp2 .part2 ul li:last-child{
	background-color: #c79f62;
}
.pp2 .part2 ul li:last-child .li-p1{
	color:#050b26;
	border-bottom: 1px solid #050b26;
}
.pp2 .part2 ul li:last-child .li-p2{
	color:#050b26;
}
.pp2 .part3{
	position:relative;
	height: 570px;
}
.pp2 .part3 .part3-bg{
	width:1920px;
	height:570px;
	position:absolute;
	left: 50%;
	margin-left: -960px;
	top: 0;
	z-index: -1;
}
.pp2 .part3-main{
	width: 1100px;
	margin:0 auto;
	margin-top: 60px;
}
.pp2 .part3-main .main-l{
    width: 345px;
    font-size: 20px;
    color: #231815;
    line-height: 36px;
    padding-top: 85px;
    box-sizing: border-box;
}
.pp2 .part3-main .main-r img{
	display: block;
	width: 706px;
	height: 352px;
}

.pp .ul_list .div1 img{
	display: block;
	width: 352px;
	height: 387px;
}
.pp .ul_list div p{
	font-size: 16px;
	color:#050b26;
	padding-left: 30px;
	box-sizing: border-box;
	position:relative;
	margin-top: 10px;
	line-height: 24px;
	margin-bottom: 10px;
}
.pp .ul_list div p::before{
	content:"";
	display: inline-block;
	width: 18px;
	height: 15px;
	background: url(../img/pp/add7.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left:5px;
	top:5px;
}
.pp .ul_list .div1 p{
	line-height: 24px;
	
}
.part3 .part3_bottom .part3_right{
	margin-top: 40px;
}



/*20190805*/
.pp2-part4 {
	width: 1090px;
	margin:0 auto;
	margin-top: 50px;
}
.pp2-part4 img{
	display: block;
	width: 100%;
	margin-top: 25px;
}









@media (max-width: 1600px){ 
.part1 .part1_bottom .part1_right{margin-left: 30px;width: 560px;float: left;}
}
@media (max-width: 1300px){ 
.part2 .part2_bottom .p1{width: 90%;}
.part1 .part1_bottom .part1_right{margin-left: 30px;width: 560px;float: left;}

}