.footer {
  position: relative;
}

.footer::before {
  content: "";
  display: inline-block;
  width: 3.35rem;
  height: 7.74rem;
  background: url(../img/news/news_bg.jpg) no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 4rem;
}

.news .news_img1 {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

.news .listPic {
  width: 100%;
  padding-top: 0.4rem;
}

.news .listPic li {
  float: left;
  width: 100%;
  margin-bottom: 0.1rem;
  height: 0.81rem;
}

.news .listPic img {
  width: 1.54rem;
  height: 0.81rem;
  float: left;
}

.news .listPic a {
  float: right;
  width: 6.45rem;
  height: 0.8rem;
  border-bottom: 0.01rem dashed #595757;
}

.news .listPic p {
  padding-top: 0.15rem;
  color: #595757;
  font-size: 0.24rem;
  float: left;
}

.news .listPic .p1 {
  width: 4.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news .listPic .p2 {
  float: right;
}

.news .listPic a:hover p {
  color: #322283;
}

.news_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.05rem #eaeaea solid;
}

.news_btn span,
.news_btn a {
  display: inline-block;
  min-width: 0.25rem;
  margin: 0 0.1rem;
  color: #595757;
  font-size: 0.24rem;
  height: 0.25rem;
  line-height: 0.25rem;
}

.news_btn a:hover ,
.news_btn a.now {
  color: #ffffff;
  background-color: #322283;
}

.news_text h1 {
  text-align: center;
  font-size: 0.48rem;
  color: #474747;
  margin-top: 0.3rem;
}

.news_text h3 {
  width: 5rem;
  margin: auto;
  font-size: 0.2rem;
  margin-top: 0.2rem;
  color: #707070;
}

.news_text h3 .span1 {
  float: left;
}

.news_text h3 .span2 {
  float: right;
}

.news_text .news_img1 {
  width: 100%;
  display: block;
  margin-top: 0.2rem;
}

.news_text .text {
  text-align: justify;
  margin-top: 0.3rem;
  font-size: 0.24rem;
  color: #707070;
  line-height: 1.5;
}