.cp .cp_qb ul li {
	width: 2.62rem;
	height: 3.2rem;
	float: left;
	position: relative;
	margin-bottom: .46rem;
	margin-top: .7rem;
}

.cp .cp_qb ul li img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.cp .cp_qb ul li .div1 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.12rem;
	background: #030716;
	text-align: center;
}

.cp .cp_qb ul li .div1 p {
	font-size: .3rem;
	color: #d5d5d3;
	letter-spacing: .1rem;
}

.cp .cp_qb ul li .div1 h3 {
	font-size: .25rem;
	color: #fff;
	letter-spacing: .05rem;
}

.cp .cp_qb {
	width: 5.44rem;
	display: block;
	margin: 0 auto;
}

.cp .cp_qb ul li:nth-child(2n) {
	margin-left: .2rem;
}

.cp1 .part1 .part1_bottom {
	text-align: center;
	width: 4.92rem;
	display: block;
	margin: 0 auto;
	margin-top: .2rem;
}

.cp1 .part1 .part1_bottom h3 {
	font-size: .25rem;
	color: #050a27;
	color:#801c22;
}

.cp1 .part1 .part1_bottom .part1_list .div1 {
	width: 4.92rem;
	height: 3.6rem;
	margin-top: .3rem;
}

.cp1 .part1 .part1_bottom .part1_list .div1 img {
	width: 100%;
	height: 100%;
}

.cp1 .part1 .part1_bottom .part1_list ul li {
	width: 4.92rem;
	margin-bottom: .3rem;
}

.cp1 .part1 .part1_bottom .part1_list p {
	font-size: .36rem;
	color: #050a27;
	height: .5rem;
	line-height: .5rem;
	overflow: hidden;
	;
	width: 100%;
	font-weight: bold;
	margin-top: .1rem;
}

.fenye {
	text-align: center;
	margin-top: .46rem;
	padding-bottom: .5rem;
}

.fenye span {
	display: inline-block;
	font-size: .24rem;
	color: #050a27;
	vertical-align: middle;
}

.fenye ul {
	text-align: center;
}

.fenye ul li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 .08rem;
	line-height: .3rem;
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background-color: #9f9fa0;
}
.fenye ul li:first-child,
.fenye ul li:last-child{
	width: 0.27rem;
	height: 0.13rem;
	background: none;
}
.fenye ul li a {
	color: #050a27;
}
.fenye img {
	display: block;
	width: 100%;
	height: 100%;
}
.fenye ul li.on{
	background-color: #050a27;
}
.fenye ul li.on a{
	color: red;
}

.public-title .p1 {
	font-size: .4rem;
}

.fix-nav {
	top: 8.4rem;
}

@media (max-width: 330px) {
	.cp .cp_qb ul li .div1 h3 {
		font-size: .24rem;
		line-height: .35rem;
	}
}