

.pp1{
	position:relative;
	height:9.8rem;
}
.pp1 .pp1-bg{
	display: block;
	width: 100%;
	position:absolute;
	height:9.8rem;
	top: 0;
	left: 0;
	z-index: -1;
}
.pp1 .pp1-main{
	width: 12rem;
	height: 8.25rem;
	position:absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6rem;
}
.pp1 .pp1-main .p1{
	font-size: 0.26rem;
	color:#909091;
}
.pp1 .pp1-main .p2{
	font-size: 0.42rem;
	color:#000;
	width: 6.6rem;
	border-bottom:1px dotted #9d9c9b;
	padding-bottom: 0.2rem;
}
.pp1 .pp1-main .p2 span{
	position:relative;
	left: -0.2rem;
}
.pp1 .pp1-main .p3{
	font-size: 0.18rem;
	color:#3e3a39;
	line-height: 0.42rem;
	margin-top: 0.3rem;
}
.pp1 .pp1-main .img-box{
	margin-top: 0.35rem;
}
.pp1 .pp1-main .img-box img{
	display: inline-block;
	width: 0.28rem;
	height: 0.28rem;
	margin-right: 0.2rem;
}
.pp1 .pp1-main .a1-img{
	position:absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 6.3rem;
}



.pp2{
	position:relative;
	padding-bottom: 3.8rem;
}
.pp2 .pp2-bg{
	display: block;
	width: 100%;
	position:absolute;
	height:3.63rem;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.pp2 .pp2-main .img1{
	display: block;
	width: 3.23rem;
	margin:0 auto;
	margin-top: 1rem;
}
.pp2 .pp2-main .p1{
	font-size: 0.42rem;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-top: 0.25rem;
}
.pp2 .pp2-main .img2{
	width: 1.49rem;
	display: block;
	margin:0 auto;
	margin-top: 0.2rem;
}
.pp2 .pp2-main .p2{
	font-size: 0.22rem;
	color:#3e3a39;
	line-height: 0.62rem;
	width: 12rem;
	margin:0 auto;
	margin-top: 0.5rem;
}



.pp3{
	position:relative;
	height:8.56rem;
}
.pp3 .pp3-bg{
	display: block;
	width: 100%;
	position:absolute;
	height:8.56rem;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.pp3 .pp3-main{
	width: 12rem;
	margin:0 auto;
	padding-top: 1.2rem;
	box-sizing: border-box;
}
.pp3 .pp3-main .pp3-l{
	width: 5.23rem;
}
.pp3 .pp3-main .pp3-l img{
	display: block;
	width: 100%;
}
.pp3 .pp3-main .pp3-r{
	width: 6.5rem;
}
.pp3 .pp3-main .pp3-r .p1{
	width: 5.5rem;
	height: 0.74rem;
	background: url(../img/pp/c2.png) no-repeat;
	background-size: 100% 100%;
	line-height: 0.74rem;
	font-size: 0.42rem;
	color:#4a9e9e;
	font-weight: bold;
	padding-left: 0.15rem;
	box-sizing: border-box;
	margin-bottom: 0.2rem;
}
.pp3 .pp3-main .pp3-r .p2 span{
	font-size: 0.42rem;
	color:#3e3a39;
	font-weight: bold;
	display: inline-block;
}
.pp3 .pp3-main .pp3-r .p2 img{
	display: inline-block;
	width: 1.45rem;
    vertical-align: -0.15rem;
	margin-right: 0.15rem;
}
.pp3 .pp3-main .pp3-r .p3{
	font-size: 0.22rem;
	line-height: 0.62rem;
	color:#3e3a39;
	text-align: justify;
	margin-top: 0.5rem;
}
.pp3 .pp3-main .pp3-r .img-box{
	text-align: right;
	margin-top: 0.8rem;
}
.pp3 .pp3-main .pp3-r .img-box img{
	display: inline-block;
	width: 1.5rem;
}



.pp4{
	position:relative;
	height:13.3rem;
	padding-top: 1rem;
	box-sizing: border-box;
}
.pp4 .pp4-bg{
	display: block;
	width: 100%;
	position:absolute;
	height:13.3rem;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.pp4 .pp4-title{
	width: 5.5rem;
	height: 0.74rem;
	background: url(../img/pp/d1.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
	padding-left: 0.15rem;
	box-sizing: border-box;
}
.pp4 .pp4-title .span1{
	font-size: 0.42rem;
	color:#4a9e9e;
	font-weight: bold;
	line-height: 0.74rem;
	display: inline-block;
	vertical-align: middle;
}
.pp4 .pp4-title .span2{
	font-size: 0.18rem;
	line-height: 0.24rem;
	color:#909091;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.1rem;
}
.pp4 .top1{
	text-align: center;
	margin-top: 0.15rem;
}
.pp4 .top1 img{
	display: inline-block;
	vertical-align: middle;
	
}
.pp4 .top1 span{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.42rem;
	color:#3e3a39;
}
.pp4 .top2{
	width: 1.5rem;
	margin:0 auto;
	margin-top: 0.3rem;
}
.pp4 .pp4-main{
	width: 12rem;
	margin:0 auto;
}
.pp4 .pp4-main ul li{
	float:left;
	width: 3.5rem;
	margin-right: 0.75rem;
	margin-top: 0.7rem;
}
.pp4 .pp4-main ul li:nth-child(3n){
	margin-right: 0;
}
.pp4 .pp4-main ul li .li-img{
	width: 3.5rem;
	height: 1.94rem;
}
.pp4 .pp4-main ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.pp4 .pp4-main ul li .p1{
	font-size: 0.35rem;
	font-weight: bold;
	background-color: #4a9e9e;
	height: 0.58rem;
	line-height: 0.58rem;
	color:#fff;
	text-align: center;
}
.pp4 .pp4-main ul li .p1 span{
	color:#e4b62f;
}
.pp4 .pp4-main ul li .p2{
	display: block;
	border:1px solid #4a9e9e;
	text-align:center;
	font-size: 0.18rem;
	line-height: 0.28rem;
	padding:0.1rem 0;
}
.pp4 .pp4-main .d-icon{
	display: block;
	width: 1.47rem;
	margin:0 auto;
	margin-top: 0.65rem;
}
