.hz .part1 .img1 {
	width: 5.63rem;
}
body{overflow-x: hidden !important;width: 100%;}
.hz .part1 {
	position: relative;
	top: .8rem;
}

.hz .big1 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 3.5rem;
	left: 0;
}

.hz .big2 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 6.92rem;
	left: 0;
}

.hz .big3 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 6.56rem;
	left: 0;
}

.hz .big4 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 3rem;
	left: 0;
}

.hz .big5 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 7.23rem;
	left: 0;
}

.hz .big6 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 8.27rem;
	left: 0;
}
.hz .big7 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 4.49rem;
	left: 0;
}
.hz .big8 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 5.19rem;
	left: 0;top: 4.49rem;
}
.hz .big9 {
	width: 100%;
	position: absolute;
	z-index: -1;
	height:4.85rem;
	left: 0;top: .1rem;
}
.part{position: relative;}
.part .public_title {
	background: url(../img/hz/a1.png) no-repeat;
	background-size: 2.95rem .33rem;
	width: 2.95rem;
	text-align: center;
	position: absolute;
	right: 2%;
	top: .5rem;
}

.part .public_title h3 {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #d67723;
	line-height: 0;
}

.part .public_title p {
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	color: #d67723;
	width: 170%;
	margin-left: -35%;
	line-height: .33rem;
	height: .33rem;
}

.hz .part2 {
	position: relative;
	top: .4rem;
}

.hz .part2 .div1 {
	text-align: center;
}

.hz .part2 .div1 h3 {
	text-align: center;
	font-size: .55rem;
	color: #d67723;
	font-family: myfont;
	font-weight: 400;
	letter-spacing: .02rem;
	margin-bottom: .2rem;
}

.hz .part2 .div1 p {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #3e3a39;
}

.hz .part2 .div2 {
	margin-top: .3rem;
}

.hz .part2 .div1 .p1 {
	background: #d67724;
	color: #fff;
}

.part .public1_title {
	background: url(../img/hz/a1.png) no-repeat center .8rem;
	background-size: 2.95rem .33rem;
	width: 2.95rem;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.part .public1_title h3 {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #d67723;
	line-height: 0;
}

.part .public1_title p {
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	color: #d67723;
	width: 170%;
	margin-left: -35%;
	line-height: .33rem;
	height: .33rem;
}

.hz .part3 .public1_title {
	padding-top: .8rem;
}

.hz .part3 .part3_bottom {
	position: relative;
}

.hz .part3 .part3_bottom .border {
	width: 100%;
	height: .1rem;
	background: #b7b7b7;
	position: absolute;
	left: 0;
	top: 1rem;
}

.hz .part3 .part3_bottom .border1 {
	width: 100%;
	height: .1rem;
	background: #b7b7b7;
	position: absolute;
	left: 0;
	top: 5rem;
}

.hz .part3 .part3_bottom .div1 {
	width: 6.26rem;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	margin-top: .24rem;
}

.hz .part3 .part3_bottom .div1 .div1_left {
	width: 2.26rem;
	text-align: center;
	height: 1.01rem;
	line-height: 1.01rem;
	font-size: .36rem;
	color: #c97f29;
	font-family: myfont;
	font-weight: 400;
}

.hz .part3 .part3_bottom .div1 .div1_center {
	width: 1.74rem;
	float: left;
}

.hz .part3 .part3_bottom .div1 .div1_center img {
	width: .75rem;
	display: block;
	margin: 0 auto;
	height: 1.01rem;
}

.hz .part3 .part3_bottom .div1 .div1_right {
	width: 2.26rem;
	text-align: center;
	height: 1.01rem;
	line-height: 1.01rem;
	font-size: .36rem;
	color: #c97f29;
	font-family: myfont;
	font-weight: 400;
}


/*.hz .part3{height: 6.56rem;}*/

.hz .part3 .part3_bottom .div2 {
	position: relative;
	z-index: 9;
	width: 6.26rem;
	display: block;
	margin: 0 auto
}

.hz .part3 .part3_bottom .div2 .div2_left {
	width: 2.26rem;
	text-align: center;
	background: #c97f2b;
}

.hz .part3 .part3_bottom .div2 .div2_left ul li {
	height: .8rem;
	border-bottom: .02rem solid #fff;
}

.hz .part3 .part3_bottom .div2 .div2_left ul li h3 {
	font-size: .25rem;
	color: #ffffff;
	line-height: .4rem;
}

.hz .part3 .part3_bottom .div2 .div2_left ul li p {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #ffffff;
	line-height: .4rem;
	width: 120%;
	margin-left: -10%;
}

.hz .part3 .part3_bottom .div2 .div2_left ul li:last-child {
	border-bottom: none;
}

.hz .part3 .part3_bottom .div2 .div2_center {
	width: 1.74rem;
	float: left;
	text-align: center;
}

.hz .part3 .part3_bottom .div2 .div2_center ul li {
	font-size: .24rem;
	color: #c97f29;
	font-weight: bold;
	line-height: .8rem;
	height: .8rem;
}

.hz .part3 .part3_bottom .div2 .div2_right {
	width: 2.26rem;
	text-align: center;
	background: #c97f2b;
}

.hz .part3 .part3_bottom .div2 .div2_right ul li {
	height: .8rem;
	border-bottom: .02rem solid #fff;
}

.hz .part3 .part3_bottom .div2 .div2_right ul li h3 {
	font-size: .25rem;
	color: #ffffff;
	line-height: .4rem;
}

.hz .part3 .part3_bottom .div2 .div2_right ul li p {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #ffffff;
	line-height: .4rem;
	width: 120%;
	margin-left: -10%;
}

.hz .part3 .part3_bottom .div2 .div2_right ul li:last-child {
	border-bottom: none;
}

.hz .part4 {
	text-align: center;
	height: 3rem;
	position: relative;
	top: 0rem;
}

.hz .part4 .part4_top {
	padding-top: .3rem;
	margin-bottom: .12rem;
}

.hz .part4 .part4_top img {
	display: inline-block;
	vertical-align: middle;
	width: .89rem;
	height: 1rem;
}

.hz .part4 .part4_top h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: .4rem;
	color: #c97f29;
}

.hz .part4 .part4_bottom img {
	display: inline-block;
	float: left;
	width: 2.65rem;
	height: 1.33rem;
	border: .01rem solid #c97f2b;
	margin-right: .1rem;
	;
}

.hz .part4 .part4_bottom div {
	padding-left: .1rem;
	border-left: .1rem solid #c97f2b;
	display: inline-block;
	float: left;
	height: 1.32rem;
	text-align: left;width: 4rem;
}

.hz .part4 .part4_bottom div p {
	font-size: .25rem;
	color: #c97f29;
	font-family: myfont;
	font-weight: 400;
	letter-spacing: .02rem;
	line-height: .36rem;
}

.hz .part4 .part4_bottom {
	width: 7.1rem;
	display: block;
	margin: 0 auto;
}


/*.hz .part5{height: 8.27rem;}*/

.hz .part5 .part5_top {
	text-align: center;
	padding-top: .3rem;
}

.hz .part5 .part5_top h3 {
	font-size: .4rem;
	color: #c97f29;
	font-family: myfont;
	font-weight: 400;
	margin-bottom: .28rem;
}

.hz .part5 .part5_top table {
	width: 6.6rem;
	display: block;
	margin: 0 auto;
	min-height: .32rem;
	line-height: .32rem;
	text-align: center;
	border-color: #ca7f2b;
	border-collapse: collapse;
	background: #ca7f2b;
	font-weight: 400;
}

.hz .part5 .part5_top table {
	border-color: #ca7f2b;
}

.hz .part5 .part5_top table tr {
	border-bottom: .02rem solid #fff;height: .32rem;;
}
.hz .part5 .part5_top table tr:nth-of-type(5){height: .32rem;}
.hz .part5 .part5_top table tr:nth-of-type(6){height: .32rem;}
.hz .part5 .part5_top table td {
	border-right: .02rem solid #fff;
	color: #fff;
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	width: 20%;
}

.hz .part5 .part5_top table tr:last-child {
	border-bottom: none;
	border-color: #ca7f2b;
}

.hz .part5 .part5_top table tr td:last-child {
	border-bottom: none;
	border-right: none;
}

.hz .part5 .part5_bottom {
	width: 5.6rem;
	display: block;
	margin-left: 6%;
	margin-top: .1rem;
}

.hz .part5 .part5_bottom p {
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 130%;
	margin-left: -15%;
	color: #3e3a39;
	margin-top: -.07rem;
}

.part6 {
	width: 100%;
	background: #d67724;
	margin-top: .1rem;
}

.part6 .part6_title {
	position: relative;
	z-index: 1;
	background: url(../img/hz/c1.png) no-repeat center .28rem;
	background-size: 2.95rem .33rem;
	width: 2.95rem;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: .28rem;
}

.part6 .part6_title h3 {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #fff;
	line-height: 0;
}

.part6 .part6_title p {
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	color: #fff;
	width: 170%;
	margin-left: -35%;
	line-height: .33rem;
	height: .33rem;
}

.part6 .div1 {
	margin-top: .24rem;
	clear: both;
	width: 100%;
	overflow: hidden;
}

.part6 .div1 .div1_left {
	width: 2.32rem;
	height: 3.42rem;
}

.part6 .div1 .div1_left img {
	width: 100%;
	height: 100%;
}

.part6 .div1 .div1_right {
	width: 4.45rem;
	margin-left: .2rem;
}

.part6 .div1 .div1_right .div1_top {
	font-size: .4rem;
	color: #fff;
	font-family: myfont;
	font-weight: 400;
	margin-bottom: .16rem;
}

.part6 .div1 .div1_right .div1-bottom img {
	display: inline-block;
	width: .37rem;
	height: .26rem;
	float: left;
}

.part6 .div1 .div1_right .div1-bottom p {
	font-size: .24rem;
	font-family: myfont;
	font-weight: 400;
	color: #fff;
	display: inline-block;
	float: left;
	font-weight: 400;
	width: 4rem;
	letter-spacing: .02rem;
}

.part6 .div1 .div1_right .div1-bottom div {clear: both;
	width: 4.45rem;
}

.part6 .div2 {
	text-align: center;
	margin-top: .48rem;
}

.part6 .div2 h3 {
	font-size: .4rem;
	color: #fff;
	font-family: myfont;
	font-weight: 400;
	letter-spacing: .04rem;
	margin-bottom: .05rem;
}

.part6 .div2 p {
	font-size: .24rem;
	color: #fff;
}

.part6 .div2 .div2_bottom {
	width: 6.22rem;
	display: block;
	margin: 0 auto;
	margin-top: .24rem;
}

.part6 .div2 .div2_bottom ul li {
	float: left;
	width: 3rem;
	height: 1.68rem;
	margin-bottom: .22rem;
}

.part6 .div2 .div2_bottom ul li img {
	width: 100%;
	height: 100%;
}

.part6 .div2 .div2_bottom ul li:nth-child(2n) {
	margin-left: .22rem;
	;
}

.part6 .div2 {
	padding-bottom: .34rem;
}
.part7 {width: 100%;}

.part7 .part7_title {
	position: relative;
	z-index: 1;
	background: url(../img/hz/a1.png) no-repeat center .28rem;
	background-size: 2.95rem .33rem;
	width: 2.95rem;
	text-align: center;
	display: block;
	left: 10%;
	padding-top: .28rem;
}

.part7 .part7_title h3 {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #ca7f2b;
	line-height: 0;
}

.part7 .part7_title p {
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	color: #ca7f2b;
	width: 170%;
	margin-left: -35%;
	line-height: .33rem;
	height: .33rem;
}
.part7 .div1 p{font-size: .4rem;color: #d67723;font-family: myfont;font-weight: 400;position: relative;left: 10%;top: .11rem;}
.part7 .div2{width: 6.8rem;display: block;margin: 0 auto;padding-top: .22rem;}
.part7 .div2 ul li{float: left;margin-bottom: .14rem;}
.part7 .div2 .img1{display: inline-block;float: left;width: .2rem;height: .38rem;margin-top: .68rem;margin: .68rem .2rem 0 .2rem;}
.part7 .div2 .li1{background: url(../img/hz/d1.png) no-repeat ;background-size:1.91rem 1.5rem;text-align: center;width:1.91rem ;}
.part7 .div2 .li1 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: .4rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li2{background: url(../img/hz/d2.png) no-repeat ;background-size:1.84rem 1.5rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li2 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: .4rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li3{background: url(../img/hz/d3.png) no-repeat ;background-size:1.84rem 1.5rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li3 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: 1rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li4{background: url(../img/hz/d6.png) no-repeat ;background-size:1.84rem 1.47rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li4 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height:.33rem;margin-top: .4rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li5{background: url(../img/hz/d5.png) no-repeat ;background-size:1.84rem 1.47rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li5 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: .33rem;margin-top: .4rem;color: #ffffff;width: 120%;
	margin-left: -10%;;}
.part7 .div2 .li6{background: url(../img/hz/d4.png) no-repeat ;background-size:1.86rem 1.47rem;text-align: center;width:1.86rem ;}
.part7 .div2 .li6 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: .4rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li7 {background: url(../img/hz/d7.png) no-repeat ;background-size:1.84rem 1.53rem;text-align: center;width: 1.84rem;}
.part7 .div2 .li7 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: 1rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li8 {background: url(../img/hz/d8.png) no-repeat ;background-size:1.84rem 1.53rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li8 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: .4rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
.part7 .div2 .li9 {background: url(../img/hz/d9.png) no-repeat ;background-size:1.84rem 1.53rem;text-align: center;width:1.84rem ;}
.part7 .div2 .li9 p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);height: 1rem;line-height: 1rem;margin-top: .5rem;color: #ffffff;width: 120%;
	margin-left: -10%;}
 .part8_title {
	position: relative;
	z-index: 1;
	background: url(../img/hz/a1.png) no-repeat center .28rem;
	background-size: 2.95rem .33rem;
	
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: .28rem;
}

 .part8_title h3 {
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #ca7f2b;
	line-height: 0;
}

 .part8_title .p1 {
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	color: #ca7f2b;
	width: 170%;
	margin-left: -35%;
	line-height: .33rem;
	height: .33rem;
}
.part8_title .p2{font-size: .4rem;color: #d67723;font-family: myfont;font-weight: 400;margin-top: .16rem;}
.part8 .part8_bottom {width:6.2rem;display: block ;margin: 0 auto;margin-top: .3rem;}
.part8 .part8_bottom ul li{width: 3rem;height: 3.53rem;background: #c87f2b;float: left;margin-bottom: .24rem;}
.part8 .part8_bottom ul li h3{text-align: center;font-size: .24rem;color: #fff;font-family: myfont;font-weight: 400;text-align: center;line-height: .54rem;letter-spacing: .02rem;}
.part8 .part8_bottom ul li p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);height: .9rem;
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	color: #fff;}
.part8 .part8_bottom ul li div{width:2.76rem;height: 1.78rem ;display: block;margin: 0 auto;margin-top: .14rem;}
.part8 .part8_bottom ul li div img{width: 100%;height: 100%;}
.part8 .part8_bottom ul li:nth-child(2n){margin-left: .2rem;}
.part9 .part9_list ul li{text-align: center;width: 1.5rem;height: .34rem;float: left;margin-right: .12rem;background: #ca7f2b;color: #fff;line-height: .34rem;font-size: .24rem;;margin-bottom: .11rem;}
.part9 .part9_list ul li:nth-child(4n){margin-right: 0;}
.part9 .part9_list{width: 6.4rem;display: block;margin: 0 auto;margin-top: .16rem;}
.part9 .part9_bottom .p1{.26rem;color: #ca7f29;background: url(../img/hz/e1.png) no-repeat center;background-size: 1.3rem .44rem;text-align: center;height: .44rem;}
.part9 .part9_bottom{text-align: center;padding-top: .4rem;}
.part9 .part9_bottom .p2{font-size: .46rem;color: #ca7f29;font-weight: bold;}
.part9 .part9_bottom .p3{font-size: .24rem;color: #ca7f29;}
.part9{margin-bottom: .2rem;}
@media screen and (max-width: 320px) {
.hz .part2 .div1 p{font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	width: 115%;
	margin-left: -8%;}	
.hz .part3 .part3_bottom .div2 .div2_left ul li p{font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);width: 130%;
	margin-left: -15%;}	
.hz .part4 .part4_bottom div p{font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);width: 120%;
	margin-left: -10%;}
.hz .part4 .part4_bottom img{width: 2rem;}
.hz .part3 .part3_bottom .div2 .div2_center ul li{font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);	width: 130%;
	margin-left: -15%;}
.part6 .div1 .div1_right .div1-bottom p{	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);margin-top: -.1rem;margin-bottom: .1rem;
	width: 106%;
	margin-left: -15%;}
.hz .part5 .part5_top table{width: 6.9rem;}	
.hz .part5 .part5_bottom p{width: 158%;}
.part6 .div1 .div1_right .div1_top{font-size: .32rem;}
.part7 .div2 .li2 p{font-size: .24rem;
	transform: scale(.67);
	-webkit-transform: scale(.67);
	-o-transform: scale(.67);
	-moz-transform: scale(.67);
	-ms-transform: scale(.67);
	width: 150%;
	margin-left: -25%;}
}