.content{
	overflow: hidden;
}
.part{
	position: relative;
}
.part-bg{
	position: absolute;
	top: 0;
	left: 50%;
	width: 1920px;
	margin-left: -960px;
	z-index: -1;
	height: 100%;
}
.part .con{
	width: 1200px;
	margin: 0 auto;
}

.part .ab-img{
	position: absolute;
	z-index: -1;
}
.part1 .ab-img1{
	left: 0;
	top: 50px;
}
.part1 .ab-img2{
	right: 0;
	bottom: -50px;
}
.part2 .ab-img1{
	left: 0;
	bottom: 40px;
}
.part4 .ab-img1{
	left: 0;
	bottom: -80px;
}
.part4 .ab-img2{
	right: 0;
	top: -100px;
}
.part5 .ab-img1{
	right: 0;
	bottom: -80px;
}


.part1{
	height: 758px;
}
.part1 .step1{
	text-align: center;
    padding-top: 80px;
    font-weight: bold;
}
.part1 .step1 .p1{
	font-size: 32px;
	line-height: 58px;
	margin-bottom: 10px;
	letter-spacing: 5px;
	padding-left: 5px;
}
.part1 .step1 .p2{
	font-size: 32px;
}
.part1 .step1 .p2 span{
    font-size: 36px;
    color: #F1C71D;
    margin-left: 20px;
    letter-spacing: 9px;
    padding-left: 9px;
}
.part1 ul{
	margin-top: 77px;
	position: relative;
}
.part1 ul li{
	color: #F1C71D;
	width: 195px;
	height: 205px;
	margin-bottom: 20px;
	text-align: center;
	position: absolute;
}
.part1 ul li .p1{
	font-size: 20px;
	margin-bottom: 12px;
	padding-top: 20px;
}
.part1 ul li .p2{
	font-size: 16px;
	line-height: 28px;
}
.part1 ul li:nth-child(1){
	top: 0;
	left: 335px;
}
.part1 ul li:nth-child(2){
	top: 0;
	right: 117px;
}
.part1 ul li:nth-child(3){
	top: 243px;
	left: 117px;
}
.part1 ul li:nth-child(4){
	top: 243px;
	right: 335px;
}


.part2{
	height: 716px;
}
.part2 .title{
	text-align: center;
	font-weight: bold;
}
.part2 .title .p1{
	font-size: 32px;
    line-height: 59px;
    padding-top: 17px;
    margin-bottom: 16px;
    letter-spacing: 5px;
    padding-left: 5px;
}
.part2 .title .p2{
	text-transform: uppercase;
	font-size: 16px;
}

.part2 .step{
	position: relative;
}
.part2 .step .img1{
    position: absolute;
    bottom: -12px;
    left: 3px;
}
.part2 .bigSmall {
	font-size: 0;
	margin-top: 30px;
	padding-left: 10px
}
.part2 .bigSmall .large_box{
	width: 850px;
	height: 480px;
	overflow: hidden;
	border: 4px solid #2e3031;
	display: inline-block;
	vertical-align: top;
}
.part2 .bigSmall .large_box ul{
	position: relative;
}
.part2 .bigSmall .large_box ul li{
	position: relative;
	width: 850px;
	height: 480px;
}
.part2 .bigSmall .small_box{
	width: 280px;
	margin: 0 auto;
	position: relative;
	background: #9f1f24;
	display: inline-block;
	margin-left: 40px;
	padding-top: 40px;
	padding-bottom: 30px;
}
.part2 .bigSmall .small_box .small_list{
	width: 250px;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
}
.part2 .bigSmall .small_box .small_list ul{
	position: relative;
}
.part2 .bigSmall .small_box .small_list ul li{
	width: 250px;
	height: 140px;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
	overflow: hidden;
	border: 2px solid transparent;
	box-sizing: border-box;
}
.part2 .bigSmall .small_box ul li.on{
	border:2px solid #F1C71D;
}
.part2 .bigSmall li img{
	display: block;
	width: 100%;
	height: 100%;
}
.part2 .arrow{
	height: 20px;
	width: 250px;
	position: absolute;
	left: 10px;
	border-radius: 10px;
	background: #F1C71D;
	cursor: pointer;
}
.part2 .arrow img{
	display: block;
	margin: 5px auto;
}
.part2 .arrow-left{
	top: 10px;
}
.part2 .arrow-right{
	bottom: 10px;
} 

.part2 .vedio-box{
	width: 100%;
	height: 100%;
	position: relative;
	background: #000;
}
.part2 .vedio-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.part2 .vedio-box video,
.part2 .vedio-box embed{
	width: 100%!important;
	height: 100%!important;	
}
.part2 .vedio-box .play{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 70px!important;
	height: 70px!important;
	display: block;
	margin-top: -35px;
	margin-left: -35px;
	cursor: pointer;
	z-index: 12;
}
.part2:before{
    content: '';
    width: 100%;
    height: 77px;
    background: #341F0B;
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: -1;
}


.part3{
	height: 666px;
}
.part3 .title{
	text-align: center;
	font-weight: bold;
}
.part3 .title .p1{
	font-size: 32px;
    line-height: 59px;
    padding-top: 33px;
    margin-bottom: 16px;
    letter-spacing: 5px;
    padding-left: 5px;
}
.part3 .title .p2{
	text-transform: uppercase;
	font-size: 16px;
}

.part3 .step{
	margin-top: 25px;
}
.part3 .fl-lt{
	width: 570px;
}
.part3 .fl-lt .img-box{
	position: relative;
	height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
}
.part3 .fl-lt .img-box .date{
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 120px;
	margin-left: -60px;
	z-index: 2;
	background: rgba(0,0,0,.4);
	font-size: 36px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}
.part3 .fl-lt .img-box .date span{
	font-size: 17px;
	margin-left: 5px;
}

.part3 .fl-rt{
	width: 600px;
}
.part3 .fl-rt ul li{
	border-bottom: 1px dashed #341F0B;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.part3 .fl-rt ul li:last-child{
	border: 0;
}
.part3 .fl-rt ul li a{
	display: block;
	color: #341F0B;
	font-size: 0;
}
.part3 .fl-rt ul li a .p0{
	width: 80px;
	text-align: center;
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	margin-right:15px;
	line-height: 1;
}
.part3 .fl-rt ul li a .p0 span{
	display: block;
	font-size: 16px;
	margin-top: 10px;
}
.part3 .fl-rt ul li a .li-con{
	width: 500px;
	display: inline-block;
	vertical-align: middle;
}

.part3 .p1{
	font-size: 17px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.part3 .p2{
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
}
.part3 .more{
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -20px;
    width: 100px;
    line-height: 40px;
    text-align: right;
}


.part4{
	height: 664px;
}
.part4 .title{
	text-align: center;
	color: #F1C71D;
	font-weight: bold;
	font-size: 32px;
}
.part4 .title .p1{
    line-height: 59px;
    padding-top: 29px;
    margin-bottom: 16px;
    letter-spacing: 5px;
    padding-left: 5px;	
}
.part4 .title .p2{
	letter-spacing: 5px;
}
.part4 .title .p2 span{
	margin-right: 10px;
}
.part4 .title .p2 span strong{
    font-size: 36px;
    color: #9f1f24;
    margin-left: 10px;
    margin-right: 8px;
}
.part4 .p0{
    font-size: 16px;
    line-height: 27px;
    margin-top: 225px;
    width: 432px;
    padding: 0 20px;
    text-align: justify;
}
.part4:before{
	content: '';
	width: 100%;
	height: 100%;
	background: #9F1F24;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}


.part5{
	height: 745px;
}
.part5 .p1{
    font-size: 32px;
    line-height: 1.3;
    padding-top: 45px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 5px;
}
.part5 ul{
	margin-top: 483px;
	padding-left: 30px;
}
.part5 ul li{
	float: left;
	width: 260px;
	color: #F1C71D;
	font-size: 16px;
	text-align: center;
	margin-right: 34px;
}
.part5 ul li:last-child{
	margin-right: 0px;
}
.part5 ul li:nth-child(even){
	margin-top: 61px;
}


.part6{
	height: 458px;
}
.part6 .con{
	width: 100%;
}
.part6 .title{
	width: 550px;
	margin: 0 auto;
	padding-top: 25px;
}
.part6 .title p{
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 5px;
	padding-left: 5px;
}
.part6 .title p span{
	color: #F1C71D;
	margin: 0 2px;
}
.part6 .title .p1{
	margin-left: 35px;
}
.part6 .title .p1 .span1{
	margin-right: 14px;
}
.part6 .title .p1 .span2{
	margin: 0 10px;
}
.part6 .title .p2{
	margin-top: 14px;
    margin-left: 47px;
}
.part6 .title .p2 .span2{
    margin-left: 15px;
}

.part6 .picScroll-left{
	margin-top: 78px;
	margin-left: -15px;
}
.part6 .picScroll-left .hd li{
	font-size: 0;
}
.part6 .picScroll-left .bd li{
	position: relative;
	/*width: 285px;*/
	/*height: 230px;*/
}
.part6 .picScroll-left .bd li .box{
	padding: 0 15px;
}
.part6 .picScroll-left .bd li img{
	display: block;
	/*height: 200px;*/
	width: 100%;
}
.part6 .picScroll-left .bd li p{
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	background: #9F1F24;
	color: #F1C71D;
}


.part7{
	padding-top: 198px;
}
.part7 .part-bg{
	height: 198px;
}
.part7 .p1{
	position: absolute;
	left: 0;
	width: 100%;
	top: 59px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 5px;
	padding-left: 5px;	
}

.part8{
	height: 200px;
	color: #F1C71D;
	padding-top: 20px;
	box-sizing: border-box;
}
.part8 .con{
	position: relative;
}
.part8 .part-bg{
	background: #341F0B;
	height: 100%;
}
.part8 .fl-lt .p1{
	font-weight: bold;
}
.part8 .fl-lt p{
	font-size: 24px;
}
.part8 .fl-lt .p3{
    font-size: 84px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 30px;
}
.part8 .fl-lt .p3 span{
	margin: 0 20px;
    font-size: 26px;
    display: inline-block;
    line-height: 84px;
    vertical-align: top;
}
.part8 .fl-rt{
	margin-right: 300px;
}
.part8 .fl-rt p{
	font-size: 16px;
	line-height: 24px;
}
.part8 .fl-rt p span{
	font-size: 20px;
	font-weight: bold;
}
.part8 .fl-rt .p2{
	margin-top: 10px;
}
.part8 .img1{
	position: absolute;
	right: 0;
	bottom: 0;
}
.part8:before{
	content: '';
	width: 100%;
	height: 100%;
	background: #341F0B;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.part9{
	height: 339px;
	text-align: center;
}
.part9 .p1{
	font-size: 32px;
	letter-spacing: 5px;
	padding-left: 5px;
	color: #9F1F24;
	padding-top: 69px;
	font-weight: bold;
}
.part9 .p1 span{
	display: block;
	color: #F1C71D;
	margin-top: 9px;
}
.part9 .p2{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin-top: 70px;
}


.part10 .picScroll-left{
	position: relative;
	border-bottom: 5px solid #F1C71D;
}
.part10 .picScroll-left .hd li{
	font-size: 0;
}
.part10 .picScroll-left .bd li{
	position: relative;
}
.part10 .picScroll-left .bd li img{
	display: block;
	width: 100%;
	height: 100%;
	border-top: 4px solid #341F0B;
	border-bottom: 4px solid #341F0B;
	border-left: 2px solid #341F0B;
	border-right: 2px solid #341F0B;
	box-sizing: border-box;
}



