
.lx .part1 .lx-title{
	text-align: center;
}
.lx .part1 .lx-title .p1{
	font-size: 50px;
	color:#231815;
	font-family: "汉仪雅酷黑W";
}
.lx .part1 .lx-title .p2{
	font-size: 32px;
	height: 40px;
	font-weight: bold;
	background-color: #d73b51;
	display: inline-block;
	padding:0 10px;
	position:relative;
	text-transform: uppercase;
	color:#fff;
	border-radius:20px;
	margin:0 auto;
}
.lx .part1 .lx-box{
	width: 764px;
	height: 150px;
	border:1px solid #f3da6f;
	margin:0 auto;
	margin-top: -20px;
	
}
.lx .part1 .lx-main{
	width: 820px;
	height: 360px;
	background-color: #000;
	margin:0 auto;
	margin-top: -100px;
	position:relative;
}
.lx .part1 .lx-main .map{
	width: 415px;
	height: 350px;
	position:absolute;
	top: -10px;
	left: -30px;
}
.lx .part1 .lx-main .main-box{
	width: 420px;
	height: 360px;
	position:relative;
}
.lx .part1 .lx-main .main-box .p1{
	font-size: 20px;
	color:#fff;
	margin-top: 10px;
}
.lx .part1 .lx-main .main-box .p2{
	font-size: 36px;
	color:#c83b51;
	font-weight: bold;
	margin-bottom: 60px;
}
.lx .part1 .lx-main .main-box .p2 span{
	font-size: 50px;
	color:#ecbf00;
}
.lx .part1 .lx-main .main-box .p3{
	font-size: 16px;
	color:#fff;
	margin-top: 15px;
}
.lx .part1 .lx-main .main-box .p3 span{
	display: block;
	text-indent: 80px;
}
.lx .part1 .lx-main .main-box .img0{
    position: absolute;
    right: -100px;
    top: 80px;
    width: 267px;
    height: 250px;
}
}
.lx .part1 .lx-main .main-box .img0 img{
	display: block;
	width: 100%;
	height: 100%;
}
