.main::after{
  content: "";
  width: 100%;
  height: 2.3rem;
  background-image: url(../img/main_bg.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.part {
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.part1::after {
  content: "";
  background-image: url(../img/pp/a_bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 13.64rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.part1::before {
  content: "";
  width: 1.49rem;
  height: 4.75rem;
  background-image: url(../img/pp/a2.png);
  background-size: 100% 100%;
  position: absolute;
  top: 1.6rem;
  right: 0;
}

.part1 .part_main {
  width: 100%;
  height: 13.14rem;
  position: relative;
  padding-top: 0.5rem;
}

.part1 .part_main::before {
  content: "";
  width: 100%;
  height: 6.4rem;
  background-image: url(../img/pp/a3.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.part1 .sub_title .p1 {
  background-image: url(../img/sub_title2.png);
}

.part1 .first_img {
  display: block;
  width: 5.46rem;
  height: 2.82rem;
  margin-top: 0.52rem;
  margin-left: 0.42rem;
}

.part1 .str {
  width: 5.56rem;
  text-align: justify;
  margin-left: 0.42rem;
  color: #ffffff;
  font-size: 0.24rem;
  line-height: 0.36rem;
  padding-top: 0.1rem;
}

.part1 .str p {
  margin-top: 0.32rem;
}

.part2::after {
  content: "";
  background-image: url(../img/pp/b_bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.part2 .part_main {
  padding-top: 0.5rem;
}

.part2 .str {
  display: block;
  width: 6.4rem;
  margin: auto;
  text-align: justify;
  line-height: 0.38rem;
  font-size: 0.24rem;
  color: #333333;
  margin-top: 0.32rem;
}


.part2 ul {
  width: 6.4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.4rem;
}

.part2 ul li {
  width: 2.86rem;
  margin-top: 0.24rem;
}

.part2 ul .pic {
  width: 2.86rem;
  height: 1.76rem;
}

.part2 ul .pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.part2 ul .p1 {
  width: 100%;
  height: 0.4rem;
  margin-top: -0.4rem;
  position: relative;
  background: rgba(234, 128, 76, 0.8);
}

.part2 ul .p2 {
  margin-top: 0.2rem;
  font-size: 0.28rem;
  line-height: 0.38rem;
  color: #333333;
  text-align: justify;
}

.part3 {
  padding-top: 0.2rem;
}

.part3 .sub_title .p3 {
  margin-top: 0.24rem;
}

.part3 .str {
  width: 6.34rem;
  text-align: justify;
  margin: auto;
  color: #333333;
  font-size: 0.24rem;
  line-height: 0.36rem;
  padding-top: 0.1rem;
}

.part3 .first_img {
  display: block;
  margin: auto;
  width: 6.34rem;
  height: 3.4rem;
}


.part3 .list {
  margin-top: 0.36rem;
}

.part3 .list .p-bg {
  width: 2.16rem;
  height: 0.48rem;
  text-align: center;
  line-height: 0.48rem;
  background-image: url(../img/pp/c_icon1.png);
  background-size: 100% 100%;
  font-size: 0.28rem;
  color: #ffffff;
  font-weight: bold;
  margin-left: 0.54rem;
}

.part3 .list .p-bg2 {
  background-image: url(../img/pp/c_icon2.png);
}

.part3 .list .p-bg3 {
  background-image: url(../img/pp/c_icon3.png);
}

.part3 .list .p2 {
  width: 6rem;
  text-align: justify;
  font-size: 0.24rem;
  line-height: 0.38rem;
  color: #333333;
  margin-left: 0.98rem;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}

.part4 {
  width: 100%;
  padding-top: 0.4rem;
  background-image: url(../img/pp/d_bg.png);
  background-size: 100% 100%;
}

.part4 ul {
  width: 5.84rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}
.part4 ul li{
  width: 2.76rem;
  margin-top: 0.42rem;
}
.part4 ul .img1{
  display: block;
  width: 2.76rem;
  height: 2.76rem;
  border-radius: 50%;
}
.part4 ul .img2{
  display: block;
  width: 0.34rem;
  height: 0.17rem;
  margin: auto;
  margin-top: 0.12rem;
}
.part4 ul .p1{
  width: 2.24rem;
  height: 0.44rem;
  line-height: 0.44rem;
  margin: auto;
  background-image: url(../img/pp/d_icon2.png);
  background-size: 100%;
  margin-top: 0.1rem;
  text-align: center;
  color: #ea804c;
  font-size: 0.26rem;
}
.part4 ul li:nth-child(2n+2) .p1{
  background-image: url(../img/pp/d_icon3.png);
  color: #f4da6f;
}
.part4 ul .p2{
  width: 2.24rem;
  margin: auto;
  text-align: justify;
  font-size: 0.24rem;
  line-height: 0.32rem;
  color: #595757;
  margin-top: 0.14rem;
}
