.xz{
	height: 1304px;
}
.big2{position: absolute;z-index: 1;left: 10px;top: 86px;width: 1379px;height: 640px;;}
.xz .part1 .list{position: absolute;top: 316px;left: 500px;z-index: 1;}
.xz  .part1 .list ul li{width:163px;float: left ;margin-right: 100px;}
.xz  .part1 .list ul li .div1{display: block;margin: 0 auto;text-align: center;}
.xz  .part1 .list ul li .div1 img{vertical-align: top;}
.xz  .part1 .list ul li .div2{text-align: center;}
.xz  .part1 .list ul li .div2 p{font-size: 20px;color: #3e3a39;margin: 18px auto;font-family: myfont;}
.xz  .part1 .list ul li .div3 p{margin: 26px auto 16px;}
.xz  .part1 .list ul li .div2 img{width: 163px;height: 163px;;}
.xz  .part1 {height: 800px;}
.xz  .part2{padding-left: 6px;padding-bottom: 100px;margin-bottom: 8px;}
.xz  .part2 ul li{float: left;width: 426px;text-align: center;margin-right: 54px;}
.xz  .part2 ul li:last-child{margin-right: 0;}
.xz  .part2 ul li h3{font-size: 38px;color: #3e3a39;margin: 10px auto;font-family: myfont;font-weight: 400;letter-spacing: 4px;}
.xz  .part2 ul li p{font-size: 21px;color: #1a1a1a;}
.xz  .part2 ul li .div1{overflow: hidden;width: 426px;height: 281px;}
.xz  .part2 ul li .div1 img{width: 100%;height: 100%;}
.xz  .part2 ul li .div1:hover img{transition: all 0.6s;transform: scale(1.1);}
.big1 {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	left: 50%;
	z-index: -1;
	box-sizing: border-box;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	width: 1920px;
}








/*20190326*/
.part1-main{
	position:relative;
	top:100px;
}
.part1-main .add2-img{
	position:absolute;
	bottom: 0;
	left: 0;
}
.part1-main .main-r{
	width: 600px;
	height: 555px;
	background-color: #ef8a1f;
	border:8px solid #ed7b1c;
	box-sizing: border-box;
	border-radius: 30px;
	padding-top: 40px;
	position:relative;
}
.part1-main .main-r input{
	width: 520px;
	height: 46px;
	border-radius: 23px;
	background-color: #fff;
	display: block;
	margin:0 auto;
	font-size: 20px;
	padding-left: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	line-height: 46px;
}
.part1-main .main-r textarea{
	width: 520px;
	display:block;
	margin:0 auto;
	height: 155px;
	resize: none;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 20px;
}
.part1-main .main-r input.btn{
	width: 180px;
	padding: 0;
	font-size: 26px;
	color:#e66006;
	font-weight: bold;
	letter-spacing: 2px;
}
.part1-main .main-r .add3-img{
	position:absolute;
	width: 300px;
	right: -150px;
	bottom: -150px;
}
/*占位符默认样式设置*/
input::-webkit-input-placeholder ,
textarea::-webkit-input-placeholder {
	color:#e66006;
	font-weight: bold;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
/* FF 4-18 */
	color:#e66006;
	font-weight: bold;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
/* FF 19+ */
	color:#e66006;
	font-weight: bold;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
/* IE 10+ */
	color:#e66006;
	font-weight: bold;
}



.add2-img p{
	font-size: 20px;
	font-weight: bold;
	color:#000;
	letter-spacing: 5px;
	margin-top: 10px;
}


@media (max-width: 1444px) {
	.xz  .part1 .list ul li .div3 p{margin: 18px auto 6px !important;}	
	.xz .part1 .list ul li .div2 p{margin: 6px auto;}
	.xz .part1{height: 680px;margin-top: 20px;}
	.xz .part2 ul li{width: 382px;margin-right: 24px;}
	.xz  .part2 ul li .div1{width: 370px;height: 248px;}
	.xz .part2 ul li p{font-size: 19px;}
	.xz .part2{padding-bottom: 50px;}
	.big2{
		width: 1255px;
		height: 582px;
	}
	.xz{
		height: 1140px;
	}
	.xz .part2{
		margin-top: 50px;
	}
	.part1 .add1-img{
		width: 600px;
	}
	.part1-main .main-r{
		width: 580px;
		height: 525px;
	}
	.part1-main .main-r .add3-img {
	    position: absolute;
	    width: 243px;
	    right: -115px;
	    bottom: -95px;
	}
}
@media (max-width: 1280px) {
	.big2{
		width: 1190px;
		height: 552px;
	}
	.xz .part1 .list{
		left: 440px;
	}
}

