*{
	margin: 0;
	padding: 0;
}
body{
/*	font-family: "Hiragino Sans GB","Microsoft Yahei";*/
	font-family:"Microsoft Yahei";
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
	color: #000;
	-webkit-tap-highlight-color: transparent;
	display: block;
}
label{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul li,
ol li{
	list-style: none;
}
input,img,textarea,button{
	outline: none;
	border: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance: none;
}
button{
	background: none;
	outline: none;
}
b{
	font-weight: normal;
}
u{
	text-decoration: none;
}
em,i{
	font-style: normal;
}
.fl-lt{
	float: left;
}
.fl-rt{
	float: right;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.comWidth{
	padding: 0 .24rem;
}
.img-block{
	width: 100%;
	display: block;
}
.none{
	display: none!important;
}

/*header*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111;
	width: 100%;
	height: .96rem;
	line-height: .96rem;
	background: #000;
}
.header .logo{
	height: .72rem;
	display: block;
	margin: .12rem auto;
}
.header .menu-img{
	position: absolute;
	right: 0;
	top: 0;
	width: 1rem;
	height: 100%;
	z-index: 2;
}
.header .menu-img .img2{
	display: block;
	margin-top: .29rem;
	margin-left: .22rem;
	height: .38rem;
	width: .48rem;
}


/*导航*/
.menu{
	position: fixed;
	right: -50%;
	top: 1.2rem;
	z-index: 100;
	width: 2.3rem;
	background: #000;
	text-align: center;
	border: 2px solid #cda515;
	border-radius: .12rem;
}
.menu ul li{
	position: relative;
	width: 100%;
}
.menu ul li .title a{
	color: #fff;
	font-size: .3rem;
	font-weight: bold;
	line-height: .88rem;
	border-bottom: 2px solid #CDA515;
	display: block;
	width: 100%;
}
.menu ul li:last-child .title a{
	border-bottom: 0;
}
.menu ul li.active .title a{
	color: #C73B51;
	font-weight: bold;
	font-size: .36rem;
}

/*banner*/
.banner{
	width: 100%;
	height: 4rem;
	margin-top: .96rem;
	position: relative;
	border-top: 2px solid #c73b51;
}
.banner .banner-swiper{
	height: 4rem;
}
.banner .banner-swiper img{
	display: block;
	width: 100%;
	height: 100%;
}

/*er-nav*/
.er-nav{
	text-align: center;
	position: fixed;
	left: 0;
	top: .96rem;
	width: 100%;
	z-index: 22;
}
.er-nav .p1{
	font-size: .36rem;
	font-weight: bold;
	background: #C73B51;
	color: #fff;
	line-height: .64rem;
}
.er-nav .box{
	font-size: 0;
	padding: 0 .12rem;
	background: #000;
	line-height: .72rem;
}
.er-nav .box a{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: .26rem;
	height: 100%;
	position: relative;
	width: 20%;
}
.er-nav .box a.active{
	font-weight: bold;
	color: #C73B51;
}
.er-nav .box a:before{
	content: '';
	width: 1px;
	height: .24rem;
	background: #fff;
	position: absolute;
	right: 0;
	top: .24rem;
}
.er-nav .box a:last-child:before,
.er-nav .box a:nth-child(5):before{
	display: none;
}

/*content*/
.content{
	width: 100%;
	padding-bottom: 1.1rem;
	overflow: hidden;
}
.part0{
	height: 2.68rem;
}
.part{
	position: relative;
	margin-bottom: .48rem;
}
.anchor{
    position: absolute;
    bottom: 2.32rem;
    left: 0;
    width: 100%;	
}
.comTitle{
	text-align: center;
	line-height: .4rem;
	font-weight: 0;
	margin-bottom: .32rem;
}
.comTitle span{
	display: inline-block;
	font-size: .26rem;
	color: #fff;
	background: #C73B51;
	padding: 0 .36rem;
	border-radius: .3rem;
}

/*footer*/
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 222;
	width: 100%;
	height: .96rem;
	background: #000;
	text-align: center;
	border-top: 2px solid #C73B51;
}
.footer ul{
	display: flex;
	display: -webkit-flex;
	height: 100%;
	padding: 0 .4rem;
}
.footer ul li{
	flex: 1;
	height: 100%;
}
.footer ul li a{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 100%;
	font-size: .24rem;
}
.footer ul li img{
	width: .56rem;
	height: .56rem;
	display: block;
	margin: 0 .12rem;
}
.footer ul li p{
	font-size: .24rem;
}
.footer ul li:nth-child(2) img{
	width: .72rem;
	height: .72rem;
}

/*bg*/
.bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	display: none;
}

/*分页导航*/
.page-wrapper{
	font-size: 0;
	text-align: center;
}
.page-wrapper .page-duan{
	padding: .04rem .08rem;
	display: inline-block;
	vertical-align: middle;
	font-size: .24rem;
	border-radius: 4px;
	margin: 0 .08rem;
	border: 1px solid #c2c2c2;
	color: #C2C2C2;
}
.page-wrapper ul{
	display: inline-block;
	vertical-align: middle;
}
.page-wrapper ul li{
	padding: .04rem .12rem;
	font-size: .24rem;
	border-radius: 4px;
	margin: 0 .08rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #c2c2c2;
}
.page-wrapper ul li a{
	color: #c2c2c2;
}
.page-wrapper li.active a,
.page-wrapper li.active{
	color: #fff;
	background: #c2c2c2;
}

/*超两行显省略号*/
.two-ellipsis{
	text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*字体为12像素*/
.font_12{
/*	font-size: .18rem;*/
	font-size: .24rem;
	transform: scale(.5);
	-webkit-transform: scale(.5);
	-o-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	width: 200%;
	margin-left: -50%;
}
/*字体为14像素*/
.font_14{
/*	font-size: .18rem;*/
	font-size: .24rem;
	transform: scale(.58);
	-webkit-transform: scale(.58);
	-o-transform: scale(.58);
	-moz-transform: scale(.58);
	-ms-transform: scale(.58);
	width: 170%;
	margin-left: -35%;
}

/*字体为16像素*/
.font_16{
/*	font-size: .18rem;*/
	font-size: .24rem;
	transform: scale(.67);
	-webkit-transform: scale(.67);
	-o-transform: scale(.67);
	-moz-transform: scale(.67);
	-ms-transform: scale(.67);
	width: 150%;
	margin-left: -25%;
}

/*字体为18像素*/
.font_18{
/*	font-size: .18rem;*/
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
}

/*字体为20像素*/
.font_20{
	/*	font-size: .2rem;*/
	font-size: .24rem;
	transform: scale(.833);
	-webkit-transform: scale(.833);
	-o-transform: scale(.833);
	-moz-transform: scale(.833);
	-ms-transform: scale(.833);
	width: 120%;
	margin-left: -10%;
}

/*字体为22像素*/
.font_22{
	/*	font-size: .22rem;*/
	font-size: .24rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
	width: 109%;
	margin-left: -4%;
}


/*banner btn*/
.swiper-pagination-bullets{
	text-align: center;
}
.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
	width: .16rem;
	height: .16rem;
	display: inline-block;
	vertical-align: middle;
}
.swiper-pagination-bullet-active{
	background: #C73B51;
	opacity: 1;
}
.swiper-pagination-bullets span{
	margin: 0 .08rem!important;
}
.swiper-pagination-bullets{
	bottom: .2rem!important;
}

