.top_big img{
	width: 1920px;
	height: 959px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.sl .part1 .div1{background: url(../img/sl/a1.jpg) no-repeat left bottom;background-size:820px 11px;padding-bottom: 28px ;}
.sl .part1 .div1 h3{font-size: 110px;color: #aa804f;font-weight: 400;font-family: myfont;;}
.sl .part1 .div1 p{font-size: 30px;color: #3e3a39;}
.sl .part1 .div1 span{display: block;font-size: 43px;color: #3e3a39;}
.sl .part1 .div2{margin-top: 10px;width: 800px;margin-left: 20px;}
.sl .part1 .div2 p{font-size: 16px;color: #595757;text-align: justify;line-height: 30px;}
.sl .part1 .div2 span{display: block;font-size: 20px;color: #aa804f;margin: 10px 0;}
.sl .part1 .div2 img{width: 100%;margin-top: 10px;}
.sl .part1 .div3{width: 800px;margin-left: 20px;;}
.sl .part1 .div3 div{width: 33.3%;display: inline-block;float: left;box-sizing: border-box;text-align: center;background: url(../img/sl/a3.jpg) no-repeat right;}
.sl .part1 .div3 div h3{font-size: 71px;color: #aa804f;font-weight: 400;font-family: myfont;}
.sl .part1 .div3 div p{font-size: 20px;color: #727171;}
.sl .part1 .div3 img{width: 100%;margin-top: 36px;}
.sl{padding-bottom: 96px;}
@media (max-width: 1280px) {
	.sl .part1 .div1 h3{font-size: 90px;}
	
}