*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	overflow-x: hidden;
}
body{
	font-family: "Microsoft Yahei",arial;
	font-size: 12px;
	color: #000;
}
.fl-lt{
	float: left;
}
.fl-rt{
	float: right;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.clearfix::after{
	content: "";
	clear: both;
	display: block;
}
i{
	font-style: normal;
}
input,button,textarea{
	border: 0;
	outline: none;
}
b{
	font-style: normal;
}
em{
	font-style: normal ;
}

.y-row{
	width: 1200px;
	margin: 0 auto;
}
.y-row2{
	width: 1100px;
	margin: 0 auto;
}
.bold{
	font-weight: bold;
}
.img-block{
	width: 100%;
	display: block;
}
.none{
	display: none;
}



/*公共头部*/
/*header*/
.header{
	overflow: hidden;
	position:relative;
}
.header .top {
	width: 100%;
	z-index: 20;
	position:absolute;
	top:45px;
	left: 0;
}
.header .top-img img{
	display: block;
	width: 100%;
	height: 60px;
	
}
.header .top .nav{
	width: 1100px;
	position:absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.header .top .nav .logo{
	width: 230px;
}
.header .top .nav .logo img{
	display: block;
	width: 100%;
}
.header .top .nav .fl-rt{
	height: 60px;
}

.header .top .nav ul li{
	float: left;
	font-size: 14px;
	width: 100px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	position:relative;
}
.header .top .nav ul li::after{
	content:"";
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #000;
	position:absolute;
	right: 0;
	top: 20px;
}
.header .top .nav ul li:last-child::after{
	content:"";
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: transparent;
	position:absolute;
	right: 0;
	top: 20px;
}
.header .top .nav ul li .title{
	width: 100%;
	cursor: pointer;
}
.header .top .nav ul li .title:hover,
.header .top .nav ul li .title a:hover{
	color:#d8ac50;
}
.header .top .nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.header .top .nav ul li .item{
	position:absolute;
	width: 100%;
	text-align: center;
	line-height: 20px;
	background-color: #4089a4;
	padding:5px 0 15px;
}
.header .top .nav ul li .li1{
	background-color: transparent;
}
.header .top .nav ul li .item a{
	color:#fff;
	margin-top: 10px;
	position:relative;
}
.header .top .nav ul li .item a.active{
	color:#d8ac50;
}
.header .top .nav ul li .item a.active::before,
.header .top .nav ul li .item a.active::after{
	content:"";
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #d8ac50;	
	position:absolute;
	top: 50%;
	margin-top: -1px;
}
.header .top .nav ul li .item a.active::before{
	left: 10px;
}
.header .top .nav ul li .item a.active::after{
	right: 10px;
}
.hide{
	display: none;
}


.header .top .nav ul li.on,
.header .top .nav ul li.on .title a{
	color:#d8ac50;
}



/*banner*/
.banner{
	width: 100%;
	height: 920px;
	position: relative;
}
.banner .banner-list{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.banner .banner-list li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	background-size: cover!important;
}
.banner .banner-list li:first-child{
	display: block;
}
.banner .banner-list li img{
	display: block;
	width: 100%;
	height: 100%;
}
.banner-btn-list{
	position: absolute;
	bottom: 10px;
	left:50%;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.banner-btn-list li{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin:15px;
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
}
.banner-btn-list li.light{
	background: #ca9e50;
}
/*content*/
.content{
	margin-bottom: 200px;
	position:relative;
}

.content .line-img{
	display: block;
	width: 100%;
	height: 26px;
}


/*er-nav*/
.content .page_left{
	position:absolute;
	left: 0;
	top: 50px;
	width: 15%;
	height: 365px;
	background-color: #008ab9;
	z-index: -1;
}
.content .page_left .left_b{
	position:absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #00738f;
}
.fixed{
	position:fixed;
	top: 10px;
	z-index: 99;
	/*display: none;*/
}
.content .er-nav ul li{
	width: 130px;
	height: 106px;
	background: url(../img/er-nav.png) no-repeat;
	background-size: 100%;
	position:relative;
	text-align: center;
	padding-top: 12px;
	box-sizing: border-box;
	margin-top: 10px;
}
.content .er-nav ul li::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 132px;
    background-color: #12759e;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: -10px;
}
.content .er-nav ul li .p1{
	font-size: 22px;
	color:#0080ad;
	font-weight: bold;
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
}
.content .er-nav ul li .p2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color:#c79b50;
	line-height: 16px;
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
}
.content .er-nav ul li span{
	display: block;
}
.content .er-nav ul li .p3{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c79b50;
	position:absolute;
	left: 174px;
	z-index: 2;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
}
.content .er-nav ul li .p3 a{
	display: block;
	width: 100%;
	height: 100%;
}
.content .er-nav ul li a{
	width: 100%;
	height: 100%;
}
.content .er-nav ul li.active .p3{
	background-color: #12759e;
	cursor: pointer;
}
.content .er-nav ul li.active{
    width: 150px;
    height: 120px;
    margin-left: -10px;
}
.content .er-nav ul li.active::after{
	margin-left: 10px;
	height: 150px;
}
.content .er-nav ul li.active .p1{
	font-size: 24px;
}
.content .er-nav ul li.active .p2{
	font-size: 14px;
}
.content .er-nav ul li.active .p3{
	margin-left: 10px;
	cursor: pointer;
}

.content .main_box{
	width: 946px;
}
.content .main_box .top_title{
	margin:0 auto;
	font-size: 14px;
	margin-top: 30px;
	text-transform: uppercase;
}
.content .main_box .top_title .span1{
	font-size: 18px;
	font-weight: bold;
}
.content .main_box .top_title .span2{
	font-size: 18px;
	color:#b98d50;
	margin-left: 20px;
}
.content .main_box .er-title{
	width: 380px;
	position:relative;
	margin:0 auto;
	margin-top: 50px;
}
.content .main_box .er-title .box{
	width: 380px;
	height: 10px;
	border:1px solid #c79b50;
}
.content .main_box .er-title .box .box_left{
	width: 50px;
	height: 10px;
	background-color: #c79b50;
}
.content .main_box .er-title .p1{
	font-size: 16px;
	color:#c79b50;
	margin-top: 20px;
	text-transform: uppercase;
}
.content .main_box .er-title .p1 span{
	font-weight: bold;
	margin-right: 20px;
}
.content .main_box .er-title .box-img{
    width: 85px;
    height: 81px;
    background: url(../img/index/a1.jpg) no-repeat;
    position: absolute;
    top: -30px;
    right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Safari,Chrome*/
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*css3: Opera,IE9*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 26px;
    padding-top: 5px;
    box-sizing: border-box;
    letter-spacing: 3px;
}










/*footer*/
.footer{
	width: 100%;
	height: 280px;
	background-color: #1275af;
	position:relative;
	color:#fff;
}
.footer .top {
	width: 100%;
	z-index: 20;
	position:absolute;
	top:45px;
	left: 0;
}
.footer .top-img img{
	display: block;
	width: 100%;
	height: 60px;
	
}
.footer .top .nav{
	width: 1100px;
	position:absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.footer .top .nav .logo{
	width: 230px;
}
.footer .top .nav .logo img{
	display: block;
	width: 100%;
}
.footer .top .nav .fl-rt{
	height: 60px;
}

.footer .top .nav ul li{
	float: left;
	font-size: 14px;
	width: 100px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	position:relative;
}
.footer .top .nav ul li::after{
	content:"";
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #000;
	position:absolute;
	right: 0;
	top: 20px;
}
.footer .top .nav ul li:last-child::after{
	content:"";
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: transparent;
	position:absolute;
	right: 0;
	top: 20px;
}
.footer .top .nav ul li .title{
	width: 100%;
	cursor: pointer;
}
.footer .top .nav ul li .title:hover,
.footer .top .nav ul li .title a:hover{
	color:#d8ac50;
}
.footer .top .nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.footer .foot-bottom{
	width: 1100px;
	position:absolute;
	bottom:20px;
	left: 50%;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.footer .foot-bottom .tel{
	display: inline-block;
}
.footer .foot-bottom .tel .tel-img{
	display: inline-block;
	vertical-align: middle;
	width: 47px;
}
.footer .foot-bottom .tel .tel-img img{
	width: 100%;
	display: block;
}
.footer .foot-bottom .tel .tel-fonts{
	display: inline-block;
	vertical-align: middle;
}
.footer .foot-bottom .tel .tel-fonts .p1{
	font-size: 14px;
	width: 190px;
}
.footer .foot-bottom .tel .tel-fonts .p2{
	font-size: 24px;
}
.footer .foot-bottom .tel2{
	margin-left: 50px;
}
.footer .foot-bottom .tel2 .tel-img{
	width: 31px;
}
.footer .foot-bottom .erweima{
	position:absolute;
	bottom: 0;
	right: 0;
	width: 109px;
}
.footer .foot-bottom .erweima img{
	width: 100%;
	display: block;
}












/*返回顶部*/
.backTop {
	position: fixed;
	bottom: 250px;
	right: 3%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #1285b0;
	cursor: pointer;
	display: none;
	z-index: 99;
}

.backTop span {
	display: block;
	font-size: 40px;
	color: #fff;
	margin-top: -7px;
	margin-left: 7px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.backTop:hover {
	background-color: rgba(18,133,176,.8);
}





/*超两行显省略号*/
.two-ellipsis{
	text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*分页导航*/
.page-wrapper{
	font-size: 0;
	text-align: center;
}
.page-wrapper .page-duan{
	border: 1px solid #341F0B;
	padding: 4px 8px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	border-radius: 4px;
	margin: 0 6px;
	color: #341F0B;
}
.page-wrapper ul{
	display: inline-block;
	vertical-align: middle;
}
.page-wrapper ul li{
	border: 1px solid #341F0B;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	margin: 0 6px;
	display: inline-block;
	vertical-align: middle;
}
.page-wrapper ul li a{
	color: #341F0B;
}
.page-wrapper li.active a,
.page-wrapper li.active{
	color: #fff;
	background: #AE3363;
}
.page-wrapper ul li.active{
	border-color: #AE3363;
}




/*20190417*/
.footer .foot-bottom .copy .tel-img{
	width: 30px;
}
.footer .foot-bottom .copy .copy-fonts{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	margin-left: 5px;
}
