
.news{
	padding-bottom: 180px;
}
.part1{
	width: 1200px;
	margin:0 auto;
}
.news-title{
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
	margin-top: 60px;
	position:relative;
}
.news-title::before{
	content:"";
	display: inline-block;
	width: 56px;
	height: 3px;
	background-color: #e86c00;
	position:absolute;
	bottom: -2px;
	left: 0;
}
.news-title .span1{
	display: inline-block;
	vertical-align:middle;
	font-size: 20px;
	color:#fff;
	width: 110px;
	height: 32px;
	background-color: #e86c00;
	border-radius: 16px;
	text-align: center;
	line-height: 32px;
}
.news-title .span2{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	margin-left: 10px;
}

.part1-main{
	margin-top:40px;
}
.part1-main .news-img{
	width: 535px;
	height: 297px;
}
.picScroll-left{
	width: 100%;
	position: relative;
	display: inline-block;
}
.picScroll-left .bd{
	width: 535px;
	margin: 0 auto;
	overflow: hidden;
}
.picScroll-left .bd li{
	float: left;
	position: relative;
	text-align: center;
	width:535px;
	height:297px;
	cursor: pointer;
}
.picScroll-left .bd li img{
	display: block;
	width: 100%;
	height: 100%;
}
.picScroll-left .hd{
	font-size: 0;
	position:absolute;
	bottom: 18px;
	right: 25px;
	z-index: 2;
}
.picScroll-left .hd ul li{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border:1px solid #000;
	box-sizing: border-box;
	display: inline-block;
	margin:0 8px;
}
.picScroll-left .hd ul li.on{
	background-color: #d8621c;
}

.part1-main .news-fonts{
	width: 622px;
	height: 297px;
	font-size: 14px;
}
.part1-main .news-fonts p{
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	line-height: 24px;
	margin-bottom: 6px;
}
.part1-main .news-fonts p a{
	color:#fff;
}
.part1-main .news-fonts p a .fonts{
	display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.part1-main .news-fonts p a:hover .fonts{
	color:#e86c00;
}
.part1-main .news-fonts .fenye{
	margin-top: 10px;
}
.part1-main .news-fonts .fenye a:first-child,
.part1-main .news-fonts .fenye a:last-child{
	font-size: 22px;
	color:#e86c00;
}
.part1-main .news-fonts .fenye a:first-child{
	margin-left: 0;
	margin-right:30px;
}
.part1-main .news-fonts .fenye a:last-child{
	margin-right: 0;
	margin-left:30px;
}

.part1-main .news-fonts .fenye a{
	font-size: 22px;
	color:#afafaf;
	margin:0 5px;
}
.part1-main .news-fonts .fenye a:hover,
.part1-main .news-fonts .fenye a.on{
	color:#e86c00;
}



.newsdetail{
	color:#fff;
	padding-top: 30px;
	padding-bottom: 100px;
	width: 1200px;
	margin:0 auto;
}
.newsdetail .newsdetail-title{
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}
.newsdetail .time {
	font-size: 20px;
	text-align: center;
}
.newsdetail .time span{
	display: inline-block;
	margin:10px 30px;	
}
.newsdetail img{
	display: block;
	width: 100%;
}
.newsdetail p{
	font-size: 18px;
	text-align: justify;
	line-height: 24px;
	margin-top: 10px;
}
