

.part-top{
	width: 980px;
	height: 100px;
	border:1px solid #192d7b;
	box-sizing: border-box;
	margin:0 auto;
	margin-top: 60px;
	position:relative;
}
.part-top .img-box{
	width: 80px;
	margin:0 auto;
	margin-top: -50px;
	background-color: #fff;
}
.part-top img{
	display: block;
	margin:0 auto;
	
}



.sc1 .part1-main{
	width: 1200px;
	height: 533px;
	margin:0 auto;
	position:relative;
	margin-top: -70px;
}
.sc1 .part1-main img{
	display: block;
	width: 100%;
	height: 100%;
}
.sc1 .part1-main .part1-fonts{
	position:absolute;
	left: 260px;
	top: 150px;
}
.sc1 .part1-main .p1{
	font-size: 70px;
    color: #747576;
    font-weight: lighter;
    line-height: 80px;
}
.sc1 .part1-main .p2{
	font-size: 35px;
	font-weight: lighter;
	color:#fff;
	margin-top: 5px;
}
.sc1 .part1 .line{
	width: 900px;
	height: 1px;
	background-color: #192d7b;
	margin:0 auto;
	margin-top: 60px;
}
.sc1 .part1 ul{
	width: 1200px;
	margin:0 auto;
	margin-top: 60px;
}
.sc1 .part1 ul li{
	float: left;
	width: 374px;
	margin-right: 39px;
}
.sc1 .part1 ul li:last-child{
	margin-right: 0;
}
.sc1 .part1 ul li .li-img{
	width: 374px;
	height: 505px;
}
.sc1 .part1 ul li .li-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.sc1 .part1 ul li .li-font{
	text-align: center;
	margin-top: 30px;
}
.sc1 .part1 ul li .li-font span{
	font-size: 26px;
	color:#231815;
	display: inline-block;
	vertical-align: middle;
}
.sc1 .part1 ul li .li-font img{
	display: inline-block;
	vertical-align: middle;
}
.public-title{
	margin-top: 80px;
}


.sc2{
	
}
.sc2 .part-top{
	height: 230px;
}
.sc2 .part1 ul{
	text-align: center;
	margin-top: -200px;
}
.sc2 .part1 ul li{
	display: inline-block;
	vertical-align: top;
	width: 355px;
	height: 520px;
	margin:18px;
	position:relative;
}
.sc2 .part1 ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.sc2 .part1 .line{
	width: 900px;
	margin:0 auto;
	border-bottom: 1px solid #192d7b;
	position:relative;
	z-index: -1;
	margin-top: 60px;
}
.sc2 .part1 .line img{
	position:absolute;
	bottom: 0;
}

.sc2 .part2{
	width: 1150px;
	border:1px solid #192d7b;
	margin:0 auto;
	margin-top: 40px;
	padding:80px 0;
	position:relative;
}
.sc2 .part2-l{
	display: inline-block;
	vertical-align: middle;
	position:relative;
	margin-left: 140px;
}
.sc2 .part2-l .fonts{
	position:absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.sc2 .part2-l .fonts .span1{
	font-size: 28px;
	color:#000;
	background-color: #77cecb;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 32px;
	padding:10px 0;
}
.sc2 .part2-l .fonts .span2{
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
}
.sc2 .part2-l .p{
	position:absolute;
	font-size: 30px;
	color:#231815;
	white-space: nowrap;
}
.sc2 .part2-l .p1{
	left: 205px;
	top: 7px;
}
.sc2 .part2-l .p2{
    left: 275px;
    top: 80px;
}
.sc2 .part2-l .p3{
    left: 300px;
    top: 185px;
}
.sc2 .part2-l .p4{
	left: 275px;
	top: 280px;
}
.sc2 .part2-l .p5{
	left: 205px;
	top: 355px;
}

.sc2 .part2-r{
	display: inline-block;
	vertical-align: middle;
	margin-left: 155px;
}
.sc2 .part2-r .p1{
	color:#595757;
	font-size: 33px;
}
.sc2 .part2-r .p1 .span1{
	font-weight: bold;
}
.sc2 .part2-r .p1 .span2{
	margin:0 10px;
}
.sc2 .part2-r .p2{
	font-size: 18px;
	color:#595757;
	padding-left:75px;
	margin-left: 30px;
	line-height: 50px;
	position:relative;
	margin-top: 20px;
}
.sc2 .part2-r .p2::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 175px;
    background-color: #595757;
    position: absolute;
    left: 0;
    top: 15px;

}
.part2-r .p3{
	font-size: 27px;
	color:#231815;
	font-weight: bold;
	margin-top: 20px;
}
.public-title{
	width: 625px;
	height: 74px;
	
	
}
.public-title img{
	display: block;
	width: 100%;
}
.public-title .p1{
	font-size: 16px;
}
.public-title .p2{
	font-size: 16px;
	bottom: -25px;
}

.sc2{
	margin-bottom: 60px;
}
.sc2 .public-title{
	position:absolute;
	bottom: -50px;
	left: 50%;
	margin-left:-312px;
}


@media (max-width:1280px){
	.sc1 .part1-main{
		width: 1290px;
		height: 485px;
	}
	.sc1 .part1-main .part1-fonts {
	    left: 230px;
	    top: 100px;
	}
}