/*代码部分开始*/

.common_top {
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: .5rem;
	background: url(../img/hzgy/a1.png) no-repeat;
	background-size: 100% .6rem;
}

.common_top p {
	color: #fff;
	height: .7rem;
	padding-left: .2rem;
	font-size: .28rem;
	font-weight: bold;
	line-height: .6rem;
}

.hzgy_top {
	width: 70%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.hzgy_top img {
	width: 100%;
}

.hzgy_top p {
	font-size: .24rem;
	color: #241714;
}

.hzgy_bg {
	width: 66%;
	display: block;
	margin: 0 auto;
	background: #241714;
	text-align: center;
	padding-top: .3rem;
	border-radius: .25rem;
	margin-top: .12rem;
}

.hzgy_bg input {
	outline: none;
	background: #ffffff;
	height: .6rem;
	line-height: .6rem;
	font-size: .31rem;
	border-radius: .25rem;
	margin-bottom: .18rem;
	width: 80%;
	display: block;
	margin: 0 auto .3rem auto;
	padding-left: .4rem;
}

.hzgy_bg input::-ms-input-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

input::-webkit-input-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

input::-moz-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

.hzgy_bg textarea {
	width: 80%;
	display: block;
	margin: 0 auto .3rem auto;
	border-radius: .15rem;
	height: 1rem;
	padding-left: .4rem;
	padding-top: .1rem;
	font-size: .31rem;
	font-weight: bold;
}

.hzgy_bg textarea::-ms-input-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

textarea::-webkit-input-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

textarea::-moz-placeholder {
	color: #ecaa2e;
	font-weight: bold;
}

.hzgy_bg button {
	width: 25%;
	margin: 0 auto;
	height: .5rem;
	background: #f8b62f;
	color: #241714;
	margin: 0 auto;
	border-radius: .3rem;
	font-weight: bold;
	margin-bottom: .3rem;
}

.hzgy_bottom .hzgy1 {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: .54rem;
}

.hzgy_bottom .hzgy1 img {
	display: inline-block;
	float: left;
	width: .7rem;
	vertical-align: middle;
	margin-left: 20%;
}

.hzgy_bottom .hzgy1 h3 {
	display: inline-block;
	float: left;
	font-size: .3rem;
	color: #413937;
	vertical-align: middle;
	line-height: 1rem;
	font-weight: bold;
}

.hzgy_bottom .hzgy1 span {
	font-size: .18rem;
	color: #241714;
	margin-left: 3%;
	font-size: .24rem;
	transform: scale(.75);
	-webkit-transform: scale(.75);
	-o-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	line-height: 1rem;
}

.hzgy_bottom .hzgy2 {
	display: block;
	margin: 0 auto;
	color: #241714;
	text-align: center;
}

.common_button {
	width: 25%;
	display: block;
	margin: 0 auto;
	height: .6rem;
	line-height: .6rem;
	border-radius: .3rem;
	background: #241714;
	margin-top: .3rem;
}

.common_button a {
	color: #d3d1d0;
	font-size: .3rem;
}

.common_button img {
	width: .22rem;
	padding-left: .3rem;
	vertical-align: middle;
	margin-right: .1rem;
}