
.pp1{
	width: 11rem;
	margin-left: 5.7rem;
	padding-top: 1.5rem;
}
.pp-title{
	text-align:center;
}
.pp-title .p1{
	font-size: 0.27rem;
	color:#808080;
	line-height: 1;
	font-weight: bold;
	display: inline-block;
	position:relative;
}
.pp-title .p1::before,
.pp-title .p1::after{
	content:"";
	display: inline-block;
	width: 2.65rem;
	height: 1.18rem;
	position:absolute;
	top: 0.12rem;
}
.pp-title .p1::before{
	background: url(../img/pp/iconL.png) no-repeat;
	background-size: 100% 100%;
	left: -2.9rem;
}
.pp-title .p1::after{
	background: url(../img/pp/iconR.png) no-repeat;
	background-size: 100% 100%;
	right:-2.9rem;
}
.pp-title .p2{
	font-size: 0.61rem;
	color:#c41521;
	line-height: 1;
	margin-top: 0.15rem;
	font-weight: bold;
}
.pp-title .p3{
	font-size: 0.31rem;
	color:#595757;
	line-height: 1;
	margin-top: 0.1rem;
}


.pp1{
	padding-bottom: 1.7rem;
}
.pp1 .pp1-img{
	display: block;
	width: 100%;
	margin-top:0.5rem;
	margin-bottom:0.65rem;
}
.pp1 .pp1-fonts{
	font-size: 0.2rem;
	line-height: 0.32rem;
	color:#595757;
	margin-top: 0.25rem;
}


.pp2{
	width: 11rem;
	margin-left: 5.7rem;
	padding-top: 1.5rem;
	position:relative;
	z-index: 2;
	padding-bottom: 4rem;
}
.pp2 .pp-title .p1{
	font-size: 0.29rem;
}
.pp2 .pp-title .p2{
	font-size: 0.45rem;
}
.pp2 .pp-title .p2 span{
	color:#595757;
}
.pp2 .pp-title .p3{
	font-size: 0.34rem;
	color:#ffffff;
	display: inline-block;
	background: #c41521;
	line-height: 0.48rem;
	padding:0 0.25rem;
	position:relative;
	z-index: 2;
}
.pp2 .pp-title .p4{
	font-size: 0.29rem;
	color:#595757;
	margin-top: 0.3rem;
}
.pp2 .pp2-main .pp2-img{
	display: block;
	width: 100%;
	margin-top: 1.1rem;
	margin-bottom: 0.7rem;
	
} 
.pp2-bg{
	position:absolute;
	width: 100%;
	bottom: 0;
}
.pp2 .pp2-main div{
	margin-bottom: 0.45rem;
}
.pp2 .pp2-main div p{
	position:relative;
	font-size: 0.27rem;
	color:#595757;
	line-height: 0.62rem;
}
.pp2 .pp2-main div p::before{
	content:"";
	display: inline-block;
	width: 0.23rem;
	height: 0.23rem;
	background: url(../img/pp/b3.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
}



.pp3{
	width: 11rem;
	margin-left: 5.7rem;
	padding-top: 1.5rem;
	position:relative;
	z-index: 2;
	padding-bottom: 1.2rem;
}

.pp3 .pp-title .p1::before,
.pp3 .pp-title .p1::after{
	width: 2.92rem;
	height: 1.3rem;
}
.pp3 .pp-title .p1::before{
	background: url(../img/pp/iconL2.png) no-repeat;
	left: -3rem;
}
.pp3 .pp-title .p1::after{
	background: url(../img/pp/iconR2.png) no-repeat;
	right:-3rem;
}
.pp3 .pp-title .p2{
	font-size: 0.65rem;
	font-weight: normal;
	margin-top: 0.1rem;
}
.pp3 .pp-title .p3{
	font-size: 0.35rem;
}
.pp3 .pp3-main .pp3-img{
	display: block;
	width: 100%;
	margin-top: 0.65rem;
	margin-bottom: 0.8rem;
}
.pp3 .pp3-main div p{
	line-height: 0.44rem;
	color:#595757;
	text-align: center;
	font-size: 0.24rem;
}
.pp3 .pp3-main div{
	margin-top: 0.4rem;
}


.pp4{
	width: 11rem;
	margin-left: 5.7rem;
	padding-top: 1.5rem;
	padding-bottom: 1.2rem;
}
.pp4 .pp-title .p1{
	font-size: 0.65rem;
	color:#b61521;
	font-weight: normal;
}
.pp4 .pp-title .p2{
	font-size: 0.29rem;
	color:#b0b1b1;
}
.pp4 .pp-title .p1::before,
.pp4 .pp-title .p1::after{
	width: 2.85rem;
	height:0.73rem;
	top:0.25rem;
}
.pp4 .pp-title .p1::before{
	background: url(../img/pp/iconL3.png) no-repeat;
	left: -1.65rem;
}
.pp4 .pp-title .p1::after{
	background: url(../img/pp/iconR3.png) no-repeat;
	right:-1.65rem;
}
.pp4 .pp4-main ul{
	text-align:center;
	font-size: 0;
	margin-top:0.6rem;
	position:relative;
}
.pp4 .pp4-main ul::after{
	content:"";
	display: inline-block;
	width: 11rem;
	height: 3.6rem;
	background-color: #d5d5d5;
	position:absolute;
	bottom: 0.7rem;
	left: 0;
}
.pp4 .pp4-main ul li{
	width: 3.33rem;
	height: 2.3rem;
	display: inline-block;
	margin:0 0.06rem;
	margin-top: 0.5rem;
	position:relative;
	z-index: 2;
}
.pp4 .pp4-main ul li img{
	display:block;
	width: 100%;
	height: 100%;
}
.pp4 .pp4-main ul li:hover{
	transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transition: all 0.4s;
	z-index: 33;
}
.pp4 .pp4-main p{
	width: 10.2rem;
	border-top:2px solid #3f3f3f;
	margin:0 auto;
	margin-top: 1rem;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.44rem;
	padding-top: 0.4rem;
}




.pp5{
	width: 11rem;
	margin-left: 5.7rem;
	padding-top: 1.5rem;
	padding-bottom: 1.7rem;
}
.pp5 .pp-title .p1{
	font-size: 0.34rem;
}
.pp5 .pp-title .p2{
	font-size: 0.48rem;
}
.pp5 .pp-title .p1::before,
.pp5 .pp-title .p1::after{
	width:1.7rem;
	height:0.77rem;
	top:0.1rem;
}
.pp5 .pp-title .p1::before{
	background: url(../img/pp/iconL4.png) no-repeat;
	left: -1.95rem;
}
.pp5 .pp-title .p1::after{
	background: url(../img/pp/iconR4.png) no-repeat;
	right:-1.95rem;
}
.pp5 .pp5-main{
	margin-top: 0.6rem;
}
.pp5 .pp5-main .p1{
	font-weight: bold;
}
.pp5 .pp5-main .p1 .span1{
	font-size: 0.25rem;
	color:#a5a6a6;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
}
.pp5 .pp5-main .p1 .span2{
	color:#b61521;
	font-size: 0.22rem;
	display: inline-block;
	vertical-align: middle;
}
.pp5 .pp5-main img{
	display: block;
	width: 100%;
	margin-top: 0.4rem;
}
.pp5 .pp5-main .p2{
	font-size: 0.24rem;
	color:#595757;
	margin-top: 0.2rem;
}
.pp5 .pp5-main .p2 span{
	color:#b71521;
}
.pp5 .pp5-main .line{
	width: 100%;
	height: 2px;
	background-color: #3f3f3e;
	margin-top:0.4rem;
}
